body {
  color: #333333;
  font-size:15px;
  font-family: 'Livvic', sans-serif;
  position: relative;
}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  background:#fff;
}
.top-nav {
    background: #26a1cb;
    padding: 8px 0;
    color: #fff;
}
.top-right {
    float: right; line-height:0;
}
.contact-phn img, .contact-mail img {
	display: inline;
	margin-right: 5px;
}
.contact-phn {
    margin-right: 15px;
    vertical-align: middle;
}
.contact-mail{ vertical-align: middle;}
.social-icons {
    display: inline-block;
}
.social-icons i {
    color: #26a1cb;
    font-size: 20px;
    background: #fff;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    padding: 4px 0;
    border-radius: 50px;
}
.social-icons i:hover{
	color:#fff;
	background:#fe5555;
}
.social-icons span {
    display: inline-block;
    text-align: center;
    margin-left: 4px;
}
.social-icons p {
    font-size: 10px;
    margin: 0 0 9px 0;
}
.navbar-nav > li > a {
    color: #000;
	padding:30px 15px;
}
.navbar-toggle {
	background-color: #26a1cb;
	margin-top: 32px;
	margin-bottom: 31px;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-brand {
    padding: 18px 0;
}
#navbar {
    padding: 15px 0;
}
.navbar-nav {
    float: right;
}
.nav a {
    color: #fff;
}
.navbar-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 20;
  background: #fff;
  
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #26a1cb;
    color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #26a1cb;
    border-color: transparent;
    color: #fff;
}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 75%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    margin:0 auto;
    min-width: 160px;
    font-size: 16px;
    text-align: left;
    list-style: none;
    background-color: #26a1cb;
    background-clip: padding-box;
    border: none;
    border: none;
    border-radius: 0px;
    float:none;
	right:0;
	padding:15px;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
    line-height: 2.5;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #fff;
    padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  background:#cbf0fd;
  color:#333;
  padding-left:15px;
}
.navbar-brand > img {
    display: block;
    width: 70%;
}
.menu-img {
    padding: 20px;
}
.banner {
    width: 100%;
    background: url("../images/banner.jpg") no-repeat 50% 50%;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: auto;
    background-size: cover;
    background-position: center;
    padding: 4em 0;
	
}
.black-bg{background:#000;}
.banner h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 22px;
    text-align: left;
	text-shadow: 0px 0px 10px #343434;
}
.btn-reg:hover {
    border-radius: 50px;
    background:#26a1cb;
}
.btn.btn-course:hover, .btn-more-videos:hover {
    background: #000;
    border-radius: 50px;
}
.btn.btn-guide:hover{
	border-radius: 50px;
    background:#fe5555;
}
.banner-sub-txt {
    font-size: 17px;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    font-weight: 300;
}
.pink-bg-text {
    color: #fff;
    text-align: left;
    background: #fe5555;
    padding: 8px 12px;
}
.banner-left-sec {
    width: 75%;
    padding: 2em 0;
}
.btn-reg {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 30px;
}
.button{
	border-radius:0px;
	padding: 12px 20px;
}
.btn:active, .btn.active{
	background-image: linear-gradient(to right, rgba(247,46,41,1), rgba(201,4,4,1));
}
.btn:hover, .btn:focus, .btn.focus{ color:#fff;}
.navbar {
    margin-bottom: 0;
    box-shadow: 0px 4px 15px 0px #aaa;
}
.main-heading {
    color: #000;
    font-weight: 600;
    font-size: 40px;
    margin: 0 auto;
    width: 80%;
}
.text-center{text-align:center;}
#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    background: #fe5555;
    width: 100%;
    padding: 15px 0;
}
#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,.4);
    display: inline-block;
}
#clockdiv div > span {
    padding: 2px 8px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
    color: #000;
}
.smalltext{
	padding-top: 5px;
	font-size: 12px;
}
.sale-offer-box {
    background:  rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px 0;
    color: #fff;
}
.sale-offer-box h2 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}
.sale-offer-box h3 {
    font-size: 24px;
    padding: 0 30px;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.sale-offer-box p {
    font-size: 20px;
}
.sale-offer-box .price {
    font-size: 48px;
    font-weight: 600;
}
.btn-course {
    background: #26a1cb;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 0;
}
.btn-guide {
    background: #fff;
    color: #000;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 15px;
}
.offer-btns {
    margin: 30px 0 20px;
}
.offer-btns a {
    margin: 0 10px;
}
.pad-70{
	padding:70px 0;
}
.why-points {
    text-align: center;
}
.why-points img {
    margin: 0 auto;
}
.why-points h2 {
    font-size: 24px;
    text-transform: uppercase;
    width: 80%;
    margin: 12px auto;
    line-height: 30px;
    min-height: 60px;
}
.grey-bg{
	background:#f7f5f5;
}
.mar-b-2{margin-bottom: 2em;}
.mar-b-3{margin-bottom: 3em;}
.mar-b-20{margin-bottom: 20px;}
.sub-heading {
    color: #888;
    text-transform: uppercase;
}
.session h1, .enroll h1, .satisfaction h1 {
    color: #26a1cb;
    font-weight: 700;
    font-size: 50px;
}
.session p, .enroll p, .satisfaction p {
    color: #333;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 16px;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 10px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tcb-product-slider .carousel-control {
    width: 5%;
    background: none;
}
.tcb-product-item a {
  color: #147196;
}
.tcb-product-item a:hover {
  text-decoration: none;
}
.tcb-product-item .tcb-hline {
  margin: 10px 0;
  height: 1px;
  background: #ccc;
}
.tcb-product-info {
  padding: 15px;
}
.tcb-product-info h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
    margin-top: 15px;
}
.tcb-product-info p {
    color: #888;
	letter-spacing: 1px;
    font-size: 14px;
}
.star-rating i {
    margin: 0 3px;
    font-size: 18px;
	color:#26a1cb;
}
.video1, .video2{
	position:relative;
}
.video1 img {
    position: absolute;
    top: -4em;
    left: -5em;
    z-index: -1;
}
.video2 img {
    position: absolute;
    bottom: -4em;
    right: -5em;
    z-index: -1;
}
.video1 iframe, .video2 iframe  {
    width: 100%;
}
.btn-more-videos {
    background: #26a1cb;
    color: #fff;
    text-transform: uppercase;
    margin-top: 5em;
}
.faq {
    background: #26a1cb;
	}
	.faq h1, .faq h5{ color:#fff;}
.faq-bg {
    background-image: url('../images/faq.jpg');
        background-repeat: repeat;
        background-size: auto;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}
.layer {
    background-color: rgba(38, 161, 203, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.faq-right {
    padding: 0 6em 0 2em;
}
.faq-right .main-heading {
    text-align: left;
    margin-bottom: 1em;
    width: 100%;
}
#accordion iframe {
    width: 100%;
    margin-top: 20px;
}
#accordion h4:first-child:first-letter { float: left; color: #428BCA; font-size: 25px; line-height: 40px; padding-top: 0px; padding-right: 12px; padding-left: 3px; }
blockquote {
    font-size: 16px;
    padding: 10px;
    margin: 0;
}
.pad-50 {
    padding: 50px 0;
}
#accordion .panel-default > .panel-heading {
    color: #333333;
    background-color: #e2f7fe;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    border-color: #a3dff3;
}
.panel-default > .panel-heading {
   border-color: #a3dff3;
}
.accreditations-sec p {
    padding: 3em 0 2em;
}
.brand-logo img {
    margin: 0 auto;
}
.brand-logo {
    padding: 0 0 30px 0;
}
.trusted-us {
    padding: 20px;
}
.trusted-us li {
    display: inline-block;
    padding: 15px 5px;
}
footer{
	background:#0d0d0d;
}
.footer-top img {
    margin: 0 auto;
}
.footer-menu li {
    display: inline-block;
    padding: 20px;
}
.footer-menu a {
    color: #fff;
}
.footer-menu a:hover {
    color: #fe5555;
	text-decoration:none;
}
.footer-social-icons .social-icons i {
    color: #0d0d0d;
    font-size: 25px;
    background: #fff;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding: 8px 0;
    border-radius: 50px;
}
.footer-social-icons .social-icons i:hover {
    color: #fff;
    background: #fe5555;
}
.footer-copyright {
    background: #000;
    padding: 15px 0;
}
.footer-copyright p{
   color:#fff;
   margin:0;
   font-size:13px;
}
.footer-top{
    padding: 50px 0 30px;
}
.footer-menu ul, .trusted-us ul {
    padding: 0;
}
.tcb-product-slider .carousel-control {
    top: 53%;
}





/*-----------------MEDIA QUERY-----------------*/

@media all and (max-width: 300px) {
	body {
		font-size: 14px;
	}
}

@media all and (max-width: 500px) {
.banner h1 {
    font-size: 45px;
}
.banner h2 {
    font-size: 20px;
}
.banner{
	padding: 7em 0 4em;
}
.banner h2 {
    width: 100%;
    
}
h1 {
    font-size: 28px !important;
}
}

@media screen and (max-width: 991px){
.banner-left-sec {
    width: 100%;
    padding: 2em 0;
}
.banner {
    padding: 2em 0;
}
.banner h1 {
    font-size: 30px;
    margin-bottom: 15px;
}	
.sale-offer-box h3 {
    font-size: 15px;
    padding: 0 10px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 5px;
}
.sale-offer-box .price {
    font-size: 30px;
    font-weight: 600;
}
#clockdiv {
    font-size: 16px;
	padding: 10px 0;
}
.smalltext {
    font-size: 10px;
}
.btn-course, .btn-guide, .btn-reg {
   padding: 8px 10px;
   }
.offer-btns a {
    margin: 0 3px;
}
.offer-btns {
    margin: 25px 0 15px;
}
.btn {
   font-size: 12px;
}
#clockdiv div > span {
    padding: 0px 3px;
}
.pad-70 {
    padding: 35px 0;
}
.session h1, .enroll h1, .satisfaction h1 {
   font-size: 36px;
}
.session p, .enroll p, .satisfaction p {
    font-size: 13px;
}
.mar-b-3 {
    margin-bottom: 2em;
}
.pad-50 {
    padding: 30px 0;
}
.panel-heading {
    padding: 10px 10px;
    }
}
@media only screen and (max-width:1200px){
}

@media all and (max-width: 768px) {
  .tcb-product-item {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width:767px){
.navbar-brand {
    padding: 20px 15px;
}
.navbar-brand > img {
    width: 100%;
}
.navbar-nav > li > a {
    color: #000;
    padding: 10px 15px;
}
.menu-img, .banner-left-sec span, .banner-sub-txt {
    display: none;
}
.mega-dropdown-menu > li > ul > li > a {
    color: #333;
    padding: 0px 5px;
    text-align: center;
}
.banner-left-sec {
   padding: 0em 0;
   text-align: center;
}
.banner h1 {
    font-size: 25px;
    margin-bottom: 0;
    text-align: center;
}
.btn-reg {
    margin: 20px 0;
}
.main-heading {
    font-size: 28px;
}
.navbar-nav {
    float: none;
    text-align: center;
    
}
.contact_info {
    text-align: center;
}
.top-right {
    float: none;
    text-align: center;
    margin-top: 10px;
}
.why-points h2 {
    font-size: 20px;
    text-transform: uppercase;
    width: 80%;
    margin: 10px auto;
    line-height: 30px;
    min-height: auto;
}
.btn-more-videos {
    margin-top: 2em;
}
.faq-bg {
    display: none;
}
.faq-right {
    padding: 0 2em;
}
.faq h5, .faq-right .main-heading {
   text-align: center;
}
.video-part iframe {
    margin-bottom: 15px;
}
.video-part img {
    display: none;
}
.tcb-product-slider .carousel-control {
    top: 4.5em;
}
}
@media screen and (max-width: 1199px) and (min-width: 992px) {

}

@media screen and (max-width: 991px) and (min-width: 768px) {
 .navbar-brand > img {
    width: 65%;
}
.navbar-nav > li > a {
    font-size: 13px;
    padding: 20px 5px;
}
.header-top p {
    font-size: 13px;
}

.banner h2 {
    font-size: 25px;
   }
.main-heading {
    font-size: 30px;
}

.navbar-brand {
    padding: 11px 0;
}
.dropdown-menu {
    font-size: 13px;
}
.mega-dropdown-menu {
    width: 82%;
    padding: 10px 5px;
}
.why-points h2 {
    font-size: 17px;
    line-height: 22px;
    min-height: 44px;
}
.tcb-product-item {
    margin-bottom: 0;
}
.faq-right {
    padding: 0 2em 0 2em;
}
.faq-right .main-heading {
    font-size: 24px;
}
}
@media only screen and (max-width:479px){
.navbar-brand {
    width: auto;padding: 13px 15px;
}
.navbar-toggle {
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer-menu li {
    display: inline-block;
    padding: 12px 5px 0px;
}
.contact-mail, .contact-phn {
    font-size: 12px;
}
.tcb-product-slider .carousel-control {
    top: 3em;
}
}
@media only screen and (max-width:370px){

}