@@include('includes/@layout-first.html', {
"pageTitle" : "UNI-Prep",
"header": true,
"headerClass": "",
"bodyClass": ""
})

<section class="accreditation-info gm-section-spacers">
  <div class="container">
    <article class="heading">
      <h1 class="heading__capt">Accreditations & Affiliations​​</h1>
    </article>

    <div class="row">
      <div class="col-sm-4">
        <div class="accreditation-info__logo">
          <img src="../images/acc.jpg" class="img-responsive w-100" alt="">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="accreditation-info__content gm-z-index-step position-relative mb-md-0 mb-5">
          <p>ACCREDITAT accreditation is a division of Training Issues Ltd, an international learning and development
            body. Underpinning all that ACCREDITAT does is the principle of 'Excellence via Competence'. ACCREDITAT
            accredits and moderates TEFL/TESOL Providers for face-to-face, online, and distance learning courses, so
            long as they can meet the demanding standards, which are available on the Standards and Evidence page.</p>
          <p>UNI-Prep's TESOL Certificate program is accredited by ACCREDITAT, ensuring that we meet ACCREDITAT's
            rigorous standards and requirements. ACCREDITAT is one of the largest and most respected TESOL accrediting
            body around the world.</p>
          <p>Below is our Certificate of Accreditation issued by ACCREDITAT. One additional benefit offered by
            ACCREDITAT is that UNI-Prep graduates are able to purchase an optional certificate from ACCREDITAT to go
            alongside their TESOL certificate as further proof of the program's accreditation. While purchasing the
            ACCREDITAT certificate is optional, many students will find that it will further bolster their UNI-Prep
            TESOL or TEFL qualification. More information about purchasing the additional certificate is provided in the
            course or via contacting ACCREDITAT.</p>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <div class="diploma-img position-relative">
              <img src="../images/ACCREDITAT_Diploma_2021.png" alt="" class="img-responsive w-100 gm-z-index-step">
              <img src="../images/circle.png" alt="" class="img-responsive circle">
            </div>
          </div>
          <div class="col-md-4">
            <div class="certi-img position-relative">
              <img src="../images/ACCREDITAT_Certificate_2021.png" alt="" class="img-responsive w-100 gm-z-index-step">
              <img src="../images/square.png" alt="" class="img-responsive square">
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="solution-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="moneris-img">
            <img src="../images/Moneris.jpg" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="moneris-content text-white">
          <article class="heading text-left mx-0">
            <h1 class="heading__capt">Moneris Merchant Solutions</h1>
            <p class="heading__text">
              Moneris is Canada's largest merchant provider of merchant services and offers secure payments to
              customers. Moneris is committed to the safety and security of their clients and the customers of clients.
              UNI-Prep strives to maintain all client information completely confidential and has chosen to work with
              Moneris Solutions to accept all major credit cards in order to allow customers security of mind when
              making purchases online and in person.
            </p>
          </article>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="paypal">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 show-tab">
        <div class="row">
          <div class="paypal-img">
            <img src="../images/paypal-img.jpg" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="paypal-content">
          <article class="heading text-left mx-0">
            <h1 class="heading__capt">PayPal Merchant Solutions</h1>
            <p class="heading__text">PayPal is a leading provider of online payment solutions to businesses and
              individuals around the world.
              Your payments are protected with PayPal's Buyer Protection and UNI-Prep is a verified business member with
              PayPal. If you do not have a PayPal account, you may also pay through their website through any major
              credit card.</p>
          </article>
        </div>
      </div>

      <div class="col-md-6 hide-tab">
        <div class="row">
          <div class="moneris-img">
            <img src="../images/paypal-img.jpg" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('includes/@layout-last.html', {
"footer" : true,
"subscribeCardClass": '--is-white',
"subscribeContainerClass": '--is-offset-top'
})
