@@include('includes/@layout-first.html', {
"pageTitle" : "UNI-Prep",
"header": true,
"headerClass": "",
"bodyClass": ""
})


<section class="business-sec gm-section-spacers">
  <div class="container">
    <article class="heading">
      <h1 class="heading__capt">Business Courses</h1>
      <p class="heading__text">
        UNI-Prep's business courses are designed for all levels of employees, with varying
        work experience and education. They are most beneficial to professionals who are seeking foundational knowledge
        in a particular subject area in order to advance their career prospects. Business courses are offered both
        online and in class. Please select from the business courses below to obtain more information about the
        course.
      </p>
    </article>

    <article class="row">
      <div class="courses-list">
        <h3 class="mar-b-20"><em>Courses</em></h3>


        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Business Administration Certificate</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $250.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Business Administration Diploma</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $750.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Marketing Management Certificate</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $250.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Marketing Management Diploma</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $750.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Project Management Certificate</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $250.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Project Management Diploma</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $750.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Quality Assurance Management Certificate</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $250.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

@@include('includes/@layout-last.html', {
"footer" : true,
"subscribeCardClass": '--is-white',
"subscribeContainerClass": '--is-offset-top'
})
