@@include('includes/@layout-first.html', {
"pageTitle" : "UNI-Prep",
"header": true,
"headerClass": "",
"bodyClass": ""
})

<section class="contact-us-sec gm-section-spacers">
  <div class="container">
    <article class="heading">
      <h1 class="heading__capt">General Inquiries</h1>
      <h4 class="heading__text">For all general or course related inquiries, please contact us at:</h4>
    </article>

    <div class="row">
      <div class="col-sm-6">
        <div class="contact-left">
          <img src="../images/Graduation.jpg" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="contact-section">
          <div class="contact-icon"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></div>
          <div class="contact-info">
            <p>1-888-244-1106</p>
          </div>
        </div>
        <div class="contact-section">
          <div class="contact-icon"><i class="fa fa-envelope-open" aria-hidden="true"></i></div>
          <div class="contact-info">
            <p>info@uni-prep.com</p>
          </div>
        </div>
        <div class="contact-right">
          <div class="contact-section">
            <div class="contact-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <div class="contact-info">
              <p>4455 Murphy Canyon Road, Suite 100<br>San Diego, California 92123, USA</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

@@include('includes/@layout-last.html', {
"footer" : true,
"subscribeCardClass": '--is-white',
"subscribeContainerClass": '--is-offset-top'
})
