@@include('includes/@layout-first.html', {
"pageTitle" : "UNI-Prep",
"header": true,
"headerClass": "",
"bodyClass": ""
})
<section class="gm-section-spacers">
  <div class="container">
    <article class="heading">
      <h1 class="heading__capt">Frequently Asked Questions</h1>
    </article>

    <article class="mx-auto">

      <div id="faqBox" class="collapses-box mw-100 ">
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem1"
             aria-expanded="true">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              Why choose UNI-Prep for my TESOL course?
            </h4>
          </div>

          <blockquote id="faqItem1" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">

            <span
              class="mb-3">Please watch this quick video which explains the many benefits of choosing UNI-Prep.</span>
            <figure class="embed-responsive embed-responsive-16by9 mt-4">
              <iframe
                class="embed-responsive-item"
                src="https://www.youtube.com/embed/ClWZYrj-97I"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen="" frameborder="0"></iframe>
            </figure>
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem2"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              Who issues the TESOL Certificates and Diplomas?
            </h4>
          </div>

          <blockquote id="faqItem2" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            The TESOL Certificate and TESOL Diploma are issued by UNI-Prep Institute
            in America. This includes Certificates and Diplomas completed both online and in-class.
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem3"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              Do I need to have teaching experience to enrol in the course?
            </h4>
          </div>

          <blockquote id="faqItem3" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            No, you do not need to have any teaching experience to enrol in the TESOL
            Certificate or TESOL Diploma programs. The TESOL programs are designed to instruct students of all levels
            on how to be an effective English language teacher. Students with and without teaching experience can
            benefit from the course in order to gain further credentials and qualifications to be an English language
            teacher around the world.
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem4"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              Do you check my level of English
              fluency?
            </h4>
          </div>

          <blockquote id="faqItem4" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            No, we do not assess your level of English fluency prior to enrolling in
            the program. Your level of English fluency will show through the quality of your assignments and you will
            have difficulty passing the course if you are not fluent in English. However, please note that different
            English teaching positions require varying levels of English fluency. As such, a high command of the
            English language will be required to obtain a position. We encourage everyone interested in a teaching
            career to take the course; however, do note that each employer will have their own requirements of English
            fluency for a teaching position and may check your level of fluency as a part of the interview
            process.
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem5"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              Is the TESOL Certificate recognized
              internationally?
            </h4>
          </div>

          <blockquote id="faqItem5" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            Yes, both UNI-Prep’s TESOL Certificate and TESOL Diploma programs are
            recognized internationally as a qualification to work as an English language teacher and teach
            English/ESL/EFL to students in non-native English speaking countries. We cannot guarantee that every
            country and every employer will accept our certificates and diplomas because the rules can change anytime
            and each country and emloyer makes the ultimate decision. However, we have thousands of graduates working
            abroad in virtually every country and have not experienced any difficulties with our certificates and
            diplomas being used around the world.
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem6"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              Are the TESOL programs accredited?
            </h4>
          </div>

          <blockquote id="faqItem6" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            Yes, UNI-Prep's TESOL Certificate program is accredited by ACCREDITAT, a
            prominent accreditation body focusing specifically on TESOL & TEFL training program.
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem7"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">What is the lowest price guarantee for the TESOL courses?</h4>
          </div>

          <blockquote id="faqItem7" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            <p>UNI-Prep guarantees that it offers the lowest price for its online TESOL
              Certificate and online TESOL Diploma programs. If you are able to find an accredited online TESOL
              Certificate program from an American organization that is at least 120-hours in length, includes tutor
              support and videos, offers a free electronic certificate and free shipping internationally, includes all
              other features that are included in our course, and is offered at a cheaper price, we will beat their
              price by 10%. Similarly if you are able to find an accredited online TESOL Diploma program from an
              American organization that is at least 250-hours in length, includes tutor support and videos, offers a
              free electronic certificate and free shipping internationally, includes all other features that are
              included in our course, and is offered at a cheaper price, we will beat their price by 10%.</p>
            <p>This price guarantee is in place because we are confident that our course is the lowest priced course
              with all of the features that are included. We want to make sure that our online courses are as
              affordable as possible so that everyone will have an opportunity to take them, regardless of their
              financial circumstances. The price guarantee does not apply to any other online or in-class course
              offered by UNI-Prep. The price guarantee also does not apply to sales/promotional/discounted pricing.
              Please e-mail us and provide the details of the other program so that we may begin the process of
              assessment to see whether it qualifies for our price match program.</p>
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem8"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">Do I need a specific educational background or prerequisites to enrol in the course?</h4>
          </div>

          <blockquote id="faqItem8" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            No, UNI-Prep does not have any educational requirements for any of its
            courses. However, we suggest a minimum education of completion of high school to all TESOL students. This
            is because a high school certificate is usually the minimum requirement to obtain an English teaching
            position internationally.
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem9"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              How will I receive my Certificate?
            </h4>
          </div>

          <blockquote id="faqItem9" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            Upon successful completion of the course, you will be mailed a hard copy
            of the TESOL Certificate or TESOL Diploma at your desired address. You will also receive an electronic
            version of the Certificate or Diploma through e-mail. Both of these are included in the course fees. There
            are no additional fees for shipping and handling.
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem10"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              How long does it take to complete the course?
            </h4>
          </div>

          <blockquote id="faqItem10" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            <p>The TESOL Certificate course has been designed to take approximately
              120-hours to complete. Students will be given 1 year to complete the course, although most students
              complete it within 2-4 weeks.</p>
            <p>The Diploma course has been designed to take approximately 250-hours to complete. Students will be
              given 1 year to complete the course, although most students complete it within 3-5 weeks. It requires
              students to complete extra written assignments and assessments and is therefore a higher qualification
              than the TESOL Certificate.</p>
            <p>The amount of time it will take you to complete the course depends on how quickly you are able to work
              through the material since all our courses are designed to be studied at your own pace.</p>
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem11"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              How is the course done?
            </h4>
          </div>

          <blockquote id="faqItem11" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            Upon enrolling and paying for the course, you will be e-mailed an
            enrolment letter which will contain your login information to UNI-Prep's online Student Portal. The
            Student Portal can be accessed 24/7 from anywhere in the world. It contains all course materials and
            assessments. You will do all course work on the Student Portal. You can complete the course and
            assessments at your own pace and during your free time. There is no specific schedule to adhere to.
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem12"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              How are the assessments done?
            </h4>
          </div>

          <blockquote id="faqItem12" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            All assessments are done on UNI-Prep's online Student Portal. Most
            assessments are in the form of quizzes and written assignments. Students must receive a minimum overall
            grade to pass the course. If you fail a quiz or other assessment, you have the opportunity to resubmit
            it.
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem13"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              Can I get a job as an English-language teacher once I complete the Certificate?
            </h4>
          </div>

          <blockquote id="faqItem13" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            When you obtain the TESOL Certificate, you become qualified to work as an
            ESL/EFL teacher in non-native English speaking countries. However, whether or not you are able to obtain a
            job depends on visa restrictions in the country you are applying to, your educational background, your
            teaching experience and any other requirements that a particular job posting may have. The better your
            education and experience, the more likely you are to obtain a high-paying teaching position.
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem14"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              What are the differences between TESOL/TEFL/ TESL/CELTA?
            </h4>
          </div>

          <blockquote id="faqItem14" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            Essentially, these are all ESL/EFL teaching qualifications and are usually
            interchangeable as qualifications. Most positions ask for any of those qualifications, while some
            employers may be more specific about which qualification they seek. TESOL is the prevalent version of this
            qualification in Canada.
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem15"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              Why do TESOL Certificate programs vary so much in price?
            </h4>
          </div>

          <blockquote id="faqItem15" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            UNI-Prep offers an online TESOL program and an in-class TESOL program. The
            in-class TESOL program is much more expensive than the online program. Similarly, other institutes price
            their TESOL programs at different levels. The online program is purposely priced very competitively in
            order to make it affordable for anyone seeking an English teaching career to obtain their qualification
            and embark on this exciting journey.
          </blockquote>
        </div>
        <div class="collapses-card --second collapsed" data-toggle="collapse" data-target="#faqItem16"
             aria-expanded="false">
          <div class="collapses-card__top d-flex align-items-center">
            <h4 class="m-0">
              Does UNI-Prep notarize or authenticate/legalize/Apostille the certificate?
            </h4>
          </div>

          <blockquote id="faqItem16" class="collapses-card__detail pt-0 collapse" data-parent="#faqBox">
            UNI-Prep is pleased to now offer notarization services for certificates
            and diplomas for a fee. However, we do not get involved in the Apostille/authenication/legalization
            process as they are very complex and country specific. Please visit this page for more information about
            getting your certificate/diploma notarized and authenticated. Please note, it is the responsibility of the
            student to notarize, authenticate, legalize or Apostille certificates and diplomas, not the responsibility
            of the course provider.
          </blockquote>
        </div>
      </div>

    </article>
  </div>
</section>

@@include('includes/@layout-last.html', {
"footer" : true,
"subscribeCardClass": '--is-white',
"subscribeContainerClass": '--is-offset-top'
})







