@@include('includes/@layout-first.html', {
"pageTitle" : "UNI-Prep",
"header": true,
"headerClass": "",
"bodyClass": ""
})

<section class="useful-links">
  <div class="container">
    <article class="heading">
      <h1 class="heading__capt">TESOL Related and Teaching Links</h1>
      <p class="heading__text">The links below include websites that we feel would be useful to TESOL students and
        graduates. They include resources for current or aspiring teachers to use in the classroom, along with a wealth
        of information that will be useful to anyone in the teaching world.</p>
    </article>

    <div class="useful-links__list">
      <a class="useful-card text-decoration-none" href="#">
        <figure class="useful-card__img">
          <img src="../images/games.jpg" alt="" class="img-responsive w-100">
        </figure>
        <h4 class="useful-card__title">Teaching English Games</h4>
        <p class="useful-card__desk mb-0">ESL games, stories, songs and plays for teaching English to kids, teens and
          adults.</p>
      </a>

      <a class="useful-card text-decoration-none" href="#">
        <figure class="useful-card__img">
          <img src="../images/english.jpg" alt="" class="img-responsive w-100">
        </figure>

        <h4 class="useful-card__title">Teach Kids English</h4>
        <p class="useful-card__desk mb-0">Activities targeted towards teaching English to kids.</p>
      </a>

      <a class="useful-card text-decoration-none" href="#">
        <figure class="useful-card__img">
          <img src="../images/teacher.jpg" alt="" class="img-responsive w-100">
        </figure>

        <h4 class="useful-card__title">NZESOL Teacher</h4>
        <p class="useful-card__desk mb-0">Resources and activities for teachers created by an ESOL teacher from New
          Zealand.</p>
      </a>
    </div>
  </div>
</section>

<section class="useful-links --spacer gm-grey-light-bg">
  <div class="container">
    <article class="heading">
      <h1 class="heading__capt">ESL/EFL Teaching Jobs and Recruitment Agencies</h1>
      <p class="heading__text">The links below are a list of our partner job search portals and recruitment
        agencies, or job search tools which would be useful for our TESOL students and graduates..</p>
    </article>

    <div class="useful-links__list">
      <a class="useful-card text-decoration-none" href="#">
        <figure class="useful-card__img">
          <img src="../images/games.jpg" alt="" class="img-responsive w-100">
        </figure>

        <h4 class="useful-card__title">ESL Jobs Lounge</h4>
        <p class="useful-card__desk mb-0">Our favorite job search tool! Links to thousands of new teaching jobs daily.
          Create
          a profile and apply to jobs directly through them. Ask us how to get a trial premium membership for free.</p>
      </a>

      <a class="useful-card text-decoration-none" href="#">
        <figure class="useful-card__img">
          <img src="../images/english.jpg" alt="" class="img-responsive w-100">
        </figure>

        <h4 class="useful-card__title">Teaching China</h4>
        <p class="useful-card__desk mb-0">Access to over 500 direct employers across China, along with teaching
          resources.</p>
      </a>
    </div>
  </div>
</section>

@@include('includes/@layout-last.html', {
"footer" : true,
"subscribeCardClass": '--is-white',
"subscribeContainerClass": '--is-offset'
})

