@@include('includes/@layout-first.html', {
"pageTitle" : "UNI-Prep",
"header": true,
"headerClass": "",
"bodyClass": ""
})

<section class="management-sec gm-section-spacers">
  <div class="container">
    <article class="heading">
      <h1 class="heading__capt">Management Courses</h1>
      <p class="heading__text">UNI-Prep's management courses are designed with Managers and Supervisors in mind.
        They are most beneficial to professionals who are already in a supervisory role or who wish to upgrade their
        skills in order to acquire such a role. Management training is offered both online and in class. In class
        management training is offered in Canada and Dubai. Please select from the courses below to obtain more
        information about the course</p>
    </article>

    <div class="row">
      <div class="courses-list">
        <h3 class="mar-b-20"><em>Courses</em></h3>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Business Management Certificate</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $250.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Business Management Diploma</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $750.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">HR Management Certificate</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $250.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">

              <div class="course-name">
                <h4><a href="">HR Management Diploma</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $750.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Marketing Management Certificate</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $250.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Marketing Management Diploma</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $750.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Project Management Certificate </a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $250.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Project Management Diploma</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $750.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Strategic Management Certificate</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $250.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Strategic Management Diploma</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $750.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('includes/@layout-last.html', {
"footer" : true,
"subscribeCardClass": '--is-white',
"subscribeContainerClass": '--is-offset-top'
})








