@@include('includes/@layout-first.html', {
"pageTitle" : "UNI-Prep",
"header": true,
"headerClass": "",
"bodyClass": ""
})

<section class="m-Scholarship gm-section-spacers">
  <div class="container">
    <article class="heading">
      <h1 class="heading__capt">UNI-Prep's Merit Scholarship</h1>
    </article>

    <div class="row">
      <div class="col-sm-6">
        <div class="m-scholarship-img">
          <img src="../images/m-scholarship.jpg" alt="" class="img-responsive w-100">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="acc-content">
          <p>UNI-Prep offers several merit scholarships annually. Scholarship recipients will receive a 25% discount on
            any program that UNI-Prep offers, both online and in-class. If you would like to apply for a UNI-Prep Merit
            Scholarship, please click on the link below to download the application form. </p>
          <div class="eligible-pts">
            <p>In order to be eligible for a scholarship, a student must meet the below criteria:</p>
            <ul>
              <li>Demonstrate a <strong>strong command</strong> of the <strong>English language</strong>.</li>
              <li>Demonstrate <strong>financial need</strong> through <strong>supporting documentation</strong>.</li>
            </ul>
          </div>
          <p>Completed and signed applications must be submitted to <a href="">info@uni-prep.com</a>. All applicants
            will receive a decision via e-mail within 1 week of applying. All merit scholarship recipients must agree to
            provide a picture and review upon completing the course for showcasing scholarship recipients.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="scholarship-app-form text-center">
          <div class="custom-animated">
            <i class="fa fa-angle-down custom-animated__angle custom-animated__angle--1"></i>
            <i class="fa fa-angle-down custom-animated__angle custom-animated__angle--2"></i>
            <i class="fa fa-angle-down custom-animated__angle custom-animated__angle--3"></i>
          </div>
          <a href="" class="mt-4">UNI-Prep Merit Scholarship Application Form </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="t-Scholarship gm-section-spacers gm-grey-light-bg">
  <div class="container">
    <article class="heading">
      <h1 class="heading__capt">UNI-Prep's Merit Scholarship</h1>
    </article>

    <div class="row">
      <div class="col-sm-6 show-tab">
        <div class="t-scholarship-img">
          <img src="../images/t-scholarship.jpg" alt="" class="img-responsive w-100">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="acc-content">
          <p>UNI-Prep also offers a scholarship to current undergraduate or post-graduate university students. The
            scholarship is awarded to 2 students annually and is awarded on a rolling basis. Scholarship recipients will
            receive a full scholarship for UNI-Prep Institute's online TESOL Diploma program which qualifies students to
            teach English overseas. To apply to UNI-Prep's TESOL Scholarship, please click on the link below to download
            the application form.</p>
          <div class="eligible-pts">
            <p>In order to be eligible for a scholarship, a student must meet the below criteria:</p>
            <ul>
              <li>Be a <strong>current university student</strong> at any university around the world.</li>
              <li>Demonstrate <strong>academic accomplishments and financial need</strong> through <strong>supporting
                documentation</strong>.
              </li>
            </ul>
          </div>
          <p>Completed and signed applications must be submitted to <a href="">info@uni-prep.com</a>. All applicants
            will receive a decision via e-mail within 4 weeks of applying. All scholarship recipients must agree to
            provide a picture and review upon completing the course for showcasing scholarship recipients. </p>
        </div>
      </div>
      <div class="col-sm-6 hide-tab">
        <div class="m-scholarship-img">
          <img src="../images/t-scholarship.jpg" alt="" class="img-responsive w-100">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="t-scholarship-app-form text-center">
          <div class="custom-animated">
            <i class="fa fa-angle-down custom-animated__angle custom-animated__angle--1"></i>
            <i class="fa fa-angle-down custom-animated__angle custom-animated__angle--2"></i>
            <i class="fa fa-angle-down custom-animated__angle custom-animated__angle--3"></i>
          </div>
          <a href="" class="mt-4">UNI-Prep TESOL Scholarship Application Form</a>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('includes/@layout-last.html', {
"footer" : true,
"subscribeCardClass": '--is-white',
"subscribeContainerClass": '--is-offset-top'
})



