@@include('includes/@layout-first.html', {
"pageTitle" : "UNI-Prep",
"header": true,
"headerClass": "",
"bodyClass": ""
})

<section class="tesol-sec gm-section-spacers">
  <div class="container">
    <article class="heading">
      <h1 class="heading__capt">TESOL Specialization Courses</h1>
      <p class="heading__text">UNI-Prep offers a number of TESOL specialization courses that are especially
        suitable for graduates of any TESOL or TEFL program. Students of UNI-Prep's TESOL Diploma program have all of
        the these specialization courses included in their course. These specialization courses are short and focused on
        a specific area of instruction. They are very helpful for students that want to teach specific areas and to gain
        more in-depth knowledge on a particular subject or student group. They are all offered online. You will receive
        a separate certificate upon completion of each of these courses. Please select from the courses below to obtain
        more information about each course.</p>
    </article>

    <div class="row">
      <div class="courses-list">
        <h3 class="mar-b-20"><em>Courses</em></h3>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Teaching English Online</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $99.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Teaching English to Young Learners (TEYL)</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $99.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Teaching Teenagers</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $99.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Teaching Adults</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $99.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Teaching Grammar - Part 2</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $99.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Teaching English to Beginners</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $99.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Teaching English to Advanced Students</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $99.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Teaching English to Advanced Students</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $99.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Teaching Business English</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $99.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Teaching TOEFL</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $99.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div class="row">
            <div class="col-md-4">
              <div class="course-name">
                <h4><a href="">Teaching IELTS</a></h4>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-price text-center">
                <span>USD $99.00</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="course-status text-center">
                <span>Online</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="course-buttons text-center">
                <a href="">Course Details</a>
                <a href="">Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('includes/@layout-last.html', {
"footer" : true,
"subscribeCardClass": '--is-white',
"subscribeContainerClass": '--is-offset-top'
})



