<article class="plan-card --popular">
  <div class="plan-card__sticker">
    @@include('../_sticker.html', {"sticker": 'default'})
  </div>

  <div class="plan-card__sticker --sales">
    @@include('../_sticker.html', {"sticker": '--right-sales55'})
  </div>

  <div class="plan-card__top">
    <div class="plan-card__capt h4 mb-0">TESOL Diploma <br>250 Hours</div>

    <div class="plan-card__price d-flex align-items-center">
      <mark>$399</mark>
      <mark class="h4 ml-2"><span>$800</span></mark>
    </div>

    <button class="btn btn-dark --gr-red w-100" type="button">Register</button>
  </div>

  <hr>

  <div class="plan-card__details">
    <h4 class="plan-card__capt d-flex justify-content-between mb-4">
      <span>What’s included:</span>
      <button class="btn --caret" type="button" onclick="toggleArrowButton(this)">
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
    </h4>
    <div class="plan-card__list --is-hide">

      <div class="plan-card__item"
           data-toggle="tooltip" data-placement="auto"
           title="Our experienced tutors are available to answer any questions that you may have as you are progressing through the course. If you require further explanation about a topic or have any other general questions, feel free to contact them. They are there to help you successfully pass and complete the program!">
        <i class="fa fa-check"></i>
        <span>Tutor Support</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item"
           data-toggle="tooltip" data-placement="auto"
           title="Our experienced Instructors have created a variety of video lessons to supplement the rest of the material. They are designed to be fun and help present the information visually to make the learning experience easier and more enjoyable for you.">
        <i class="fa fa-check"></i>
        <span>Video Lessons</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item "
           data-toggle="tooltip" data-placement="auto"
           title="We provide a Job Search Guide as part of the course which gives students all of the tools they need to begin applying to jobs even before they complete the course. We have also partnered with schools and recruiters around the world that regularly hire our graduates through our internal job board. Further, we have partnered with ESL Jobs Lounge – a job board specifically for English teachers.">
        <i class="fa fa-check"></i>
        <span>Job Support</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item"
           data-toggle="tooltip" data-placement="auto"
           title="We offer students the option of incorporating a 20-hour practicum into your chosen program. While this is not required to complete the course, we make it available for anyone who wishes to include a practicum component to his or her program. The practicum option is included in the price of the course. After registering in the course, contact us for additional information on how to incorporate the practicum.">
        <i class="fa fa-check"></i>
        <span>Practicum (Optional)</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item"
           data-toggle="tooltip" data-placement="auto"
           title="UNI-Prep Institute is one of the largest TESOL & TEFL course providers worldwide and the UNI-Prep name is trusted internationally. Our TESOL Certificate and TESOL Diploma programs are accredited by ACCREDITAT.">
        <i class="fa fa-check"></i>
        <span>Accredited & Internationally Recognized</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item"
           data-toggle="tooltip" data-placement="auto"
           title="An electronic certificate (in PDF format) will be e-mailed to you immediately upon successful completion of the course. You can print out this certificate or e-mail it to employers while you’re waiting for the hard copy to arrive via mail.">
        <i class="fa fa-check"></i>
        <span>Electronic Certificate (PDF)</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item"
           data-toggle="tooltip" data-placement="auto"
           title="UNI-Prep offers free shipping of your certificate internationally via regular mail. We are not aware of any other TESOL/TEFL course provider that offers free shipping. Most providers charge a surprise fee to ship the certificate and only inform students the fee after they complete the course. Students can also choose to pay for expedited shipping of their certificate via FedEx or DHL.">
        <i class="fa fa-check"></i>
        <span>Free Shipping Worldwide</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item"
           data-toggle="tooltip" data-placement="auto"
           title="UNI-Prep offers free shipping of your certificate internationally via regular mail. We are not aware of any other TESOL/TEFL course provider that offers free shipping. Most providers charge a surprise fee to ship the certificate and only inform students the fee after they complete the course. Students can also choose to pay for expedited shipping of their certificate via FedEx or DHL.">
        <i class="fa fa-check"></i>
        <span>Choice of TESOL or TEFL on Certificate</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item"
           data-toggle="tooltip" data-placement="auto"
           title="Becoming comfortable with teaching grammar to English learners can be difficult. This section focuses solely on how to teach grammar to students and provides great tips and resources to help you become proficient.">
        <i class="fa fa-check"></i>
        <span>Teaching Grammar</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item"
           data-toggle="tooltip" data-placement="auto"
           title="This letter is a great reference to show potential employers! It is issued on official UNI-Prep letterhead and signed by either an Instructor or Executive Member attesting to the education completed by the student. The letter also recommends the graduate for suitable positions. The letter is provided electronically via e-mail.">
        <i class="fa fa-check"></i>
        <span>Letter of Recommendation</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item "
           data-toggle="tooltip" data-placement="auto"
           title="Teaching English online from the comfort of your own home is becoming one of the most popular ways of teaching English. This specialization covers the fundamentals of teaching English online and how it differs from teaching in a traditional classroom setting. It also discusses employment opportunities, along with how to set up your own business offering English lessons. Learn more about this specialization.">
        <i class="fa fa-check"></i>
        <span>Teaching English Online</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item "
           data-toggle="tooltip" data-placement="auto"
           title="This specialization covers fundamentals and best practices of teaching English to young learners, which are typically students under the age of 15. Learn more about this specialization.">
        <i class="fa fa-check"></i>
        <span>Teaching English to Young Learners (TEYL)</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item "
           data-toggle="tooltip" data-placement="auto"
           title="This specialization covers fundamentals and best practices of teaching English to teenagers, which are typically students between the ages of 13 to 18. Learn more about this specialization.">
        <i class="fa fa-check"></i>
        <span>Teaching Teenagers</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item "
           data-toggle="tooltip" data-placement="auto"
           title="This specialization covers fundamentals and best practices of teaching English to adults, which are typically students over the age of 18. Learn more about this specialization.">
        <i class="fa fa-check"></i>
        <span>Teaching Adults</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item "
           data-toggle="tooltip" data-placement="auto"
           title="This specialization expands further upon methodologies and best practices of teaching grammar to English learners. Learn more about this specialization.">
        <i class="fa fa-check"></i>
        <span>Teaching Grammar Part 2</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item "
           data-toggle="tooltip" data-placement="auto"
           title="This specialization covers fundamentals and best practices of teaching English to advanced-level students of all ages. Learn more about this specialization.">
        <i class="fa fa-check"></i>
        <span>Teaching Beginner Students</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item "
           data-toggle="tooltip" data-placement="auto"
           title="The Certificate in Teaching Business English course is a specialization course for those intending to focus on teaching Business English, or those who want to broaden the disciplines of English that they can teach. Business English is the most demanded specialization currently in the market. Learn more about this specialization.">
        <i class="fa fa-check"></i>
        <span>Teaching Business English</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item "
           data-toggle="tooltip" data-placement="auto"
           title="This specialization covers fundamentals and best practices of teaching English to students preparing to take the TOEFL exam. Learn more about this specialization.">
        <i class="fa fa-check"></i>
        <span>Teaching TOEFL Students</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item "
           data-toggle="tooltip" data-placement="auto"
           title="This specialization covers fundamentals and best practices of teaching English to students preparing to take the IELTS exam. Learn more about this specialization.">
        <i class="fa fa-check"></i>
        <span>Teaching IELTS Students</span>
        <button class="btn --info" type="button"></button>
      </div>

      <div class="plan-card__item gm-pointer-events-none align-items-baseline">
        <i class="fa fa-check"></i>

        <div class="mb-0 d-inline-flex flex-column">
          <strong>Upon completion,you will receive:</strong>
          <ul class="plan-card__item-list">
            <li>120-Hour TESOL Certificate</li>
            <li>250-Hour TESOL Diploma</li>
          </ul>
        </div>

        <button class="btn --info" type="button"></button>
      </div>
    </div>
  </div>

  <div class="plan-card__foot">
    <button class="btn btn-light w-100" type="button">Details</button>
  </div>
</article>
