<div class="plan-card__item @@active" data-toggle="tooltip" data-placement="auto" title="@@tooltip">
  <i class="fa fa-check"></i>
  <span>@@name</span>
  <button class="btn --info" type="button"></button>
</div>
