.accreditations {
  @extend %section-spacers;
  @extend %section-gray-bg;

  padding-bottom: rem(290);

  &__logos {
    display: grid;
    grid-auto-flow: column;
    grid-gap: rem(56);

    max-width: 96vw;

    margin: $contentGutterX4 auto;

    overflow: auto;

    @include scroll-disappear;

    img {
      object-fit: cover;
      object-position: center;

      max-height: rem(60);
    }
  }
}
