.benefits {
  --heading-margin: 0 auto #{$contentGutterX5};

  @extend %section-spacers;
  @extend %section-gray-bg;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(240), 1fr));
    grid-gap: $contentGutterX2 $contentGutterX3;
  }

  &__item {
    display: grid;
    grid-template-columns: rem(36) minmax(rem(100), max-content);
    grid-gap: rem(15);
    align-items: center;
    //align-self: baseline;

    .fa {
      font-size: rem(36);

      background: $gr-red-down;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__text {
    font-weight: 500;
    font-size: rem(16);
    line-height: 150%;
  }

  @include max-wide(laptop) {
    --heading-margin: 0 auto #{$contentGutterX4};
  }

  @include min-wide(phones) {
    --heading-margin: 0 auto #{$contentGutterX3};

    &__item {
      align-items: flex-start;
    }

    &__text {
      max-width: rem(200);
    }
  }
}
