$collapses-card-offset: rem(66);
$collapses-card-spacer: var(--collapses-card-spacer, rem(18));

.collapses-box {
  display: grid;
  grid-gap: var(--collapses-box-gap, rem(16));

  width: 100%;
  max-width: rem(686);

  &.--second {
    grid-gap: var(--collapses-box-gap, rem(3));
  }
}

.collapses-card {
  padding: 0;

  color: var(--cl-black);

  border: 1px solid var(--cl-gray-light);
  border-radius: rem(16);
  background: var(--cl-white);

  filter: drop-shadow(0 2px rem(28) rgba(1, 25, 72, 0.06));

  &__top {
    position: relative;

    padding: $collapses-card-spacer rem(18) $collapses-card-spacer $collapses-card-offset;

    font-weight: bold;
    font-size: rem(24);
    line-height: rem(30);

    cursor: pointer;

    &:before {
      position: absolute;
      top: 50%;
      left: var(--collapses-card-caret-left, rem(32));

      font: normal normal normal rem(24)/1 FontAwesome;

      color: var(--collapses-card-caret-color, $cl-primary);
      content: var(--collapses-card-caret-content, "\f0da");

      transform: rotate(var(--collapses-card-caret-rotate, 0)) translate(var(--collapses-card-caret-translate, 0, -50%));
    }

    &:after {
      position: absolute;
      top: 97%;
      left: 0;

      height: rem(5);
      width: var(--collapses-card-line-width, 0);;

      content: '';

      background: url("data:image/svg+xml,%3Csvg width='38' height='5' viewBox='0 0 38 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2H35V3H0V2Z' fill='%2350B8EA'/%3E%3Cpath d='M33 2.5C33 1.11929 34.1193 0 35.5 0C36.8807 0 38 1.11929 38 2.5C38 3.88071 36.8807 5 35.5 5C34.1193 5 33 3.88071 33 2.5Z' fill='%2350B8EA'/%3E%3C/svg%3E%0A") no-repeat center left;
      transition: width .3s linear;
    }
  }

  &__detail {
    margin: 0;

    padding: $collapses-card-spacer rem(18) $collapses-card-spacer $collapses-card-offset;
  }

  &[aria-expanded="true"] {
    --collapses-card-caret-rotate: 90deg;
    --collapses-card-line-width: #{rem(40)};
    --collapses-card-caret-translate: #{rem(-8)}, 0;

    border-color: $cl-primary;
  }

  &.--second {
    --collapses-card-caret-content: "\f055";
    --collapses-card-caret-left: #{rem(24)};
    --collapses-card-caret-translate: 0, -50%;
    --collapses-card-spacer: #{rem(28)};
    --collapses-card-line-width: 0 !important;

    border-radius: 2px;
    border: none !important;
    filter: $sh-collapses;

    &[aria-expanded="true"] {
      --collapses-card-caret-rotate: 0;
      --collapses-card-caret-content: "\f056";
    }
  }

  &.--third {
    --collapses-card-line-width: 0 !important;

    --collapses-card-caret-rotate: 180deg;
    --collapses-card-caret-translate: 0;

    border: none !important;
    border-radius: 0;
    filter: $sh-collapses;

    &[aria-expanded="true"] {
      --collapses-card-caret-rotate: 90deg;
    }

    .collapses-card__top {
      &:before {
        right: $contentGutterX2;
        left: auto;

        font-weight: 900;
        font-size: rem(12);
      }

      &:after {
        content: none;
      }

      h4, .h4 {
        font-size: rem(16);
      }
    }

    .collapses-card__top, .collapses-card__detail {
      padding: $contentGutterX2 rem(44) $contentGutterX2 $contentGutterX2;
    }

    .collapses-card__detail {
      padding-top: 0;

      font-size: rem(16);
      margin: 0;
    }
  }

  @include only-mouse {
    &:hover {
      border-color: $cl-primary;
    }

    &.--second {
      transition: transform .6s linear;

      &:hover {
        transform: scale(1.02);
      }
    }

    .collapses-card__top:hover {
      color: $cl-primary;
    }
  }
}
