.course-content {
  @extend %section-spacers;

  &__table {
    display: grid;
    grid-gap: 0;

    max-width: rem(830);
    margin: 0 0 $contentGutterX3;

    border-radius: rem(16);;
    background: var(--cl-gray-light);

    border: 2px solid $cl-primary;
    box-shadow: $sh-card;

    overflow: hidden;
  }

  &__table-item {
    &:nth-last-of-type(2n) {
      background: var(--cl-white);
    }
  }

  &__table-head,
  &__table-item {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: rem(13) rem(16);
  }

  &__table-head {
    padding: rem(22) rem(16);

    font-weight: bold;
    font-size: rem(20);
    line-height: rem(25);

    color: var(--cl-gray-light);

    background: $cl-primary;
  }

  &__table-col {
    font-size: rem(16);
    line-height: 150%;
  }
}
