.courses-detail {
  @extend %section-spacers;

  .container {
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;

      width: 50vh;
      max-width: rem(700);
      height: 50vh;

      content: '';

      background: $img-dot-round-blue no-repeat center center/ contain;

      transform: translate(-63%, -45%);
    }
  }

  &__capt {
    margin: $contentGutterX2 0 0;
  }

  @include max-wide(tablet) {
    &__capt {
      margin: $contentGutterX2 0 $contentGutterX3;

      text-align: center;
    }
  }

  @include min-wide(laptop) {
    &__accordions {
      position: absolute;
      left: var(--container-gutter);
      right: var(--container-gutter);
    }
  }

  @include min-wide(desktop) {
    --container-limit: #{rem(screens(desktopMd))};
    --container-gutter: #{$contentGutterX2};
  }
}
