$course-info-small-height: var(--course-info-small-height, rem(160));

$course-info-bg: #c8e8ff;

.course-info {
  --slide-is-translate-from: 0, -100vh;
  --slide-is-translate-end: 0, 0;

  top: 0;

  max-height: rem(455);

  padding: rem(96) 0 rem(72);

  background: $course-info-bg;

  transition: max-height $transition-info-bar, top $transition-info-bar, padding-top 1s ease-in-out, padding-bottom $transition-info-bar;
  will-change: max-height, height;

  + * {
    transition: margin-top .8s cubic-bezier(.17, .67, .84, .63);
  }

  &.--small {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    z-index: z-index(header) - $z-index-step;

    height: auto;

    padding: rem(24) 0;

    box-shadow: $sh-card;

    & + * {
      margin-top: calc(var(--header-height) + #{$course-info-small-height}) !important;
    }

    .course-info__capt {
      font-size: rem(34);
    }

    .course-info__aside {
      margin-top: -$contentGutterX2;

      margin-bottom: rem(-160);

      &:before {
        content: none;
      }
    }

    .course-info__detail {
      max-height: 0;
    }

    .course-info__substrate {
      display: none;
    }
  }

  &__wrap {
    display: grid;
    grid-gap: $contentGutterX3;
    grid-template-columns: 2fr max-content;
  }

  &__content {
    color: var(--cl-black);
  }

  &__aside {
    margin-top: rem(-46);
  }

  &__substrate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    height: rem(455);

    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      right: 8vw;
      z-index: -1;

      width: 50vh;
      max-width: rem(700);
      height: 50vh;

      content: '';

      background: $img-dot-round no-repeat center center/ contain;

      transform: translate(0, -30%) scale(1.3);
    }
  }

  &__type {
    margin: $contentGutterX2 0;
  }

  &__type-item {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: $contentGutter;

    padding: rem(4) rem(40) 0 0;

    font-weight: bold;
    font-size: rem(20);
    line-height: rem(25);

    &:before {
      width: rem(26);
      height: rem(26);

      content: '';
    }

    &:not(:last-child) {
      margin-right: rem(32);

      border-right: 1px solid currentColor;
    }

    &:first-child {
      &:before {
        background: $img-data-icon-online no-repeat center center / contain;
      }
    }

    &:last-child {
      &:before {
        background: $img-data-icon-time no-repeat center center / contain;
      }
    }
  }

  &__detail {
    max-height: rem(600);
    max-width: rem(600);

    font-size: rem(18);
    line-height: 160%;

    overflow: hidden;

    transition: max-height $transition-info-bar-content;
    will-change: max-height, height;
  }

  &__capt {
    transition: font-size $transition-info-bar;
  }

  @include max-wide(notebookLg) {
    &__substrate {
      &:before {
        right: 5vw;
      }
    }
  }

  @include max-wide(notebook) {
    &__substrate {
      &:before {
        right: -2vw;
      }
    }
  }

  @include max-wide(desktopMd) {
    max-height: rem(418);

    &.--small {
      &__wrap {
        grid-gap: rem(16);
      }

      &__capt {
        font-size: rem(30);
      }
    }

    &__substrate {
      &:before {
        right: 0;

        transform: translate(23%, -30%) scale(1.15);
      }
    }
  }

  @include max-wide(desktopSm) {
    max-height: rem(400);

    padding: rem(65) 0 rem(38);
  }

  @include max-wide(tablet) {
    padding: rem(32) 0 rem(32);

    &.--small {
      .course-info__aside {
        margin: 0 $containerOffset;

        &:before {
          content: none;
        }
      }

      .course-info__capt {
        margin: 0;

        font-size: rem(24);
      }
    }
  }

  @media (max-width: 668px) {
    max-height: max-content;
  }

  @include max-wide(phones) {
    max-height: none; //rem(480);

    &.--small {
      padding: 0 0;

      .course-info__content {
        display: none !important;
      }
    }

    &__wrap {
      grid-gap: $contentGutter;
      grid-template-columns: none;
    }

    &__aside {
      margin: auto auto rem(-68);
    }
  }

  @include min-wide(fullHD) {
    &__substrate {
      &:before {
        right: 14vw;
      }
    }
  }
}
