.download-guide {
  --container-limit: #{rem(1170)};

  padding: $contentGutterX5 0;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40%;
    z-index: 0;

    content: '';

    background: url("#{$assets-path}guide.jpg") no-repeat center right/cover;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    content: '';

    background: $gr-blue-green;
    opacity: 86%;
  }

  &__top {
    max-width: rem(600);

    color: var(--cl-white);
  }

  &__text {
    max-width: rem(360);

    margin: rem(24) 0 0;

    font-weight: normal;
    font-size: rem(24);
  }

  &__form {
    position: relative;
    display: grid;
    grid-gap: $contentGutter;
    padding: $contentGutterX2;

    max-width: rem(440);

    margin: rem(126) 0 0 -7vw;

    box-shadow: 0 rem(4) rem(36) rgba(0, 0, 0, 0.19);
    border-radius: rem(16);
    background: var(--cl-white);

    &:before {
      position: absolute;
      top: rem(-7);
      right: rem(-7);
      bottom: rem(-7);
      left: rem(-7);
      z-index: -1;

      content: '';

      border-radius: rem(22);
      background: $gr-green-blue;
    }
  }

  @include max-wide(laptop) {
    &__form {
      margin: rem(126) 0 0 -5%;
    }
  }

  @include max-wide(tablet) {
    padding: $contentGutterX4 0;

    &__form {
      margin: $contentGutterX3 10% 0 auto;
    }
  }

  @include max-wide(phones) {
    padding: $contentGutterX4 0;

    &__form {
      margin: $contentGutterX3 $contentGutterX2 0;
    }
  }

  @include min-wide(phones) {
    &__form {
      & > * {
        &:nth-child(1) {
          grid-area: 1/ 1;
        }

        &:nth-child(2) {

          grid-area: 1/ 2;
        }

        &:nth-child(3) {
          grid-area: 2/ 2 span;
        }

        &:nth-child(4) {
          grid-area: 3/ 2 span;
        }

        &:nth-child(5) {
          grid-area: 4/ 2 span;
        }
      }
    }
  }
}
