.faq-about-course {
  @extend %section-spacers;

  --heading-margin: #{0 0 $contentGutterX4};

  min-height: rem(700);

  &__content {
    max-width: rem(686);
  }

  &__bottom {
    margin: $contentGutterX3 auto 0;
  }
}
