$faq-about-us-bg: url('#{$assets-path}faq-bg.svg');

.faq-about-us {
  --heading-margin: #{0 0 $contentGutterX4};

  @extend %section-spacers;
  @extend %section-gray-bg;

  min-height: rem(700);

  overflow: hidden;

  &:before, &:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;

    content: '';

    width: 100%;
    max-width: 68%;
    height: 100%;
  }

  &:before {
    background: linear-gradient(90deg, #F7F8FC 36.45%, rgba(247, 248, 252, 0.695779) 62.31%, rgba(247, 248, 252, 0) 100%);
  }

  &:after {
    right: 0;
    left: auto;
    z-index: 0;

    height: 100%;
    max-width: rem(844);

    margin: auto 0;

    background: $faq-about-us-bg no-repeat bottom right /contain;
  }

  .container {
    z-index: 2;
  }

  &__left {
    max-width: rem(686);
  }

  @include max-wide(phones) {
    --heading-margin: #{0 0 $contentGutterX3};
  }
}
