.first-offer {
  min-height: rem(569);

  color: var(--cl-white);

  background: $img-first-offer-bg no-repeat center center /cover;

  &__left {
    padding-top: $contentGutterX3;
    padding-bottom: $contentGutterX3;
  }

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    content: '';

    background: var(--cl-black);
    opacity: 0.44;
  }

  &__text {
    max-width: rem(436);

    margin: $contentGutterX2 0 rem(33);
  }

  @include max-wide(phonesLg) {
    .row {
      flex-flow: column;
    }

    &__text {
      margin: $contentGutterX2 auto $contentGutterX3;
    }
  }
}
