$info-card-spacer: var(--info-card-spacer, rem(32));

.info-card {
  --timer-color: currentColor;
  --timer-counter-color: var(--cl-white);
  --slide-is-translate-from: 0, -100vh;

  position: relative;
  z-index: 2;

  max-width: rem(340);
  height: max-content;

  padding: 0 $info-card-spacer $info-card-spacer;

  border-radius: 0 0 $elemRadiusSmall $elemRadiusSmall;
  background: $gr-red-to-right-down;

  filter: drop-shadow(0px rem(7) rem(30) rgba(1, 25, 72, 0.1));

  opacity: 0;

  animation: slide-is 3s 1 both linear;

  &:not(.--second) {
    --timer-counter-color: #{$cl-secondary};
    --timer-counter-bg: #{var(--cl-white)};

    color: var(--cl-white);

    &__price {
      sup {
        color: var(--cl-gray-light);
      }
    }
  }

  &.--second {
    background: var(--cl-white);
  }

  &.--small {
    .info-card__video {
      height: 0;

      overflow: hidden;
      visibility: hidden;
    }

    .info-card__price {
      margin: rem(14) 0;
      font-size: rem(32);
    }

    .info-card__timer {
      margin-top: rem(4);
    }
  }

  &:before {
    display: flex;

    height: rem(8);

    margin: 0 (calc(#{$info-card-spacer} * -1));

    content: '';

    background: $cl-secondary;
  }

  &__video {
    margin: 0 (calc(#{$info-card-spacer} * -1));
    height: rem(195);

    background: var(--cl-gray);

    overflow: hidden;

    transition: height $transition-info-bar, visibility $transition-info-bar;
  }

  &__timer {
    margin: rem(14) (calc(#{$info-card-spacer} * -1)) 0;
    padding: 0 rem(20);
  }

  &__sales {
    @extend %sales-in;
  }

  &__price {
    margin: rem(16) 0 rem(24);

    font-weight: bold;
    font-size: rem(48);
    line-height: 1;

    text-shadow: rem(5) rem(4) rem(6) rgba(0, 0, 0, 0.25);

    sup {
      top: rem(2);

      span {
        opacity: 0.6;
      }

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;

        width: 100%;
        height: rem(2);

        content: '';

        background: currentColor;
      }
    }
  }

  @include max-wide(desktopMd) {
    --info-card-spacer: #{$contentGutterX2};

    .timer__counter {
      width: rem(50);

      font-size: rem(22);
      line-height: rem(30);
    }
  }

  @include max-wide(laptop) {
    --info-card-spacer: #{$contentGutter};
  }

  @include max-wide(phones) {
    &.--small {
      max-width: none;

      margin: 0 0;
      padding: 0 0;

      .info-card__timer {
        margin-bottom: rem(10);
      }

      border-radius: 0;

      &:before {
        content: none;
      }

      .info-card__price, .info-card__video {
        display: none !important;
      }
    }

    &__video {
      display: none;

      height: rem(160)
    }

    &__timer {
      margin: rem(0) auto;
    }

    &__price {
      margin: rem(10) 0 rem(16);

      font-size: rem(32);
    }
  }
}
