.plan-card {
  position: relative;

  display: grid;
  grid-gap: rem(48);

  min-width: rem(280);

  padding: $contentGutterX2;

  color: var(--cl-black);

  border: 1px solid var(--cl-gray-light);
  background: var(--cl-white);;
  box-shadow: $sh-card;

  transition: transform .3s linear;

  &.--popular {
    border-color: $cl-secondary;
    box-shadow: $sh-card, 0 0 0 1px $cl-secondary;
  }

  hr {
    padding: 0;
    margin: 0;

    background: var(--cl-black);
  }

  &__price {
    margin: rem(48) 0 rem(24);

    font-weight: bold;
    font-size: rem(42);
    color: var(--cl-black);

    mark {
      text-shadow: $sh-text;
    }

    span {
      position: relative;

      opacity: 0.8;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;

        width: 100%;
        height: rem(2);

        content: '';

        background: currentColor;
      }
    }
  }

  &__sticker {
    position: absolute;
    top: rem(-14);
    left: rem(-14);

    &.--sales {
      top: rem(150);
      right: rem(-14);
      left: auto;
    }
  }

  &__list {
    display: grid;
    grid-gap: rem(14);

    height: max-content;

    transition: height $transition-base;

    overflow: hidden;
  }

  &__item {
    display: grid;
    align-items: center;
    grid-template-columns: rem(12) 1fr rem(14);
    grid-gap: rem(16);

    font-size: rem(14);

    cursor: pointer;

    &-list {
      margin: rem(6) 0 0 rem(20);

      font-size: rem(13);
      line-height: 140%;
    }

    &.--is-none {
      pointer-events: none;

      color: $text-light;

      .fa, .btn.--info {
        visibility: hidden;
      }
    }

    span {
      line-height: 1.1;
    }

    &:last-child {
      min-height: rem(72);
    }

    @include only-mouse {
      &:hover {
        color: $cl-primary;
      }

      &:not(:hover) {
        .btn.--info {
          display: none;
        }
      }
    }

  }

  @include only-mouse {
    &:hover {
      transform: scale(1.01);
    }
  }

  @include max-wide(phonesLg) {
    grid-gap: rem(32);

    &__sticker {
      &.--sales {
        top: rem(120);
      }
    }

    &__list {
      margin-bottom: 0;

      &.--is-hide {
        height: 0;

        margin-bottom: rem(-24);
      }
    }
  }

  @include min-wide(phonesLg) {
    max-width: rem(360);

    &__capt {
      .btn.--caret {
        display: none;
      }
    }
  }
}
