.pricing {
  --heading-margin: 0 auto #{rem(72)};

  position: relative;

  padding: rem(100) 0;

  min-height: rem(485);

  color: var(--cl-white);

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;

    height: rem(485);

    content: '';

    background: url('#{$assets-path}pricing-plan-bg.jpg') no-repeat top center;
  }

  .container {
    z-index: 1
  }

  &__table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
    grid-gap: $contentGutterX3;

    justify-content: center;
    place-items: start center;
  }

  &__item {
    max-width: max-content;
  }

  @include max-wide(laptop) {
    padding: $contentGutterX4 0;
  }
}
