$rating-size: var(--rating-size, rem(18));
$rating-item-gap: rem(5);
$rating-color: var(--rating-color, $cl-primary);
$rating-color-up: var(--rating-color-active, $cl-primary);

.rating {
  width: max-content;
  height: max-content;

  color: $cl-primary;

  &__stars {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: $rating-item-gap;

    font-size: $rating-size;

    overflow: hidden;

    &.--up {
      z-index: 2;
      color: $rating-color-up;
    }

    &.--down {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
    }
  }
}
