.reason-videos {
  @extend %section-spacers;

  --heading-margin: 0 auto #{$contentGutterX4};

  &__videos {
    display: grid;
    grid-gap: $contentGutterX4;

    margin: 0 auto $contentGutterX5;
  }

  &__item-capt {
    margin: $contentGutterX2 0 0;
  }

  .container {
    @extend %is-dot-splash;
  }

  @include max-wide(desktop) {
    &__videos {
      grid-gap: $contentGutterX3;

      margin: 0 auto $contentGutterX4;
    }
  }

  @include max-wide(laptop) {
    &__videos {
      grid-gap: $contentGutterX2;

      margin: 0 auto $contentGutterX3;
    }
  }

  @include min-wide(phonesLg) {
    --heading-margin: 0 auto #{$contentGutterX3};

    &__videos {
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }

    &__item-capt {
      margin: $contentGutter 0 0;
    }
  }
}
