$swiper-container-spacers: rem(80);

.review-videos {
  @extend %section-spacers;

  --swiper-navigation-size: #{rem(37)};
  --heading-margin: #{0 auto $contentGutterX4};

  &.--gray {
    @extend %section-gray-bg;
  }

  .swiper-container {
    margin: 0 auto;

    max-width: rem(1024);
  }

  .swiper-slide {
    min-width: max-content;

    &.swiper-slide-active {
    }
  }

  @include max-wide(desktopMd) {
    .swiper-container {
      margin: 0 6%;
    }

    .swiper-button-prev {
      margin-left: rem(-16);
    }

    .swiper-button-next {
      margin-right: rem(-16);
    }
  }

  @media (min-width: 1024px) and (max-width: 1230px) {
    .swiper-slide.swiper-slide-next {
      margin-left: calc((100% - 52vw) * -1);
    }
  }

  @include max-wide(laptop) {
    --review-video-card-info-show: #{rem(320)};
  }

  @include min-wide(laptop) {
    .swiper-slide {
      &.swiper-slide-next {
        max-width: max-content;

        margin-left: calc((100% - #{rem(618) + $contentGutterX3}) * -1);

        .review-video-card__info {
          display: none !important;
        }
      }
    }
  }
}
