.review-video-card {
  display: grid;
  grid-gap: rem(30);

  &__video {
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      display: flex;
      align-items: center;
      justify-content: center;

      content: '...loading';

      background: var(--cl-gray-light);

      opacity: 0.9;
    }
  }

  &__top {
    display: inline-grid;
    grid-auto-columns: max-content 1fr;
    grid-gap: 0 rem(16);
  }

  &__info {
    max-width: var(--review-video-card-info-show, rem(260));

    overflow: hidden !important;
  }

  &__text {
    color: $text-light;
    font-size: rem(14);
    line-height: 150%;
  }

  &__avatar {
    grid-area: 2 span / 1;

    width: rem(48);
    height: rem(48);

    object-fit: cover;
    object-position: center;

    border-radius: 50%;

    overflow: hidden;
  }

  &__capt {
    grid-area: 1 / 2;

    font-weight: bold;
    font-size: rem(18);
    line-height: 1;
  }

  &__text {
    padding: rem(19) 0 0 rem(38);

    &:before {
      position: absolute;
      top: rem(22);
      left: rem(14);

      content: '“';
      font-size: rem(56);
      font-weight: 500;
    }
  }

  @media (max-width: 720px) {
    padding: 0 rem(10);
  }

  @media (min-width: 720px) {
    grid-auto-flow: column;

    width: max-content;

    &__video {
      width: rem(328);
    }
  }
}
