$sale-offer-box-offset: rem(30);

.sale-offer-box {
  --slide-is-translate-from: 110vw, 0;
  --slide-is-translate-end: 0, 0;
  --slide-is-opacity-from: .5;
  --slide-is-opacity-end: 1;

  position: relative;
  z-index: 1;

  padding: $contentGutterX3;

  text-shadow: $sh-text;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    content: '';

    background-image: $gr-blue-green;
    box-shadow: rem(-7) 0 rem(35) rgba(0, 0, 0, 0.39);
    opacity: 0.8;
  }

  &__first {
    margin: 0 (-$sale-offer-box-offset) 0 0;

    font-size: rem(62);
    line-height: 1;
  }

  &__second {
    margin: rem(20) (-$sale-offer-box-offset/2) rem(5) 0;
  }

  &__third {
    margin: 0 0 $contentGutterX3;

    font-size: rem(18);
    line-height: rem(22);
  }

  &__price {
    margin-left: rem(12);

    font-weight: bold;
    font-size: rem(72);
    line-height: 1;
    text-shadow: $sh-text-2;
  }

  &__end {
    @extend %sales-in;
  }

  @include max-wide(phonesLg) {
    &__first {
      margin: 0;
    }

    &__second {
      margin: $contentGutterX2 auto $contentGutterX3;
    }
  }

  @include min-wide(phonesLg) {
    animation: slide-is 2s both cubic-bezier(.43, .98, .22, 1.18);

    &:before {
      transform: skewX(-13deg) translate($sale-offer-box-offset, 0);
    }
  }
}
