.sticky-down-menu {
  --link-color: var(--cl-white);
  --link-color-hover: var(--cl-white);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  width: 100%;
  max-width: rem(680);
  height: rem(62);

  border-radius: $elemRadius $elemRadius 0 0;
  background: var(--cl-black);
  border-bottom: rem(5) solid $cl-secondary;

  overflow: hidden;
  filter: drop-shadow(0 rem(-5) rem(18) rgba(0, 0, 0, 0.1));

  &.--is-fixed {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: z-index(header);

    transform: translate(-50%, 0);
  }

  &.--is-blue {
    background: $cl-primary;
  }

  &.--is-red {
    background: $cl-secondary;
  }

  &__link {
    place-self: stretch;

    font-weight: bold;
    font-size: rem(10);
    line-height: 150%;

    &:before {
      display: inline-flex;

      height: rem(26);
      width: rem(26);

      margin: 0 auto rem(4);

      content: '';

      background: no-repeat center center /contain;
    }

    &.--call:before {
      background-image: $img-data-icon-call;
    }

    &.--book:before {
      background-image: $img-data-icon-book;
    }

    &.--add:before {
      background-image: $img-data-icon-calendar;
    }
  }

  @include only-mouse {
    &__link {
      &:hover {
        background: var(--sticky-down-menu-hover, var(--cl-gray-dark));
      }
    }

    &.--is-blue {
      --sticky-down-menu-hover: #{$cl-primary-dark};
      background: $cl-primary;
    }

    &.--is-red {
      --sticky-down-menu-hover: #{$cl-secondary-dark};
      background: $cl-secondary;
    }
  }
}
