.sticker {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-items: center;

  min-height: rem(28);
  width: max-content;

  padding: rem(4) rem(9);

  font-size: rem(14);
  line-height: 140%;
  color: var(--cl-white);
  white-space: nowrap;

  background: $cl-secondary;

  &.--small {
    min-height: rem(20);

    padding: rem(1) rem(9);
  }

  &.--popular {
    --sticker-bg: #{$gr-green-blue};

    background: $gr-blue-green;
  }

  &.--gr-blue {
    --sticker-bg: #{$cl-primary-dark};

    background: $gr-primary-colors-to-right;
  }

  &.--blue {
    --sticker-bg: #{$cl-primary-dark};

    background: $cl-primary;
  }

  &.--yellow {
    --sticker-bg: var(--cl-yellow-dark);

    background: var(--cl-yellow);;
  }

  &.--pink {
    --sticker-bg: var(--cl-pink-dark);

    background: var(--cl-pink);
  }

  &.--right {
    &:before {
      right: 0;
      left: auto;

      transform: skewY(-52deg);
    }
  }

  &:before {
    position: absolute;
    top: rem(11);
    left: 0;
    bottom: rem(-9);
    z-index: -1;

    width: rem(14);

    content: '';

    background: var(--sticker-bg, $cl-secondary-dark);

    transform: skewY(52deg);
  }
}
