$subscribe-card-top-offset: rem(-300);
$subscribe-card-down-offset: rem(-148);
$subscribe-card-btn-wdh: var(--subscribe-card-btn-wdh, rem(162));
$subscribe-card-color-bg: var(--cl-black); //#212121;

.subscribe-container {
  padding: rem(58) $contentGutterX3 $contentGutterX3;

  overflow: hidden;

  &.--is-offset {
    margin: $subscribe-card-top-offset auto $subscribe-card-down-offset;
  }

  &.--is-offset-top {
    margin: 0 auto $subscribe-card-down-offset;
  }

  @include max-wide(phones) {
    padding: 0 $contentGutterX2 $contentGutterX3;
  }
}

.subscribe-card {
  position: relative;
  z-index: 1;

  max-width: rem(852);

  padding: rem(42) 27% rem(79) rem(53);

  color: var(--cl-white);

  border-radius: rem(16);
  background: $subscribe-card-color-bg;
  box-shadow: $sh-card;

  &.--is-white {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
    align-items: center;
    grid-gap: $contentGutterX3;

    padding: rem(50);

    max-width: rem(1170);

    color: var(--cl-black);

    border-radius: 0;
    background: var(--cl-white);

    .subscribe-card__input {
      background: var(--cl-gray-light);
    }

    .subscribe-card__capt {
      color: $cl-primary;
    }

    .subscribe-card__text {
      margin: 0;
    }

    .subscribe-card__input, .subscribe-card__btn {
      min-height: rem(60);

      border-radius: 0;
    }

    .subscribe-card__input {
      filter: none;
    }

    .subscribe-card__img {
      display: none !important;
    }
  }

  &__capt {
    margin: 0 0 rem(16);
    padding: 0;

    font-size: rem(32);
    line-height: rem(40);
  }

  &__text {
    max-width: rem(490);

    margin-bottom: rem(50);
  }

  &__input, &__btn {

    border: none;
    box-shadow: none;
    outline: none;
  }

  &__input {
    height: rem(50);
    padding: rem(16) calc(#{$subscribe-card-btn-wdh} + #{rem(20)}) rem(16) rem(20);

    font-size: rem(14);
    line-height: rem(17);

    border-radius: $elemRadiusSmall;

    filter: drop-shadow(0px 6px 14px rgba(0, 0, 0, 0.15));

    @include placeholder {
      color: var(--cl-black);

      opacity: 0.34;
    }

    &:focus {
      box-shadow: 0 0 1px 2px $cl-secondary;

      &:hover {

      }
    }
  }

  &__btn {
    z-index: 1;
    width: $subscribe-card-btn-wdh;

    margin: 0 0 0 calc(#{$subscribe-card-btn-wdh} * -1);

    color: var(--cl-white);
    font-size: rem(16);
    line-height: rem(20);

    border-radius: $elemRadiusSmall;
    background: $cl-secondary;

    @include only-mouse {
      &:hover {
        background: $cl-secondary-dark;
      }
    }
  }

  &__img {
    position: absolute;
    right: rem(-34);
    bottom: rem(-26);
    z-index: -1;

    max-height: calc(100% + #{ rem(80)});
    max-width: 44%;
  }

  @include max-wide(tablet) {
    &.--is-white {
      grid-template-columns: 1fr;
      //grid-gap: $contentGutterX2;
    }
  }

  @include max-wide(phonesLg) {
    --subscribe-card-btn-wdh: #{rem(112)};

    padding: $contentGutterX2 27% rem(79) $contentGutterX2;
  }

  @include max-wide(phones) {
    padding: $contentGutterX2 rem(16) rem(79) rem(16);

    &.--is-white {
      grid-template-columns: 1fr;
      padding: rem(50) $contentGutterX2;
      //grid-gap: $contentGutterX2;
    }
  }
}

