.timer {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: rem(7);

  color: var(--timer-color, var(--cl-white));
  font-weight: bold;

  filter: drop-shadow($sh-filter-ds);

  &__counter {
    width: rem(70);

    padding: 0 rem(5);

    font-size: rem(30);
    line-height: rem(50);
    color: var(--timer-counter-color, inherit);

    border-radius: rem(6);
    background: var(--timer-counter-bg, $cl-secondary);
  }

  &__label {
    margin-bottom: rem(6);

    font-size: rem(12);
    line-height: rem(18);
  }
}
