.useful-links {
  @extend %section-spacers;

  &.--spacer {
    padding-bottom: rem(300);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(28), rem(380)));
    grid-gap: $contentGutterX3;
    justify-content: center;
    align-items: stretch;
  }
}

.useful-card {
  display: grid;
  grid-gap: $contentGutter;
  justify-self: self-start;

  padding: $contentGutterX2;

  //text-decoration: none;

  border-radius: $elemRadius;
  box-shadow: $sh-card;

  background: var(--cl-white);

  transition: all .3s linear;

  @include only-mouse {
    &:hover {
      transform: scale(1.02);

      .useful-card__title {
        color: $cl-primary;
      }
    }
  }

  &__img {
    margin: (-$contentGutterX2) (-$contentGutterX2) 0;

    object-fit: cover;
    object-position: center;

    border-radius: $elemRadius $elemRadius 0 0;

    overflow: hidden;
  }

  &__title {
    font-weight: bold;
    font-size: rem(18);
    color: var(--cl-black);
  }

  &__desk {
    font-size: rem(15);
    line-height: 1.6;
    color: var(--cl-gray-dark);

    @include text-dot-vertical(3);

  }

}
