.why-us {
  @extend %section-spacers;
  @extend %section-gray-bg;

  &__list {
    display: grid;
    grid-gap: rem(67) $contentGutterX2;
    grid-template-columns: repeat(auto-fit, minmax(rem(318), 1fr));

    margin-top: $contentGutterX4;
  }

  &__item {
    display: inline-grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: $contentGutterX2;

    max-width: rem(365);
  }

  &__item-capt {
    margin: rem(8) 0 0;

    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__item-text {
    place-self: baseline;

    font-size: rem(18);
    line-height: 150%;
  }

  @include max-wide(desktopMd) {
    &__item img {
      max-width: rem(70);
    }
  }

  @include max-wide(tablet) {
    &__item img {
      max-width: rem(60);
    }
  }
}
