@@if (infoCardType != 'small' &&  infoCardType != 'second') {
<aside class="info-card d-flex flex-column">
  <article class="info-card__video position-relative">
    <button class="btn --play gm-abs-center gm-z-index-step" type="button">
      <i class="fa fa-play" aria-hidden="true"></i>
    </button>
  </article>


  <div class="info-card__timer d-flex flex-column">
    <strong class="info-card__sales position-relative align-items-center justify-content-center text-nowrap">
      SALE ENDS IN
    </strong>

    @@include('_timer.html')
  </div>

  <div class="info-card__order text-center">
    <div class="info-card__price d-flex align-items-start justify-content-center">
      $199
      <sup class="h4 ml-2"><span>$399</span></sup>
    </div>

    <button class="btn btn-dark w-100" type="button">register now</button>
  </div>
</aside>
}

@@if (infoCardType === 'small') {
<aside class="info-card --small d-flex flex-column">
  <article class="info-card__video position-relative">
    <button class="btn --play gm-abs-center gm-z-index-step" type="button">
      <i class="fa fa-play" aria-hidden="true"></i>
    </button>
  </article>


  <div class="info-card__timer d-flex flex-column">
    <strong class="info-card__sales position-relative align-items-center justify-content-center text-nowrap">
      SALE ENDS IN
    </strong>

    <div id="bigSalesTimer2" class="timer text-center">
      <div class="d-flex flex-column">
        <strong class="timer__label">Days</strong>
        <span class="timer__counter --days"></span>
      </div>
      <div class="d-flex flex-column">
        <strong class="timer__label">Hours</strong>
        <span class="timer__counter --hours"></span>
      </div>
      <div class="d-flex flex-column">
        <strong class="timer__label">Minutes</strong>
        <span class="timer__counter --minutes"></span>
      </div>
      <div class="d-flex flex-column">
        <strong class="timer__label">Seconds</strong>
        <span class="timer__counter --seconds"></span>
      </div>
    </div>

  </div>

  <div class="info-card__order text-center">
    <div class="info-card__price d-flex align-items-start justify-content-center">
      $199
      <sup class="h4 ml-2"><span>$399</span></sup>
    </div>

    <button class="btn btn-dark w-100" type="button">register now</button>
  </div>
</aside>
}

@@if (infoCardType === 'second') {
<aside class="info-card --second d-flex flex-column">
  <article class="info-card__video position-relative">
    <button class="btn --play gm-abs-center gm-z-index-step" type="button">
      <i class="fa fa-play" aria-hidden="true"></i>
    </button>
  </article>

  <div class="info-card__timer d-flex flex-column">
    <strong class="info-card__sales position-relative align-items-center justify-content-center text-nowrap">
      SALE ENDS IN
    </strong>

    <div id="bigSalesTimer3" class="timer text-center">
      <div class="d-flex flex-column">
        <strong class="timer__label">Days</strong>
        <span class="timer__counter --days"></span>
      </div>
      <div class="d-flex flex-column">
        <strong class="timer__label">Hours</strong>
        <span class="timer__counter --hours"></span>
      </div>
      <div class="d-flex flex-column">
        <strong class="timer__label">Minutes</strong>
        <span class="timer__counter --minutes"></span>
      </div>
      <div class="d-flex flex-column">
        <strong class="timer__label">Seconds</strong>
        <span class="timer__counter --seconds"></span>
      </div>
    </div>

  </div>


  <div class="info-card__order text-center">
    <div class="info-card__price d-flex align-items-start justify-content-center">
      $199
      <sup class="h4 ml-2"><span>$399</span></sup>
    </div>

    <button class="btn btn-secondary w-100" type="button">register now</button>
  </div>
</aside>
}
