<article class="sticky-down-menu align-items-center mx-auto @@stickyDownMenuClass">
  <a class="sticky-down-menu__link --call d-inline-flex flex-column align-items-center justify-content-center text-decoration-none w-100">
    <span>Call us</span>
  </a>

  <a class="sticky-down-menu__link --book d-inline-flex flex-column align-items-center justify-content-center text-decoration-none w-100">
    <span>Brochure</span>
  </a>

  <a class="sticky-down-menu__link --add d-inline-flex flex-column align-items-center justify-content-center text-decoration-none w-100">
    <span>Register</span>
  </a>
</article>
