@@if (sticker === 'default'){
<mark class="sticker">
  <strong>BEST VALUE</strong>
</mark>
}

@@if (sticker === 'popular'){
<mark class="sticker --popular">
  <strong>MOST POPULAR</strong>
</mark>
}

@@if (sticker === 'recommended'){
<mark class="sticker --blue">
  <strong>RECOMMENDED</strong>
</mark>
}

@@if (sticker === 'bue-gr'){
<mark class="sticker --gr-blue">
  <strong>BEST VALUE</strong>
</mark>
}

@@if (sticker === 'yellow'){
<mark class="sticker --yellow">
  <strong>BEST VALUE</strong>
</mark>
}

@@if (sticker === 'pink'){
<mark class="sticker --pink">
  <strong>BEST VALUE</strong>
</mark>
}

<!--  ***********  SALES STICKERS  ***********  -->

@@if (sticker === '--right'){
<mark class="sticker --right">
  <strong>BEST VALUE</strong>
</mark>
}

@@if (sticker === '--right-gr'){
<mark class="sticker --popular --right">
  <strong>MOST POPULAR</strong>
</mark>
}

@@if (sticker === '--right-blue'){
<mark class="sticker --blue --right">
  <strong>RECOMMENDED</strong>
</mark>
}

@@if (sticker === '--right-sales40'){
<mark class="sticker --small --gr-blue --right">
  <strong>-40%</strong>
</mark>
}

@@if (sticker === '--right-sales55'){
<mark class="sticker --small --yellow --right">
  <strong>-55%</strong>
</mark>
}

@@if (sticker === '--right-sales65'){
<mark class="sticker --small --pink --right">
  <strong>-65%</strong>
</mark>
}
