<div class="subscribe-container container d-flex justify-content-center @@subscribeContainerClass">
  <div class="subscribe-card @@subscribeCardClass">
    <div>
      <h1 class="subscribe-card__capt">Subscribe Our Newsletters</h1>

      <p class="subscribe-card__text">
        We are proud to be accredited by ACCREDITAT, a leading TESOL & TEFL course accreditor.</p>
    </div>

    <form>
      <div class="d-flex">
        <input class="subscribe-card__input w-100" type="text" placeholder="Enter Your Email Adress">
        <button class="subscribe-card__btn">SUBSCRIBE</button>
      </div>
    </form>

    <svg class="subscribe-card__img" viewBox="0 0 350 390" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M243.962 335.006H138.766V295.052H244.313C252.844 295.052 259.759 301.965 259.759 310.493V319.215C259.759 327.936 252.687 335.006 243.962 335.006Z"
        fill="#FCECDB"/>
      <path
        d="M350 311.49V317.501C350 320.713 349.193 323.721 347.781 326.306C344.947 331.509 339.675 335.005 333.639 335.005H135.525C134.214 335.005 133.152 333.869 133.152 332.468V331.568C133.152 330.168 134.214 329.031 135.525 329.031H256.294C256.939 328.189 257.508 327.277 257.989 326.306C259.119 324.026 259.759 321.427 259.759 318.668V311.027C259.759 309.622 259.589 308.258 259.27 306.961C258.729 304.761 257.761 302.748 256.469 301.028H135.525C134.214 301.028 133.152 299.891 133.152 298.489V297.591C133.152 296.188 134.214 295.052 135.525 295.052H334.637C341.653 295.052 347.571 300.084 349.408 306.961C349.794 308.4 350 309.92 350 311.49Z"
        fill="#9A9A9A"/>
      <path
        d="M349.408 306.961H259.27C258.729 304.761 257.761 302.748 256.469 301.028H135.525C134.214 301.028 133.152 299.891 133.152 298.489V297.591C133.152 296.188 134.214 295.052 135.525 295.052H334.637C341.653 295.052 347.571 300.084 349.408 306.961Z"
        fill="#D2D2D2"/>
      <path d="M138.766 315.029L153.435 315.701L138.766 316.105V315.029Z" fill="#F4D2B8"/>
      <path d="M138.766 321.298L173.664 321.97L138.766 322.374V321.298Z" fill="#F4D2B8"/>
      <path
        d="M123.394 366H226.661V334.922H122.484C114.747 334.922 108.475 341.192 108.475 348.926V351.086C108.475 359.323 115.154 366 123.394 366Z"
        fill="#FE5555"/>
      <path
        d="M221.685 366H339.38V334.922H221.362C213.495 334.922 207.118 341.297 207.118 349.161V351.438C207.118 359.48 213.64 366 221.685 366Z"
        fill="#FCECDB"/>
      <path
        d="M199.343 366H343.353C344.547 366 345.516 365.032 345.516 363.837V363.514C345.516 362.32 344.547 361.352 343.353 361.352H199.343C198.149 361.352 197.18 362.32 197.18 363.514V363.837C197.18 365.032 198.149 366 199.343 366Z"
        fill="#FE5555"/>
      <path
        d="M199.343 339.57H343.353C344.547 339.57 345.516 338.602 345.516 337.407V337.084C345.516 335.89 344.547 334.922 343.353 334.922H199.343C198.149 334.922 197.18 335.89 197.18 337.084V337.407C197.18 338.602 198.149 339.57 199.343 339.57Z"
        fill="#FE5555"/>
      <path d="M339.38 350.461L323.345 350.984L339.38 351.298V350.461Z" fill="#F4D2B8"/>
      <path d="M339.381 343.309L301.232 343.831L339.381 344.146V343.309Z" fill="#F4D2B8"/>
      <path
        d="M301.625 343.727C301.625 343.727 303.26 345.063 303.801 347.257C303.896 347.641 303.958 348.053 303.971 348.485C304.061 351.402 303.971 358.001 303.971 358.001L308.797 354.702L313.611 358.001V349.056C313.611 347.365 313.198 345.72 312.431 344.642C312.06 344.12 311.609 343.728 311.098 343.728H301.625V343.727Z"
        fill="#699DEE"/>
      <path
        d="M301.625 343.727C301.625 343.727 303.26 345.063 303.801 347.257L313.473 347.388C313.473 347.388 313.094 344.245 311.098 343.727H301.625Z"
        fill="#568CDB"/>
      <path
        d="M213.861 295.136H112.222V249.476H214.231C223.251 249.476 230.562 256.785 230.562 265.801V278.44C230.562 287.661 223.085 295.136 213.861 295.136Z"
        fill="#FCECDB"/>
      <path
        d="M230.62 267.194V277.02C230.595 281.217 228.649 284.858 225.789 286.805C224.381 287.76 222.754 288.307 221.026 288.307H109.107C107.796 288.307 106.732 289.577 106.732 291.142V292.302C106.732 293.868 107.796 295.137 109.107 295.137H302.448C307.996 295.137 312.898 291.845 315.86 286.805C317.727 283.63 318.823 279.764 318.823 275.587V267.834C318.823 264.973 318.275 262.264 317.296 259.851C314.81 253.712 309.545 249.478 303.449 249.478H109.107C107.796 249.478 106.732 250.746 106.732 252.311V253.471C106.732 255.037 107.796 256.306 109.107 256.306H221.368C224.051 256.306 226.479 257.67 228.176 259.851C229.678 261.784 230.605 264.358 230.62 267.194Z"
        fill="#90B8CF"/>
      <path
        d="M106.732 291.141V292.301C106.732 293.866 107.796 295.136 109.107 295.136H302.449C307.997 295.136 312.899 291.844 315.86 286.804H225.79C224.382 287.759 222.755 288.306 221.026 288.306H109.107C107.796 288.306 106.732 289.576 106.732 291.141Z"
        fill="#81ADC6"/>
      <path d="M112.222 272.306L126.569 273.074L112.222 273.536V272.306Z" fill="#F4D2B8"/>
      <path d="M112.222 261.798L146.355 262.566L112.222 263.028V261.798Z" fill="#F4D2B8"/>
      <path
        d="M146.004 262.414C146.004 262.414 143.751 263.861 143.006 266.241C142.874 266.657 142.789 267.103 142.772 267.573C142.648 270.735 142.772 277.891 142.772 277.891L136.121 274.313L129.488 277.891V268.192C129.488 266.358 130.057 264.574 131.114 263.406C131.626 262.84 132.248 262.414 132.951 262.414H146.004V262.414Z"
        fill="#F99746"/>
      <path
        d="M146.003 262.413C146.003 262.413 143.75 263.861 143.004 266.241L129.677 266.382C129.677 266.382 130.2 262.974 132.95 262.413H146.003Z"
        fill="#ED7D2B"/>
      <path
        d="M143.305 226.912C152.458 243.101 164.07 249.407 164.07 249.407L212.563 249.749C212.563 249.749 136.322 214.561 143.305 226.912Z"
        fill="#3A4C56"/>
      <path
        d="M179.668 351.928C180.922 353.384 181.071 355.003 180.433 356.726C180.433 356.734 180.428 356.744 180.421 356.75C179.242 359.937 175.396 363.478 170.932 367.009C170.362 367.463 169.854 367.876 169.412 368.258C169.296 368.359 169.18 368.459 169.071 368.56C168.98 368.638 168.894 368.719 168.808 368.794C164.642 372.578 166.193 373.463 158.703 381.15C150.162 389.909 144.323 390.026 142.668 389.212C141.268 388.516 144.156 383.86 147.356 378.625C147.511 378.373 147.662 378.117 147.822 377.862C148.248 377.167 148.671 376.46 149.095 375.76C152.846 369.459 151.915 366.484 151.103 357.062C150.443 349.406 139.497 314.232 139.497 314.232L155.765 311.549C155.765 311.549 160.461 339.529 165.822 343.871C168.688 346.185 171.916 346.237 174.674 347.956C174.869 348.076 175.06 348.198 175.247 348.324C176.815 349.379 178.411 350.467 179.668 351.928Z"
        fill="#FFD0BC"/>
      <path
        d="M179.669 351.927C180.922 353.384 181.072 355.003 180.434 356.726C180.433 356.733 180.429 356.743 180.421 356.75C178.983 359.932 175.233 363.455 170.918 366.977C170.354 367.438 169.856 367.862 169.413 368.258C169.297 368.358 169.181 368.458 169.072 368.559C168.981 368.637 168.895 368.718 168.809 368.793C164.643 372.578 166.194 373.463 158.704 381.15C150.163 389.908 144.324 390.026 142.669 389.211C141.269 388.516 144.157 383.859 147.357 378.625C149.011 378.032 156.7 374.973 162.549 367.599C167.7 361.123 171.164 352.779 174.674 347.957C174.869 348.076 175.061 348.198 175.248 348.324C176.815 349.379 178.411 350.467 179.669 351.927Z"
        fill="#233862"/>
      <path
        d="M48.7237 340.859C47.6852 345.866 40.5423 344.979 32.5688 342.971C24.5952 340.964 26.4773 343.296 15.119 341.958C3.76021 340.62 0.346537 336.359 0.0115019 334.667C-0.288634 333.165 5.33218 332.676 11.3618 332.025C12.1206 331.946 12.8819 331.857 13.6437 331.768C20.4516 330.963 25.4642 326.61 31.6679 323.051C37.5444 319.678 46.3765 305.834 46.3765 305.834L61.9576 307.178C61.9576 307.178 53.6889 319.541 50.4867 324.919C48.6031 328.083 48.6724 332.284 48.8813 335.529C48.9895 337.293 49.0922 339.096 48.7237 340.859Z"
        fill="#FFD0BC"/>
      <path
        d="M32.5688 342.971C24.5952 340.964 26.4773 343.297 15.119 341.959C3.76021 340.621 0.346537 336.36 0.0115019 334.667C-0.288634 333.166 5.33218 332.677 11.3618 332.025L11.4172 332.141C11.4172 332.141 18.2001 337.021 27.6614 337.315C35.3722 337.556 43.5566 335.405 48.8813 335.529C48.9895 337.293 49.0922 339.095 48.7237 340.859C47.6852 345.866 40.5423 344.979 32.5688 342.971Z"
        fill="#233862"/>
      <path
        d="M109.171 241.632L123.468 280.936L142.133 332.256C142.133 332.256 147.293 332.791 152.247 331.404C156.808 330.121 162.056 326.717 162.056 326.717C162.056 326.717 157.161 271.721 147.528 240.102C145.06 231.987 142.275 225.416 139.178 221.708C124.027 203.55 109.171 241.632 109.171 241.632Z"
        fill="#3A4C56"/>
      <path
        d="M124.427 179.48C133.996 176.469 161.2 180.613 188.517 186.159L194.311 176.756L253.427 172.56C253.427 172.56 272.619 215.919 261.751 243.384C260.153 247.42 256.258 249.1 250.944 249.148C250.941 249.151 250.939 249.154 250.937 249.156C250.937 249.156 215.674 249.768 204.255 249.687C174.872 249.48 142.213 229.058 137.975 228.179C131.039 226.742 128.163 240.609 121.115 255.14C114.066 269.671 55.3712 319.25 55.3712 319.25C55.3712 319.25 46.404 319.276 42.7096 317.861C38.7366 316.339 37.2932 314.39 37.2932 314.39C37.2932 314.39 102.847 186.271 124.427 179.48Z"
        fill="#485963"/>
      <path
        d="M195.232 95.4198C216.191 107.148 258.704 131.457 258.927 131.303C258.927 131.303 274.573 137.324 283.515 131.478C298.419 121.734 306.561 95.2862 279.594 72.2856C266.144 60.8142 256.551 57.9773 255.219 39.8031C254.496 29.943 241.25 -2.67451 218.839 0.175769C216.966 0.413999 215.08 0.580461 213.194 0.506699C210.58 0.403533 206.26 0.754897 201.812 3.35947C189.088 10.8109 163.722 90.7145 195.232 95.4198Z"
        fill="#8D929E"/>
      <path
        d="M212.935 85.6864C212.843 85.7457 223.262 89.384 230.268 86.3413C236.858 83.4855 241.912 72.7144 241.814 72.7079C238.826 72.5494 235.564 69.9139 233.158 52.7564L231.882 53.204L210.429 60.7501C210.429 60.7501 211.931 67.6248 212.887 74.1667C213.694 79.6599 214.11 84.9189 212.935 85.6864Z"
        fill="#FFD0BC"/>
      <path
        d="M210.429 60.7499C210.429 60.7499 211.343 65.5678 212.613 72.453C224.919 70.3279 230.104 59.8343 231.882 53.2038L210.429 60.7499Z"
        fill="#EBC0AE"/>
      <path
        d="M207.195 67.54C207.195 67.54 236.499 63.8186 233.9 45.6109C231.3 27.4033 233.332 14.6605 214.512 16.2673C195.691 17.8736 193.056 25.339 192.445 31.6272C191.834 37.9153 199.504 68.0389 207.195 67.54Z"
        fill="#FFD0BC"/>
      <path
        d="M193.582 21.6649C193.582 21.6649 212.21 37.9428 224.949 39.3343C237.688 40.7258 242.543 36.6689 242.543 36.6689C242.543 36.6689 235.073 30.3792 230.622 20.2824C229.31 17.3065 226.509 15.2507 223.27 14.9481C214.172 14.0984 196.918 13.6184 193.582 21.6649Z"
        fill="#8D929E"/>
      <path
        d="M205.308 20.3012C205.308 20.3012 198.996 26.3168 196.989 30.7978C195.053 35.1223 194.408 45.4918 195.897 49.6229C195.897 49.6229 186.262 30.566 191.858 21.3792C197.791 11.6387 205.308 20.3012 205.308 20.3012Z"
        fill="#8D929E"/>
      <path
        d="M187.978 128.625C188.446 187.875 187.891 175.491 194.334 181.158C195.886 182.522 200.272 183.36 206.049 183.783C224.213 185.117 256.179 182.349 257.417 179C261.691 167.414 258.757 163.784 262.38 146.025C262.758 144.136 263.223 142.091 263.768 139.866C266.77 127.672 269.638 123.536 259.432 103.84C250.176 85.9983 240.533 71.5027 239.652 72.017C214.798 86.5296 212.889 74.1706 212.889 74.1706C212.889 74.1706 187.749 99.7249 187.978 128.625Z"
        fill="#50B8EA"/>
      <path
        d="M123.468 280.936L142.133 332.256C142.133 332.256 147.293 332.791 152.247 331.404C156.808 330.121 162.057 326.717 162.057 326.717C162.057 326.717 157.161 271.721 147.529 240.102L123.468 280.936Z"
        fill="#485963"/>
      <path
        d="M212.888 74.1664C212.888 74.1664 187.391 78.3035 184.323 89.2431C181.255 100.183 163.201 164.498 163.201 164.498C163.201 164.498 176.132 166.915 182.155 160.978C188.179 155.041 203.358 105.654 203.358 105.654L212.888 74.1664Z"
        fill="#50B8EA"/>
      <path
        d="M206.049 183.782C224.214 185.116 256.179 182.349 257.418 179C261.691 167.413 258.758 163.784 262.38 146.024L253.789 121.29C253.789 121.29 255.045 148.774 246.888 155.944C238.74 163.113 213.604 169.659 209.622 175.67C207.7 178.554 206.43 181.451 206.049 183.782Z"
        fill="#458AB6"/>
      <path
        d="M226.952 172.374C226.952 172.374 209.052 168.257 206.148 169.827C203.244 171.397 196.133 177.139 195.234 179.148C194.334 181.158 201.685 177.664 204.072 177.042C205.618 176.639 209.67 178.078 211.676 178.763C220.117 181.642 225.312 180.228 225.312 180.228L226.952 172.374Z"
        fill="#FFB27D"/>
      <path
        d="M239.668 72.0037C239.668 72.0037 263.73 73.6559 271.981 85.3336C283.597 101.772 306.375 171.64 292.974 180.843C277.88 191.206 224.597 183.099 224.597 183.099C224.597 183.099 222.881 174.793 225.379 170.799C227.876 166.804 268.054 160.607 269.919 158.768C271.785 156.93 247.021 122.499 247.06 116.944C247.1 111.39 239.668 72.0037 239.668 72.0037Z"
        fill="#50B8EA"/>
      <path
        d="M205.245 174.809C205.245 174.809 201.454 179.627 200.219 180.196C198.984 180.766 198.189 180.616 198.189 180.616L200.753 176.079L205.245 174.809Z"
        fill="#FFB27D"/>
      <path
        d="M206.148 169.828L195.189 175.052C195.189 175.052 195.648 175.815 196.994 175.763C198.339 175.712 201.74 174.496 201.74 174.496L206.148 169.828Z"
        fill="#FFB27D"/>
      <path d="M202.555 188.014L116.161 187.405L90.6289 122.618L176.889 123.226L202.555 188.014Z" fill="#E4E4E4"/>
      <path d="M115.167 184.88L229.249 185.685L229.232 188.202L116.162 187.404L115.167 184.88Z" fill="#C8C8C8"/>
      <path
        d="M138.198 155.256C137.563 152.981 138.889 151.149 141.161 151.165C143.433 151.181 145.789 153.039 146.425 155.314C147.06 157.589 145.734 159.421 143.462 159.405C141.19 159.389 138.833 157.531 138.198 155.256Z"
        fill="white"/>
    </svg>
  </div>
</div>


