<div id="bigSalesTimer" class="timer text-center">
  <div class="d-flex flex-column">
    <strong class="timer__label">Days</strong>
    <span class="timer__counter --days"></span>
  </div>
  <div class="d-flex flex-column">
    <strong class="timer__label">Hours</strong>
    <span class="timer__counter --hours"></span>
  </div>
  <div class="d-flex flex-column">
    <strong class="timer__label">Minutes</strong>
    <span class="timer__counter --minutes"></span>
  </div>
  <div class="d-flex flex-column">
    <strong class="timer__label">Seconds</strong>
    <span class="timer__counter --seconds"></span>
  </div>
</div>
