@include keyframes(slide-is) {
  from {
    transform: translate(var(--slide-is-translate-from, -100vw, 0));
    opacity: var(--slide-is-opacity-from, 0);
  }

  to {
    transform: translate(var(--slide-is-translate-end, 0, 0));
    opacity: var(--slide-is-opacity-end, 1);
  }
}

@include keyframes(smooth-opacity) {
  0% {

    opacity: var(--show-item-from, 0);
  }

  100% {
    opacity: var(--show-item-from, 1);
  }
}

@keyframes loader-rounding {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
@include keyframes(repeat-bg-animate) {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -50vw 0;
  }
}

@include keyframes(login-aside-scale) {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

@include keyframes(swipe-down) {
  0% {
    opacity: 0.75;
    transform: translateY(-8px);
  }

  50% {
    transform: translateY(15px) scale(0.9);
    opacity: 0.3;
  }

  100% {
    opacity: 0.75;
    transform: translateY(-8px);
  }
}

@include keyframes(line-repeat) {
  from {
    background-position: var(--line-repeat-position-from, 0 0);
  }

  to {
    background-position: var(--line-repeat-position-to, rem(200) 0);
  }
}

@include keyframes(modal-show) {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@include keyframes(modal-show-fade) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*/

/*
@include keyframes(modal-show-blur) {
  0% {
    filter: blur((0));
  }
  100% {
    filter: blur(($modal-backdrop-blur - 2px));
  }
}
*/
