* {
  margin: 0;
  padding: 0;
}

*, :after, :before {
  box-sizing: border-box;

  //transition: all .2s ease;
}

ul, figure {
  padding: 0;
  margin: 0;
}

html {
  font-family: $font-family-primary;
  font-size: $base-font-size-color;
  font-weight: normal;
  text-align: left;
  letter-spacing: normal;
  line-height: $base-line-height;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @include content-scale($contentScale);
}

body {
  position: relative;

  margin: 0;
  padding: var(--header-height) 0 0;

  //color: $base-font-color;

  background-color: $background-color;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  opacity: 0;

  animation: smooth-opacity 1.5s .6s 1 forwards cubic-bezier(.17, .67, .83, .67);
  /*  &.--is-sticky-spacer {
      padding: calc(var(--header-height) + #{rem(200)}) 0 0;
    }*/
}

a {
  color: var(--link-color, $link-color);

  cursor: pointer;
  user-select: none;

  text-decoration: var(--link-text-decoration, $link-text-decoration);

  &:hover {
    color: var(--link-color-hover, $link-color-hover);
  }
}

mark {
  padding: 0;

  color: inherit;
  background-color: transparent;
}

.container {
  @if $customContainer {
    width: 100%;
    max-width: var(--container-limit, auto);

    padding-right: var(--container-gutter, 0);
    padding-left: var(--container-gutter, 0);
    margin-right: auto;
    margin-left: auto;
  }

  //@media (max-height: 420px) {
  //  @include phones-fit-max-evn(16px);
  //}
}

h1, .h1 {
  @include max-wide(phonesLg) {
    @include font-size(#{$h1-font-size /$scale-delta});
  }

  @include max-wide(phones) {
    @include font-size(#{$h1-font-size /$scale-delta2});
  }
}

h2, .h2 {
  @include max-wide(phonesLg) {
    @include font-size(#{$h2-font-size /$scale-delta});
  }

  @include max-wide(phones) {
    @include font-size(#{$h2-font-size /$scale-delta2});
  }
}

h3, .h3 {
  @include max-wide(phonesLg) {
    @include font-size(#{$h3-font-size /$scale-delta});
  }

  @include max-wide(phones) {
    @include font-size(#{$h3-font-size /$scale-delta2});
  }
}

h4, .h4 {
  @include max-wide(phonesLg) {
    @include font-size(#{$h4-font-size /$scale-delta});
  }

  @include max-wide(phones) {
    @include font-size(#{$h4-font-size /$scale-delta2});
  }
}

/*

h5, .h5 {
  @include max-wide(phonesLg) {
    @include font-size(#{$h5-font-size /$scale-delta});
  }
}

h6, .h6 {
  @include max-wide(phonesLg) {
    @include font-size(#{$h6-font-size /$scale-delta});
  }
}
*/

.embed-responsive-item {
  animation: smooth-opacity 3s 1s both linear;
}
