%section-spacers {
  padding: $contentGutterX5 0;

  @include max-wide(laptop) {
    padding: $contentGutterX4 0;
  }

  @include max-wide(phones) {
    padding: $contentGutterX3 0;
  }

  //@include max-wide(phones){
  //  padding: $contentGutterX3 0;
  //}
}

%section-gray-bg {
  background: var(--cl-gray-light);
}

%is-dot-splash {
  position: relative;
  z-index: 1;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 50vh;
    max-width: rem(700);
    height: 50vh;

    content: '';

    background: $img-dot-round no-repeat center center/ contain;

    transform: translate(-45%, -28%);
  }
}

%sales-in {
  display: inline-grid;
  grid-template-columns: .3fr 1fr .3fr;
  grid-gap: rem(6);

  margin: 0 auto rem(6);

  font-weight: 500;
  font-size: rem(20);

  &:before, &:after {
    content: '';

    height: 1px;

    background: currentColor; //var(--cl-white)

    opacity: .4;
  }
}
