//.gm-blur {
//  filter: blur(5px);
//
//  &-x2 {
//    filter: blur(10px);
//  }
//
//  &-x3 {
//    filter: blur(15px);
//  }
//}
//
//.gm-offset-container-laptop {
//  @include max-wide(laptop) {
//    margin-right: $containerOffset;
//    margin-left: $containerOffset;
//  }
//}

.gm-sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.gm-pointer-events-none {
  pointer-events: none !important;
}

.gm-vis-hidden {
  visibility: hidden !important;
}

.gm-pointer {
  cursor: pointer !important;
}

.gm-abs-center {
  position: absolute !important;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.gm-z-index-step {
  z-index: $z-index-step;
}

.gm-section-spacers {
  @extend %section-spacers;
}

.gm-grey-light-bg {
  @extend %section-gray-bg;
}

