@font-face {
  font-family: '#{$icon-font-family}';
  src: url('#{$icon-font-path}/#{$icon-font-family}.eot?vpchyo');
  src: url('#{$icon-font-path}/#{$icon-font-family}.eot?vpchyo#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}/#{$icon-font-family}.ttf?vpchyo') format('truetype'),
  url('#{$icon-font-path}/#{$icon-font-family}.woff?vpchyo') format('woff'),
  url('#{$icon-font-path}/#{$icon-font-family}.svg?vpchyo##{$icon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='#{$icon-font-prefix}']:before,
[class*=' #{$icon-font-prefix}']:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#{'.' + $icon-font-prefix} {
  @each $icon-name, $name-var in $icons-font-map {
    &#{$icon-name}:before {
      content: $name-var;
    }
  }
}
