:root {
  //* root sizes
  --container-limit: #{$containerLimit};
  --container-gutter: #{$contentGutter};

  --header-height: #{rem(80)};
  //--footer-height: #{rem(74)};

  //* root colors
  @each $color, $value in $colors-map {
    --cl-#{$color}: #{$value};
  }

  @media (max-width: 1280px) {
    --container-limit: #{screens(desktopMd)};
  }

  @include max-wide(phones) {
    --course-info-small-height: #{rem(90)};
  }
}
