$scroll-size: rem(6) !default;
$scroll-border-radius: 0 !default;
$scroll-thumb-color: var(--cl-gray-hardlight) !default;
$scroll-thumb-color-hover: $text-light !default;
$scroll-track-color: transparent !default;
$scroll-track-line: inset 0 0 0 1px $scroll-thumb-color !default;

@mixin scroll-small {
  //  moz
  scrollbar-width: thin; //$scroll-size;
  scrollbar-color: $scroll-thumb-color $scroll-track-color;

  &::-webkit-scrollbar {
    width: $scroll-size;
    height: $scroll-size;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $scroll-border-radius;
    background: $scroll-thumb-color;

    //transition: background-color .3s linear;

    &:hover {
      background: $scroll-thumb-color-hover;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: $scroll-border-radius;
    background: $scroll-track-color;
    //box-shadow: $scroll-track-line;
  }

  scrollbar-face-color: $scroll-thumb-color;
  scrollbar-track-color: $scroll-track-color;
}

%scroll-small {
  @include scroll-small;
}

%scroll-small-offset {
  @include scroll-offset($scroll-size);
}
