/*
`* In this file, all the variables associated with the project are stored.
//*/

//*  Content variables

$wideScreens: (
  phonesSm: 340px,
  phones: 480px,
  phonesLg: 640px,
  tablet: 768px,
  laptop: 992px,
  desktopSm: 1024px,
  desktopMd: 1170px,
  desktop: 1280px,
  notebook: 1366px,
  notebookLg: 1600px,
  fullHD: 1800px,
  retina: 2100px,
  retina4k: 3656px,
  retina5k: 5100px,
  retina8k: 7600px
);

$contentScale: (
  (
    direction: 'max-width',
    wide: screens(notebook),
    scale: 96%
  ),
  (
    direction: 'max-width',
    wide: screens(tablet),
    scale: 90%
  ),
  (
    direction: 'max-width',
    wide: screens(phones),
    scale: 86%
  ),
  (
    direction: 'max-width',
    wide: screens(phonesSm),
    scale: 84%
  ),
  (
    direction: 'min-width',
    wide: screens(desktop),
    scale: 92%
  ),
  (
    direction: 'max-height',
    wide: screens(phones),
    scale: 86%
  )
);

//* Main sizes
$customContainer: true;
$containerLimit: rem(1280);
$containerOffset: calc(var(--container-gutter) * -1);
$contentGutter: rem(16) !default;
$contentGutterX2: rem(24) !default;
$contentGutterX3: rem(48) !default;
$contentGutterX4: rem(72) !default;
$contentGutterX5: rem(96) !default;
$contentGutterX6: rem(120) !default;

$elemRadiusSmall: rem(16/2);
$elemRadius: rem(16);

$scale-delta: 1.2;
$scale-delta2: 1.3;

//$letterSpacing: rem(1.3);
//$letterSpacingSec: rem(5);

//* Colors
$colors-map: (
  'blue':#50B8EA,
  'blue-dark': #458AB6,
  'red': #FE5555,
  'red-dark' :#D22727,
  'black': #112543,
  'gray-dark': #1A3159,
  'gray': #92A8C1,
  'gray-light':#FBFBFF,
  'white': #fff,
  'yellow': #F5B63F,
  'yellow-dark': #DD9B1F,
  'pink': #EA356F,
  'pink-dark': #DA2760
  //  tangaroa
) !default;

$cl-primary: var(--cl-blue);
$cl-primary-dark: var(--cl-blue-dark);
$cl-secondary: var(--cl-red);
$cl-secondary-dark: var(--cl-red-dark);

$primary: clr('blue') !default;
$secondary: clr('red') !default;

$light: clr('gray-light') !default;
$dark: clr('black') !default;

$text-normal: var(--cl-gray-dark); // var(--cl-black);
$text-light: var(--cl-gray);
//$text-lighten: var(--cl-gray-hardlight);

$background-color: var(--cl-white);

// * Gradients
$gr-red-down: linear-gradient(180deg, $cl-secondary 0%, $cl-secondary-dark 100%);
$gr-blue-green: linear-gradient(111.14deg, #4097F9 0%, #0AF0C7 100%);
$gr-green-blue: linear-gradient(291.14deg, #4097F9 0%, #0AF0C7 100%);
$gr-red-to-right-down: linear-gradient(111.14deg, $cl-secondary 0%, $cl-secondary-dark 100%);
$gr-primary-colors-to-right: linear-gradient(90deg, #50B8EA -0.12%, #458AB6 99.76%);
//$gr-
//$gr-

// * Shadows
$sh-card: 0 rem(14) rem(29) rgba(0, 0, 0, 0.09);
$sh-second: 0 rem(5) rem(15) 3px #ccc;
$sh-header: 0 rem(5) rem(13) rgba(0, 0, 0, 0.07);
$sh-text: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
$sh-text-2: 0 rem(4) rem(13) rgba(0, 0, 0, 0.6);
$sh-filter-ds: rem(6) rem(7) rem(23) rgba(0, 0, 0, 0.25);
$sh-collapses: drop-shadow(0 rem(14) rem(29) rgba(0, 0, 0, 0.09));

//$sh-: ;
//$sh-: ;

// * Borders
$line-border: 1px solid var(--cl-gray-hardlight);

// * images source
$assets-path: '../images/' !default;
$img-dot-round: url('#{$assets-path}dot-round-bg.svg');
$img-dot-round-blue: url('#{$assets-path}dot-round-blue-bg.svg');

$img-data-icon-online: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.2667 1.73333H22.1V1.3C22.1 0.583375 21.5166 0 20.8 0C20.0834 0 19.5 0.583375 19.5 1.3V1.73333H6.5V1.3C6.5 0.583375 5.91663 0 5.2 0C4.48338 0 3.9 0.583375 3.9 1.3V1.73333H1.73333C0.777833 1.73333 0 2.51063 0 3.46667V21.6667C0 22.6227 0.777833 23.4 1.73333 23.4H5.61058C5.85 23.4 6.04392 23.2061 6.04392 22.9667C6.04392 22.7273 5.85 22.5333 5.61058 22.5333H1.73333C1.25558 22.5333 0.866667 22.1444 0.866667 21.6667V6.93333H25.1333V21.6667C25.1333 22.1444 24.7444 22.5333 24.2667 22.5333H22.1C21.8606 22.5333 21.6667 22.7273 21.6667 22.9667C21.6667 23.2061 21.8606 23.4 22.1 23.4H24.2667C25.2222 23.4 26 22.6227 26 21.6667C26 20.8736 26 4.33745 26 3.46667C26 2.51063 25.2222 1.73333 24.2667 1.73333ZM5.63333 3.46667C5.63333 3.70554 5.43888 3.9 5.2 3.9C4.96112 3.9 4.76667 3.70554 4.76667 3.46667C4.76667 2.71359 4.76667 2.0508 4.76667 1.3C4.76667 1.06113 4.96112 0.866667 5.2 0.866667C5.43888 0.866667 5.63333 1.06113 5.63333 1.3V3.46667ZM21.2333 3.46667C21.2333 3.70554 21.0389 3.9 20.8 3.9C20.5611 3.9 20.3667 3.70554 20.3667 3.46667C20.3667 2.71359 20.3667 2.0508 20.3667 1.3C20.3667 1.06113 20.5611 0.866667 20.8 0.866667C21.0389 0.866667 21.2333 1.06113 21.2333 1.3V3.46667Z' fill='%23112543'/%3E%3Cpath d='M22.2555 16.4139C22.6266 16.271 22.6243 15.7437 22.2533 15.6041L13.1533 12.1618C13.0547 12.1244 12.9453 12.1244 12.8467 12.1618L3.7467 15.6041C3.37593 15.7436 3.37317 16.2709 3.74454 16.4139C8.72175 18.323 4.49886 16.703 12.8445 19.9049C12.9448 19.9427 13.0524 19.9437 13.1555 19.9049C15.3727 19.0543 17.5705 18.2112 18.9427 17.6845C19.0175 17.6558 19.0667 17.5841 19.0667 17.504C19.0667 17.4073 18.9953 17.3254 18.8996 17.3122L12.941 16.4903C12.7076 16.4576 12.538 16.2439 12.571 16.0017C12.6035 15.7644 12.8223 15.5992 13.059 15.6317L19.9257 16.5791C19.9362 16.6359 19.9333 16.2642 19.9333 21.6361C19.9333 21.867 20.1076 22.0688 20.338 22.0837C20.5904 22.0999 20.8 21.9002 20.8 21.6513C20.8 16.7642 20.8057 17.0521 20.7881 16.9767L22.2555 16.4139Z' fill='%23112543'/%3E%3Cpath d='M13.4658 20.7139C13.151 20.8329 12.8247 20.8239 12.5391 20.7155C7.91404 18.9414 7.87737 18.9273 7.30141 18.7063C7.12407 18.6382 6.93335 18.7691 6.93335 18.9591V22.5036C6.93335 23.8556 9.88164 25.1334 13 25.1334C16.1184 25.1334 19.0667 23.8556 19.0667 22.5036V18.9591C19.0667 18.7692 18.8763 18.6381 18.699 18.7062C17.2828 19.2496 14.6162 20.2725 13.4658 20.7139Z' fill='%23112543'/%3E%3C/svg%3E%0A");
$img-data-icon-time: url("data:image/svg+xml,%3Csvg width='26' height='29' viewBox='0 0 26 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 11.4277C8.46029 11.4277 4.76666 15.1741 4.76666 19.7787C4.76666 24.3832 8.46029 28.1296 13 28.1296C17.5397 28.1296 21.2333 24.3832 21.2333 19.7787C21.2333 15.1741 17.5397 11.4277 13 11.4277ZM18.4123 16.1015C18.6198 15.9801 18.8847 16.0521 19.0044 16.2625C19.1241 16.4729 19.0531 16.7416 18.8457 16.863C18.6387 16.9844 18.3733 16.9124 18.2536 16.702C18.1345 16.4916 18.2054 16.2229 18.4123 16.1015ZM12.5667 13.1858C12.5667 12.943 12.7606 12.7463 13 12.7463C13.2394 12.7463 13.4333 12.943 13.4333 13.1858V13.6254C13.4333 13.8682 13.2394 14.0649 13 14.0649C12.7606 14.0649 12.5667 13.8682 12.5667 13.6254V13.1858ZM9.53333 13.6885C9.74079 13.5671 10.0057 13.6391 10.1254 13.8495C10.2451 14.0594 10.1741 14.3286 9.96666 14.45C9.7592 14.5709 9.49433 14.4989 9.37462 14.289C9.25491 14.0786 9.32587 13.81 9.53333 13.6885ZM6.5 20.2182C6.26058 20.2182 6.06666 20.0215 6.06666 19.7787C6.06666 19.5358 6.26058 19.3392 6.5 19.3392H6.93333C7.17275 19.3392 7.36666 19.5358 7.36666 19.7787C7.36666 20.0215 7.17275 20.2182 6.93333 20.2182H6.5ZM7.58766 23.4559C7.3802 23.5773 7.11533 23.5053 6.99562 23.2949C6.87591 23.0845 6.94687 22.8158 7.15433 22.6944C7.36125 22.573 7.62666 22.6449 7.74637 22.8554C7.86554 23.0658 7.79458 23.3344 7.58766 23.4559ZM7.74637 16.702C7.62666 16.9124 7.36125 16.9844 7.15433 16.863C6.94687 16.7416 6.87591 16.4729 6.99562 16.2625C7.11533 16.0521 7.3802 15.9801 7.58766 16.1015C7.79458 16.2229 7.86554 16.4916 7.74637 16.702ZM10.1254 25.7079C10.0057 25.9183 9.74079 25.9903 9.53333 25.8688C9.32587 25.7474 9.25491 25.4788 9.37462 25.2683C9.49433 25.0585 9.7592 24.9865 9.96666 25.1074C10.1741 25.2288 10.2451 25.498 10.1254 25.7079ZM13.4333 26.3715C13.4333 26.6144 13.2394 26.8111 13 26.8111C12.7606 26.8111 12.5667 26.6144 12.5667 26.3715V25.932C12.5667 25.6892 12.7606 25.4925 13 25.4925C13.2394 25.4925 13.4333 25.6892 13.4333 25.932V26.3715ZM12.7734 20.6274C12.6948 20.6054 12.6106 20.6243 12.5454 20.6739L9.79333 22.7674C9.60212 22.9129 9.32999 22.874 9.18666 22.6795C9.04312 22.4856 9.08212 22.2098 9.27333 22.0642L12.0252 19.9709C12.0903 19.9214 12.1318 19.8448 12.1331 19.7623C12.1371 19.5016 12.2593 19.2521 12.4643 19.0886C12.5292 19.0369 12.5667 18.9577 12.5667 18.874V15.3984C12.5667 15.1642 12.741 14.9599 12.9713 14.9449C13.2238 14.9284 13.4333 15.131 13.4333 15.3834V18.8739C13.4333 18.9563 13.4689 19.0357 13.533 19.0865C13.736 19.2471 13.8667 19.4977 13.8667 19.7787C13.8667 20.3664 13.3104 20.7777 12.7734 20.6274ZM16.4667 25.8688C16.2592 25.9903 15.9943 25.9183 15.8746 25.7079C15.7549 25.498 15.8259 25.2288 16.0333 25.1074C16.2408 24.9865 16.5057 25.0585 16.6254 25.2683C16.7451 25.4788 16.6741 25.7474 16.4667 25.8688ZM16.6254 14.289C16.5057 14.4989 16.2408 14.5709 16.0333 14.45C15.8259 14.3286 15.7549 14.0594 15.8746 13.8495C15.9943 13.6391 16.2592 13.5671 16.4667 13.6885C16.6741 13.81 16.7451 14.0786 16.6254 14.289ZM19.0044 23.2949C18.8847 23.5053 18.6198 23.5773 18.4123 23.4559C18.2054 23.3344 18.1345 23.0658 18.2536 22.8554C18.3733 22.6449 18.6387 22.573 18.8457 22.6944C19.0531 22.8158 19.1241 23.0845 19.0044 23.2949ZM19.5 20.2182H19.0667C18.8272 20.2182 18.6333 20.0215 18.6333 19.7787C18.6333 19.5358 18.8272 19.3392 19.0667 19.3392H19.5C19.7394 19.3392 19.9333 19.5358 19.9333 19.7787C19.9333 20.0215 19.7394 20.2182 19.5 20.2182Z' fill='%23112543'/%3E%3Cpath d='M24.2667 1.7581H22.1V1.31857C22.1 0.591709 21.5166 0 20.8 0C20.0834 0 19.5 0.591709 19.5 1.31857V1.7581H6.5V1.31857C6.5 0.591709 5.91663 0 5.2 0C4.48338 0 3.9 0.591709 3.9 1.31857V1.7581H1.73333C0.777292 1.7581 0 2.54649 0 3.51619V21.9762C0 22.9459 0.777292 23.7343 1.73333 23.7343H4.33333C4.57275 23.7343 4.76667 23.5376 4.76667 23.2948C4.76667 23.0519 4.57275 22.8552 4.33333 22.8552H1.73333C1.25558 22.8552 0.866667 22.4608 0.866667 21.9762V7.03238H25.1333V21.9762C25.1333 22.4608 24.7444 22.8552 24.2667 22.8552H21.6667C21.4272 22.8552 21.2333 23.0519 21.2333 23.2948C21.2333 23.5376 21.4272 23.7343 21.6667 23.7343H24.2667C25.2227 23.7343 26 22.9459 26 21.9762C26 21.1718 26 4.39941 26 3.51619C26 2.54649 25.2227 1.7581 24.2667 1.7581ZM5.63333 3.51619C5.63333 3.75848 5.43888 3.95571 5.2 3.95571C4.96112 3.95571 4.76667 3.75848 4.76667 3.51619C4.76667 2.75235 4.76667 2.0801 4.76667 1.31857C4.76667 1.07628 4.96112 0.879048 5.2 0.879048C5.43888 0.879048 5.63333 1.07628 5.63333 1.31857V3.51619ZM21.2333 3.51619C21.2333 3.75848 21.0389 3.95571 20.8 3.95571C20.5611 3.95571 20.3667 3.75848 20.3667 3.51619C20.3667 2.75235 20.3667 2.0801 20.3667 1.31857C20.3667 1.07628 20.5611 0.879048 20.8 0.879048C21.0389 0.879048 21.2333 1.07628 21.2333 1.31857V3.51619Z' fill='%23112543'/%3E%3C/svg%3E%0A");
$img-data-icon-call: url("data:image/svg+xml,%3Csvg width='512' height='512' viewBox='0 0 512 512' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M497.39 361.8L385.39 313.8C380.605 311.761 375.288 311.331 370.238 312.576C365.188 313.82 360.679 316.671 357.39 320.7L307.79 381.3C229.947 344.598 167.302 281.953 130.6 204.11L191.2 154.51C195.237 151.227 198.094 146.718 199.339 141.666C200.584 136.613 200.149 131.293 198.1 126.51L150.1 14.51C147.851 9.35411 143.874 5.14448 138.854 2.60701C133.833 0.0695457 128.085 -0.636711 122.6 0.610027L18.6 24.61C13.3117 25.8312 8.59345 28.8088 5.21535 33.0569C1.83725 37.3049 -0.00121821 42.5726 6.05621e-07 48C6.05621e-07 304.5 207.9 512 464 512C469.429 512.004 474.699 510.166 478.949 506.788C483.199 503.409 486.178 498.69 487.4 493.4L511.4 389.4C512.639 383.888 511.917 378.117 509.36 373.08C506.803 368.042 502.57 364.053 497.39 361.8V361.8Z' fill='white'/%3E%3C/svg%3E%0A");
$img-data-icon-book: url("data:image/svg+xml,%3Csvg width='576' height='512' viewBox='0 0 576 512' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M542.22 32.0543C487.42 35.1643 378.5 46.4843 311.26 87.6443C306.62 90.4843 303.99 95.5343 303.99 100.814V464.684C303.99 476.234 316.62 483.534 327.27 478.174C396.45 443.354 496.5 433.854 545.97 431.254C562.86 430.364 575.99 416.824 575.99 400.594V62.7543C576 45.0443 560.64 31.0143 542.22 32.0543ZM264.73 87.6443C197.5 46.4843 88.58 35.1743 33.78 32.0543C15.36 31.0143 0 45.0443 0 62.7543V400.604C0 416.844 13.13 430.384 30.02 431.264C79.51 433.864 179.61 443.374 248.79 478.214C259.41 483.564 272 476.274 272 464.754V100.634C272 95.3443 269.38 90.4943 264.73 87.6443Z' fill='white'/%3E%3C/svg%3E%0A");
$img-data-icon-calendar: url("data:image/svg+xml,%3Csvg width='446' height='507' viewBox='0 0 446 507' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M436 160H12C5.4 160 0 154.6 0 148V112C0 85.5 21.5 64 48 64H96V12C96 5.4 101.4 0 108 0H148C154.6 0 160 5.4 160 12V64H288V12C288 5.4 293.4 0 300 0H340C346.6 0 352 5.4 352 12V64H400C426.5 64 448 85.5 448 112V148C448 154.6 442.6 160 436 160ZM12 192H436C442.6 192 448 197.4 448 204V464C448 490.5 426.5 512 400 512H48C21.5 512 0 490.5 0 464V204C0 197.4 5.4 192 12 192ZM328 332C328 325.4 322.6 320 316 320H256V260C256 253.4 250.6 248 244 248H204C197.4 248 192 253.4 192 260V320H132C125.4 320 120 325.4 120 332V372C120 378.6 125.4 384 132 384H192V444C192 450.6 197.4 456 204 456H244C250.6 456 256 450.6 256 444V384H316C322.6 384 328 378.6 328 372V332Z' fill='white'/%3E%3C/svg%3E%0A");
$img-first-offer-bg: url('#{$assets-path}home-first-bg-2.jpg');

//$img-: url('#{$assets-path}');
//$img-: url('#{$assets-path}');
//$img-: url('#{$assets-path}');
//$img-: url('#{$assets-path}');
//$img-: url('#{$assets-path}');

// * Transitions
$transition-base: .2s linear !default;
$transition-info-bar: .5s linear;
$transition-info-bar-content: .4s cubic-bezier(.17, .67, .84, .63);


// * Fonts main
$body-color: $text-normal !default;
$base-font-size-color: 16px !default;
$base-line-height: rem(24) !default;
$font-letter: rem(2.63);
//$body-bg:

$font-path: "../fonts" !default;
//$font-primary-path: $font-path + "/*/" !default;
//$font-secondary-path: $font-path + "/*/" !default;

$font-family-primary: 'Quicksand', sans-serif;
//$font-family-secondary: 'Gibson', sans-serif;
//$font-family-tertiary: 'Ubuntu', sans-serif;

////* Icons
$icon-font-family: "uniprep-font" !default;
$icon-font-prefix: 'upi-';
$icon-font-path: $font-path + '/#{$icon-font-family}' !default;

$font-family-sans-serif: $font-family-primary;
//$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$icons-font-map: (
);

// * Using font-awesome icons
$fa-check: "\f00c";
$fa-chevron-left: "\f053";
$fa-chevron-right: "\f054";
$fa-info-circle: "\f05a";

//* z-index
$z-index-step: 10 !default;
$z-index: (
  start: 10,
  middle: 50,
  header: 100,
  modal: 1000
) !default;

//* links
//$link-color: $cl-primary !default;
$link-color-hover: currentColor !default;
$link-text-decoration: none !default;

// * headings && text
//$navbar-dark-disabled-color
//$headings-margin-bottom: ;
//$headings-font-family: ;
$headings-font-weight: bold;
//$headings-line-height: ;
//$headings-color: ;


$h1-font-size: rem(42) !default;
$h2-font-size: rem(36) !default;
$h3-font-size: rem(32) !default;
$h4-font-size: rem(24) !default;

$text-muted: $text-light;
// >> bootstrap

//$line-height-base: 150% !default;

//$h5-font-size:;
//$h6-font-size:;

// bootstrap var end <<

// * buttons
$btn-height: rem(46);
$btn-color: var(--cl-white);
$btn-text-transform: uppercase;
$btn-letter-spacing: 0.05em;

$btn-primary-hover-bg-color: $cl-primary-dark;
//$btn-primary-disabled-color: var(--cl-white);
//$btn-primary-disabled-bg-color: var(--cl-gray-hardlight);
$btn-secondary-hover-bg-color: $cl-secondary-dark;
//$btn-secondary-disabled-color: var(--cl-white);
//$btn-secondary-disabled-bg-color: var(--cl-gray-hardlight);
$btn-light-hover-bg-color: var(--cl-black);
$btn-dark-hover-bg-color: var(--cl-gray-light);

// >> bootstrap
$btn-padding-y: rem(11);
$btn-padding-x: rem(20);
$btn-border-width: 0;
$btn-font-size: rem(16);
$btn-font-weight: 700;
$btn-border-radius: 0;
//$btn-border-radius-lg: ;
//$btn-border-radius-sm: ;
$btn-disabled-opacity: .65 !default;
//$btn-link-disabled-color:     $gray-600 !default;
$btn-active-box-shadow: null;
$btn-focus-box-shadow: null;
// bootstrap var end <<

// * forms

$form-group-label-margin: 0 0 rem(12);
$form-group-label-font-size: rem(16);
$form-group-label-font-weight: 500;
$form-group-label-color: $text-normal;

//* checkbox
$form-check-label-font-size: rem(14) !default;
$form-check-label-color: $text-normal !default;
$form-check-label-offset: 0 0 0 rem(16) !default;

$form-check-background: var(--cl-white) !default;
$form-check-mark-size: rem(18) !default;
$form-check-mark-icon-size: 15 !default;
$form-check-mark-radius: 2px !default;
$form-check-mark-border-size: 1px !default;
$form-check-mark-color: var(--cl-black) !default;
$form-check-active-background-color: $cl-primary !default;
$form-check-active-color: var(--cl-white) !default;
$form-check-mark-opacity: 0.2 !default;

//$form-text-margin-top:                  .25rem !default;
//
//$form-check-input-gutter:               1.25rem !default;
//$form-check-input-margin-y:             .3rem !default;
//$form-check-input-margin-x:             .25rem !default;
//
//$form-check-inline-margin-x:            .75rem !default;
//$form-check-inline-input-margin-x:      .3125rem !default;

$form-grid-gutter-width: 10px !default;
$form-group-margin-bottom: 1rem !default;

//$form-grid-gutter-width: 10px !default;
$form-group-margin-bottom: var(--cl-form-group-margin-bottom, rem(16));

$input-placeholder-opacity: 0.6;
$input-placeholder-font-weight: 400;
//$input-disabled-color: ;
//$input-disabled-opacity:;

// >> bootstrap
$label-margin-bottom: rem(16) !default;

$input-padding-y: rem(11.5) !default;
$input-padding-x: rem(24) !default;
//$input-font-family:                     $input-btn-font-family !default;
$input-font-size: rem(14) !default;
$input-font-weight: 600 !default;
//$input-line-height:                     $input-btn-line-height !default;
//
//$input-padding-y-sm:                    $input-btn-padding-y-sm !default;
//$input-padding-x-sm:                    $input-btn-padding-x-sm !default;
//$input-font-size-sm:                    $input-btn-font-size-sm !default;
//$input-line-height-sm:                  $input-btn-line-height-sm !default;
//
//$input-padding-y-lg:                    $input-btn-padding-y-lg !default;
//$input-padding-x-lg:                    $input-btn-padding-x-lg !default;
//$input-font-size-lg:                    $input-btn-font-size-lg !default;
//$input-line-height-lg:                  $input-btn-line-height-lg !default;
//
$input-bg: var(--cl-gray-light) !default;
$input-disabled-bg: var(--cl-gray-light) !default;
//
$input-color: var(--cl-black) !default;
$input-border-color: var(--cl-gray-light) !default;
$input-border-width: 1px !default;
$input-box-shadow: none !default;
//
$input-border-radius: 0 !default;
//$input-border-radius-lg:                $border-radius-lg !default;
//$input-border-radius-sm:                $border-radius-sm !default;
//
//$input-focus-bg:                        $input-bg !default;
$input-focus-border-color: $cl-primary;
//$input-focus-color:                     $input-color !default;
//$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow: none !default;
//
$input-placeholder-color: var(--cl-cl-black) !default;
//$input-plaintext-color:                 $body-color !default;
//
//$input-height-border:                   $input-border-width * 2 !default;
//
//$input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2) !default;
//$input-height-inner-half:               add($input-line-height * .5em, $input-padding-y) !default;
//$input-height-inner-quarter:            add($input-line-height * .25em, $input-padding-y / 2) !default;
//
//$input-height:                          add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;
//$input-height-sm:                       add($input-line-height-sm * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
//$input-height-lg:                       add($input-line-height-lg * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;

// bootstrap var end <<

//* loaders
$loader-round-size: rem(16) !default;
$loader-round-color-fill: $cl-primary !default;
$loader-round-color-bg: rgba(clr('gray'), 0.2) !default;
$loader-round-size-line: em(2) !default;

//* Tooltips
$tooltip-font-size: rem(14) !default;
$tooltip-max-width: rem(283) !default;
$tooltip-color: var(--cl-white);//$text-normal !default;
$tooltip-bg: $cl-primary;  // var(--cl-gray-light) !default;
$tooltip-border-radius: rem(4) !default;
$tooltip-opacity: 1 !default;
$tooltip-padding-y: rem(12) !default;
$tooltip-padding-x: rem(16) !default;
$tooltip-margin: 0 !default;

$tooltip-arrow-width: .8rem !default;
$tooltip-arrow-height: .4rem !default;
$tooltip-arrow-color: $tooltip-bg !default;

$tooltip-btn-top: rem(6);
$tooltip-btn-right: rem(6);
$tooltip-btn-color: var(--cl-black) ;
$tooltip-btn-color-hover: $cl-secondary;
$tooltip-btn-size: #{rem(16)};

