<div class="dropdown-menu">
  <div class="d-flex flex-column">
    <a class="mb-3" href="#">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span>Business Courses</span>
    </a>

    <a class="mb-3" href="#">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span>Management Courses</span>
    </a>

    <a class="mb-3" href="#">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span>FAQ - Business Courses</span>
    </a>

    <a class="mb-3" href="#">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span>Online TESOL</span>
    </a>
  </div>

  <div>
    <img src="../images/menu-img3.jpg">
  </div>
</div>
