<div class="dropdown-menu">
  <div class="d-flex flex-column">
    <a class="mb-3" href="#">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span>Accreditation & Affiliation</span>
    </a>

    <a class="mb-3" href="#">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span>Unlimited Courses - Annual Membership</span>
    </a>

    <a class="mb-3" href="#">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span>Scholarships</span>
    </a>

    <a class="mb-3" href="#">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span>Useful Links</span>
    </a>
  </div>

  <div>
    <img src="../images/menu-img1.jpg">
  </div>
</div>
