<div class="dropdown-menu">
  <div class="d-flex flex-column">
    <a class="mb-3" href="#">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span>TESOL Certificate - 120 Hours</span>
    </a>
    <a class="mb-3" href="#">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span>TESOL Diploma - 250 Hours</span>
    </a>

    <a class="mb-3" href="#">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span>3-Week Live Online TESOL/TEFL Course</span>
    </a>

    <a class="mb-3" href="#">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span>FAQ - TESOL</span>
    </a>
  </div>

  <div>
    <img src="../images/menu-img2.jpg">
  </div>
</div>
