<div id="collapsesBoxInCourses"
     class="collapses-box --second">

  <div class="collapses-card --third collapsed" data-toggle="collapse" data-target="#planCourseItem1" aria-expanded="true">
    <div class="collapses-card__top d-flex align-items-center">
      <h4 class="m-0">What is the TESOL / TEFL Certificate?</h4>
    </div>

    <blockquote id="planCourseItem1" class="collapses-card__detail pt-0 collapse show" data-parent="#collapsesBoxInCourses">
      This certificate qualifies you to teach English overseas and online. Any employer around the world wants to see
      that you have at least a 120-hour TESOL/TEFL Certificate, which our course meets.
    </blockquote>
  </div>

  <div class="collapses-card --third" data-toggle="collapse" data-target="#planCourseItem2" aria-expanded="false">
    <div class="collapses-card__top d-flex align-items-center">
      <h4 class="m-0">How will I receive my Certificate?</h4>
    </div>

    <blockquote id="planCourseItem2" class="collapses-card__detail pt-0 collapse" data-parent="#collapsesBoxInCourses">
      Upon successful completion of the course, you will be mailed a hard copy of the TESOL Certificate
      or TESOL Diploma at your desired address. You will also receive an electronic version of the
      Certificate or Diploma through e-mail. Both of these are included in the course fees. There are no
      additional fees for shipping and handling.
    </blockquote>
  </div>

  <div class="collapses-card --third" data-toggle="collapse" data-target="#planCourseItem3" aria-expanded="false">
    <div class="collapses-card__top d-flex align-items-center">
      <h4 class="m-0">How is the course done?</h4>
    </div>

    <blockquote id="planCourseItem3" class="collapses-card__detail pt-0 collapse" data-parent="#collapsesBoxInCourses">
      Upon enrolling and paying for the course, you will be e-mailed an enrolment letter which will
      contain your login information to UNI-Prep's online Student Portal. The Student Portal can be
      accessed 24/7 from anywhere in the world. It contains all course materials and assessments. You
      will do all course work on the Student Portal. You can complete the course and assessments at your
      own pace and during your free time. There is no specific schedule to adhere to.
    </blockquote>
  </div>
</div>

