<div id="collapsesBoxInPlan"
     class="collapses-box">

  <div class="collapses-card --second" data-toggle="collapse" data-target="#planFaqItem1">
    <div class="collapses-card__top d-flex align-items-center">
      <h4 class="m-0">Who issues the TESOL Certificates and Diplomas?</h4>
    </div>

    <blockquote id="planFaqItem1" class="collapses-card__detail pt-0 collapse" data-parent="#collapsesBoxInPlan">
      The TESOL Certificate and TESOL Diploma are issued by UNI-Prep Institute in America. This includes Certificates
      and Diplomas completed both online and in-class.
    </blockquote>
  </div>

  <div class="collapses-card --second" data-toggle="collapse" data-target="#planFaqItem2" aria-expanded="false">
    <div class="collapses-card__top d-flex align-items-center">
      <h4 class="m-0">Are the TESOL programs accredited?</h4>
    </div>

    <blockquote id="planFaqItem2" class="collapses-card__detail pt-0 collapse" data-parent="#collapsesBoxInPlan">
      Yes! The only things you need to take a course with us are knowledge of English and Internet access. You can be
      living anywhere in the world and a citizen of any country. You don’t need prior education or work experience to
      take a course.
    </blockquote>
  </div>

  <div class="collapses-card --second" data-toggle="collapse" data-target="#planFaqItem3" aria-expanded="false">
    <div class="collapses-card__top d-flex align-items-center">
      <h4 class="m-0">How are the assessments done?</h4>
    </div>

    <blockquote id="planFaqItem3" class="collapses-card__detail pt-0 collapse" data-parent="#collapsesBoxInPlan">
      UNI-Prep is a leading educational service provider offering courses in TESOL / TEFL (Teacher Training), Business
      and Management. We are located in the US and have been offering quality courses for 15+ years.
    </blockquote>
  </div>

  <div class="collapses-card --second" data-toggle="collapse" data-target="#planFaqItem4" aria-expanded="false">
    <div class="collapses-card__top d-flex align-items-center">
      <h4 class="m-0">How will I receive my Certificate? </h4>
    </div>

    <blockquote id="planFaqItem4" class="collapses-card__detail pt-0 collapse" data-parent="#collapsesBoxInPlan">
      UNI-Prep is a leading educational service provider offering courses in TESOL / TEFL (Teacher Training), Business
      and Management. We are located in the US and have been offering quality courses for 15+ years.
    </blockquote>
  </div>
</div>
