<div id="collapsesBoxInHome"
     class="collapses-box">

  <div class="collapses-card collapsed" data-toggle="collapse" data-target="#homeFaqItem1" aria-expanded="true">
    <div class="collapses-card__top d-flex align-items-center">
      <h4 class="m-0">What are TESOL and TEFL?</h4>
    </div>

    <blockquote id="homeFaqItem1" class="collapses-card__detail collapse show" data-parent="#collapsesBoxInHome">
      TESOL and TEFL are certifications that you can obtain through UNI-Prep which will qualify you to teach English
      overseas or online.
    </blockquote>
  </div>

  <div class="collapses-card" data-toggle="collapse" data-target="#homeFaqItem2" aria-expanded="false">
    <div class="collapses-card__top d-flex align-items-center">
      <h4 class="m-0">Can anyone take a course at UNI-Prep?</h4>
    </div>

    <blockquote id="homeFaqItem2" class="collapses-card__detail collapse" data-parent="#collapsesBoxInHome">
      Yes! The only things you need to take a course with us are knowledge of English and Internet access. You can be
      living anywhere in the world and a citizen of any country. You don’t need prior education or work experience to
      take a course.
    </blockquote>
  </div>

  <div class="collapses-card" data-toggle="collapse" data-target="#homeFaqItem3" aria-expanded="false">
    <div class="collapses-card__top d-flex align-items-center">
      <h4 class="m-0">What is UNI-Prep?</h4>
    </div>

    <blockquote id="homeFaqItem3" class="collapses-card__detail collapse" data-parent="#collapsesBoxInHome">
      UNI-Prep is a leading educational service provider offering courses in TESOL / TEFL (Teacher Training), Business
      and Management. We are located in the US and have been offering quality courses for 15+ years.
    </blockquote>
  </div>
</div>
