<!--<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">-->
<!--<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">-->

<!--<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">-->
<!--<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">-->

<!--<link href="../_old_versions/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

<link rel="preconnect" href="https://fonts.gstatic.com">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/style.css">
