<footer class="footer text-center overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="footer__top">
        <img class="footer__logo img-responsive"
             src="../images/logo-white.svg" alt="">
        <div class="d-flex flex-column">
          <div
            class="footer__menu d-flex flex-column flex-lg-row flex-wrap align-items-center justify-content-center text-nowrap">
            <a class="footer__link" href="">About Us</a>
            <a class="footer__link" href="">Business Courses</a>
            <a class="footer__link" href="">TESOL Courses</a>
            <a class="footer__link" href="">Contact</a>
            <a class="footer__link" href="">Blog</a>
            <a class="footer__link" href="">Terms, Conditions & Privacy Policy</a>
          </div>

          <div class="footer__socials">
            <a class="footer__link --soc" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="footer__link --soc" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="footer__link --soc" href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a class="footer__link --soc" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a class="footer__link --soc" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__copy">© 2021 UNI-Prep Corporation. All Rights Reserved.</div>
</footer>
