<header class="header  d-flex align-content-center justify-content-center ">
  <nav class="navbar navbar-static-top navbar-expand-lg p-0 w-100" role="navigation">
    <div class="container position-relative">
      <a class="header__logo navbar-brand d-inline-flex align-items-center" href="index.html">
        <img class="d-inline-flex" src="images/logo.svg">
      </a>

      <button class="button-menu navbar-toggle collapsed"
              type="button"
              data-toggle="collapse" data-target="#collapsibleNavbar">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end " id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item d-flex dropdown">
            <a class="nav-link dropdown-toggle d-inline-flex align-items-center mx-auto text-truncate" href="#"
               data-toggle="dropdown">
              About Us
            </a>

            <!-- Dropdown -->
            @@include('components/dropdowns/_dropdown-menu--about-us.html')
            <!-- Dropdown -->
          </li>

          <li class="nav-item d-flex dropdown  text-truncate">
            <a class="nav-link dropdown-toggle d-inline-flex align-items-center mx-auto" href="#"
               data-toggle="dropdown">
              TESOL & TEFL Courses
            </a>

            <!-- Dropdown -->
            @@include('components/dropdowns/_dropdown-menu--t-courses.html')
            <!-- Dropdown -->
          </li>

          <li class="nav-item d-flex">
            <a class="nav-link d-inline-flex align-items-center mx-auto text-truncate" href="#">Tesol & Tefl
              specializations</a>
          </li>

          <li class="nav-item d-flex dropdown">
            <a class="nav-link dropdown-toggle d-inline-flex align-items-center  mx-auto text-truncate" href="#"
               data-toggle="dropdown">
              Business Courses
            </a>

            <!-- Dropdown -->
            @@include('components/dropdowns/_dropdown-menu--b-courses.html')
            <!-- Dropdown -->
          </li>

          <li class="nav-item d-flex">
            <a class="nav-link d-inline-flex align-items-center mx-auto" href="#">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
