<svg aria-hidden="true" style="position: absolute; display:none!important;  width: 0; height: 0; overflow: hidden;"
     version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <symbol id="sp" viewBox="0 0 32 32">
            <title>sp</title>
        </symbol>
    </defs>
</svg>
