<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"-->
<!--        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"-->
<!--        crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ityped/1.0.3/index.min.js"
        integrity="sha512-QxRh0HtuimfzIqAJLbfH6+uQj3UuJeyQFDCBR9LqKbtDZ8k6t1P0vNWTc/ExvmuHtPsbFSkaUq8IRYIliZN1GA=="
        crossorigin="anonymous"></script>-->

<!--<script src="src/js/holder.min.js"></script>-->
<!--<script src="/src/js/libs/ie10-viewport-bug-workaround.js"></script>-->
<script src="js/main.js"></script>
