.footer {
  padding: rem(213) 0 0;

  color: var(--cl-white);
  background: $cl-primary;

  &__top {
    width: 100%;

    padding: rem(50) 0 rem(30);
  }

  &__logo {
    width: rem(168);
  }

  &__menu {
    margin: rem(52) auto rem(48);
  }

  &__socials {
    display: grid;
    grid-template-columns: repeat(auto-fit,  rem(36));
    grid-gap: $contentGutterX2;
    justify-content: center;

    background: $cl-primary;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0 rem(20);

    color: currentColor;
    font-size: rem(16);
    text-decoration: none!important;

    &:hover {
      color: var(--cl-black);
    }

    &.--soc {
      width: rem(36);
      height: rem(36);

      padding: 0;

      color: $cl-primary;

      border-radius: rem(50);
      background: var(--cl-white);

      i {
        font-size: rem(18);
        line-height: 1;
      }

      &:hover {
        color: var(--cl-white);
        background: $cl-primary;
        box-shadow: 0 0 0 1px var(--cl-white);
      }
    }
  }

  &__copy {
    margin: 0;
    padding: rem(16) 0;

    font-size: rem(13);
    font-style: normal;
    font-weight: bold;

    background: rgba(clr('black'), 0.3);
  }

  @include max-wide(phones){
    padding-top: rem(100);
  }
}
