.header {
  --link-color: currentColor;
  --link-color-hover: #{$cl-primary};

  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: z-index(header);

  min-height: var(--header-height);

  box-shadow: $sh-header;
  background: var(--cl-white);

  &__logo {
    img {
      display: block;
      width: rem(102);
      max-height: rem(44);
    }
  }

  .nav-item {
    &.dropdown.show {
      position: static;

      .nav-link.dropdown-toggle {
        &:after {
          transform: scaleY(-1);
        }
      }
    }
  }

  .nav-link {
    padding: 0 rem(15) !important;

    &:after {
      margin-left: rem(8);
    }
  }

  .navbar-toggle {

  }

  .navbar-nav {
  }

  .dropdown-menu {
    --link-color: var(--cl-white);
    --link-color-hover: var(--cl-white);

    right: 0;
    margin: -1px 0 0;

    border: none;
    border-radius: 0;

    padding: $contentGutterX2 + ($contentGutter/2);

    background: $cl-primary;

    &.show {
      display: grid !important;
      //grid-template-columns: max-content 1fr;
      grid-auto-flow: column;
      grid-gap: $contentGutterX2 + ($contentGutter/2);

      box-shadow: $sh-card;
    }

    img {
      width: 100%;
      max-height: rem(400);

      object-fit: cover;
      object-position: center;
      box-shadow: $sh-card;
    }
  }

  @include max-wide(desktopSm) {
    .container {
      padding: 0 ($contentGutter) !important;
    }

    .nav-item {
      flex-flow: column;

      padding: ($contentGutter/2) 0;
    }
  }

  @include max-wide(laptop) {
    &__logo {
      padding: rem(18.5) rem(18.5) rem(18.5) 0;
    }
  }

  @include min-wide(laptop) {
    .navbar-toggle {
      display: none;
    }

    .nav-link {
      padding: 0 rem(15) !important;

      min-height: var(--header-height);

      @include only-mouse {
        &:hover {
          color: var(--cl-white);

          background: $cl-primary;
        }
      }
    }
  }
}

@include min-wide(desktopSm) {
}
