.form-check {
  position: relative;

  display: inline-flex;
  align-items: center;

  padding-left: 0;

  @include only-mouse {
    &:hover {
      .form-check-label {
        color: $form-check-active-background-color;
      }

      .form-check-mark {
        border-color: $form-check-active-background-color;
        opacity: 1;
      }
    }
  }
}

.form-check-label {
  margin: $form-check-label-offset;

  font-size: $form-check-label-font-size;

  &:empty {
    display: none;
    margin: 0;
  }
}

.form-check-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  opacity: 0;

  &:checked ~ .form-check-mark {
    color: $form-check-active-color !important;
    border-color: transparent !important;
    background-color: $form-check-active-background-color !important;
    opacity: 1;
  }

  &:not(:checked) ~ .form-check-mark {
    color: transparent;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.form-check-mark {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: $form-check-mark-size;
  min-width: $form-check-mark-size;
  height: $form-check-mark-size;
  min-height: $form-check-mark-size;

  margin: 0;

  color: $form-check-mark-color;

  border-radius: $form-check-mark-radius;
  border: $form-check-mark-border-size solid $form-check-mark-color;
  background-color: $form-check-background;

  opacity: $form-check-mark-opacity;

  &:before {
    margin: auto;

    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: $form-check-mark-icon-size;

    content: "\f00c";

    transform: translate(0, 0.1px);
  }
}

