.form-group {
  label {
    display: inline-flex;

    margin: $form-group-label-margin;

    font-size: $form-group-label-font-size;
    font-weight: $form-group-label-font-weight;
    color: $form-group-label-color;

  }
}
