.form-control {
  &::placeholder {
    font-weight: $input-placeholder-font-weight;

    opacity: $input-placeholder-opacity;
  }

  //&:disabled, &[readonly] {
  //  color: $input-disabled-color;
  //
  //  opacity: $input-disabled-opacity;
  //}
}
