.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: $btn-height;

  text-transform: $btn-text-transform;

  letter-spacing: 0.05em;

  outline: none;
  box-shadow: none;

  &-primary, &-secondary, &-dark {
    color: $btn-color;
  }

  &-primary {
  }

  &-secondary {
  }

  &-light {
  }

  &-dark {
  }

  &.--gr-red {
    background-image: $gr-red-to-right-down;
  }

  &.--gr-blue {
    background-image: $gr-blue-green;
  }

  &.--caret {
    width: rem(24);
    height: rem(24);
    min-height: auto;

    padding: 0;

    font-size: rem(20);
    line-height: 1;

    border-radius: 50%;
    border: rem(4) solid var(--cl-gray-light);
    box-sizing: content-box;

    background: #EDEEF4;

    &.--is-toggled {
      transform: scaleY(-1);
    }
  }

  &.--play {
    width: rem(58);
    height: rem(58);
    min-height: auto;
    padding: 0;

    font-size: rem(30);
    line-height: 1;

    color: var(--cl-white);

    border-radius: 50%;
    border: rem(10) solid rgba(clr('white'), 0.2);
    box-shadow: 0 0 0 rem(8) rgba(clr('white'), 0.2);
    background: rgba(clr('white'), 0.3);
    box-sizing: content-box;
  }

  &.--info {
    width: rem(14);
    height: rem(14);
    min-height: auto;

    padding: 0;

    color: $cl-secondary;
    line-height: 1;

    opacity: 0.53;

    &:before {
      @include insert-fa-icons(rem(14), $fa-info-circle);
    }

    @include only-mouse {
      &:hover {
        opacity: 1;
      }
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;

    &.btn-primary, &.btn-secondary, &.btn-dark {
      color: $btn-color !important;
    }
  }

  &:not(:disabled):not(.disabled) {
    @include only-mouse {
      &.btn-primary {
        &:hover {
          background-color: $btn-primary-hover-bg-color;
        }
      }

      &.btn-secondary {
        &:hover {
          background-color: $btn-secondary-hover-bg-color;
        }
      }

      &.btn-light {
        &:hover {
          color: var(--cl-white);
          background-color: $btn-light-hover-bg-color;
        }
      }

      &.btn-dark {
        &:hover {
          color: initial;
          background-color: $btn-dark-hover-bg-color;
        }
      }

      &.--caret {
        &:hover {
          color: var(--cl-white);
          border-color: $cl-secondary !important;
          background: $cl-secondary-dark !important;
        }
      }

      &.--play {
        &:hover {
          color: $cl-secondary;

          border-color: rgba(clr('red'), 0.2);
          background: rgba(clr('red'), 0.3);
          box-shadow: 0 0 0 rem(8) rgba(clr('red'), 0.2);
        }
      }
    }
  }
}

