.loader-round {
  position: relative;

  display: inline-flex;


  &.--s32 {
    --loader-round-size: #{rem(32)};
  }

  &.--s48 {
    --loader-round-size: #{rem(48)};
  }

  &.--s64 {
    --loader-round-size: #{rem(64)};
  }

  // ** CSS loader
  //width: var(--loader-round-size, $loader-round-size);
  //height: var(--loader-round-size, $loader-round-size);

  //&:before {
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  bottom: 0;
  //  left: 0;
  //
  //  content: '';
  //
  //  border-radius: 100%;
  //  border: $loader-round-size-line solid $loader-round-color-bg;
  //  border-top-color: $loader-round-color-fill;
  //  background: transparent;
  //
  //  animation: loader-rounding 1s infinite linear;
  //}
  // ** /CSS loader

  svg {
    width: var(--loader-round-size, $loader-round-size);
    height: var(--loader-round-size, $loader-round-size);
  }

  svg path {
    &:nth-of-type(1) {
      fill: $loader-round-color-bg;
    }

    &:nth-of-type(2) {
      fill: $loader-round-color-fill;
    }
  }
}
