.tooltip {
  &-inner {
    line-height: 150%;
    text-align: left;
    font-weight: 600;

    filter: drop-shadow($sh-card);
  }

  &-btn {
    position: absolute;
    top: $tooltip-btn-top;
    right: $tooltip-btn-right;


    font-size: $tooltip-btn-size;
    color: $tooltip-btn-color;

    border: none;
    background: transparent;

    @include only-mouse {
      &:hover {
        color: $tooltip-btn-color-hover;
      }
    }
  }
}

/*
.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
  .tooltip-inner {
    box-shadow: inset 0 rem(-2) 0 $tooltip-arrow-color;
  }
}

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
  .tooltip-inner {
    box-shadow: inset rem(2) 0 0 $tooltip-arrow-color;
  }
}

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
  .tooltip-inner {
    box-shadow: inset 0 rem(2) 0 $tooltip-arrow-color;
  }
}

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
  .tooltip-inner {
    box-shadow: inset rem(-2) 0 0 $tooltip-arrow-color;
  }
}
*/
