body {
  color: #333333;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  background: #fff;
}

.course-info-left {
  color: #000;
}

.banner_sticky .course-highlights {
  background: transparent !important;
  box-shadow: none !important;
}

.banner_sticky .btn-call, .banner_sticky .btn-book {
  padding: 8px 12px !important;
  font-size: 13px !important;
}

.content_sticky {
  margin-top: 15em;
}

.top-nav {
  background: #26a1cb;
  padding: 8px 0;
  color: #fff;
}

.top-right {
  float: right;
  line-height: 0;
}

.contact-phn img, .contact-mail img {
  display: inline;
  margin-right: 5px;
}

.contact-phn {
  margin-right: 15px;
  vertical-align: middle;
}

.contact-mail {
  vertical-align: middle;
}

.social-icons {
  display: inline-block;
}

.social-icons i {
  color: #26a1cb;
  font-size: 20px;
  background: #fff;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  padding: 4px 0;
  border-radius: 50px;
}

.social-icons i:hover {
  color: #fff;
  background: #fe5555;
}

.social-icons span {
  display: inline-block;
  text-align: center;
  margin-left: 4px;
}

.social-icons p {
  font-size: 10px;
  margin: 0 0 9px 0;
}

.navbar-nav > li > a {
  color: #000;
  padding: 30px 15px;
}

.navbar-toggle {
  background-color: #26a1cb;
  margin-top: 32px;
  margin-bottom: 31px;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-brand {
  padding: 18px 0;
}

#navbar {
  padding: 15px 0;
}

.navbar-nav {
  float: right;
}

.nav a {
  color: #fff;
}

.navbar-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 20;
  background: #fff;

}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #26a1cb;
  color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #26a1cb;
  border-color: transparent;
  color: #fff;
}

.mega-dropdown {
  position: static !important;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 75%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  margin: 0 auto;
  min-width: 160px;
  font-size: 16px;
  text-align: left;
  list-style: none;
  background-color: #26a1cb;
  background-clip: padding-box;
  border: none;
  border: none;
  border-radius: 0px;
  float: none;
  right: 0;
  padding: 15px;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
  line-height: 2.5;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #fff;
  padding: 3px 5px;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  background: #cbf0fd;
  color: #333;
  padding-left: 15px;
}

.navbar-brand > img {
  display: block;
  width: 70%;
}

.menu-img {
  padding: 20px;
}

.banner {
  width: 100%;
  background: url("../../images/banner.jpg") no-repeat 50% 50%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: auto;
  background-size: cover;
  background-position: center;
  padding: 4em 0;

}

.black-bg {
  background: #000;
}

.banner h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 22px;
  text-align: left;
  text-shadow: 0px 0px 10px #343434;
}

.btn-reg:hover, .btn-more:hover, .btn-book:hover {
  background: #26a1cb !important;
}

.btn-book:hover, .btn-call:hover {
  background: #fe5555 !important;
}

.btn.btn-course:hover, .btn-more-videos:hover, .btn-reviews:hover, .btn-book:hover, #contact-submit:hover {
  background: #1f84a6;
  text-decoration: none;
}

.btn.btn-guide:hover {
  background: #fe5555;
}

.banner-sub-txt {
  font-size: 17px;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
}

.pink-bg-text {
  color: #fff;
  text-align: left;
  background: #fe5555;
  padding: 8px 12px;
}

.banner-left-sec {
  width: 75%;
  padding: 2em 0;
}

.btn-reg, .btn-more {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 30px;
  padding: 12px 15px;
  border-radius: 0;
  background: #1f84a6;
}

.btn-book {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 12px 15px;
  border-radius: 0;
}

.button {
  border-radius: 0px;
  padding: 12px 20px;
}

.btn:active, .btn.active {
  background-image: linear-gradient(to right, rgba(247, 46, 41, 1), rgba(201, 4, 4, 1));
}

.btn:hover, .btn:focus, .btn.focus {
  color: #fff;
}

.navbar {
  margin-bottom: 0;
  box-shadow: 0px 4px 15px 0px #aaa;
  z-index: 999;
}

.banner-left-sec .btn-course {
  margin-top: 30px;
}

.main-heading {
  color: #000;
  font-weight: 600;
  font-size: 40px;
  margin: 0 auto;
  width: 80%;
}

.text-center {
  text-align: center;
}

#clockdiv, #clockdivmob {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  background: #fe5555;
  width: 100%;
  padding: 15px 0;
}

#clockdiv > div, #clockdivmob > div {
  padding: 10px;
  border-radius: 3px;
  background: rgba(255, 255, 255, .4);
  display: inline-block;
}

#clockdiv div > span, #clockdivmob div > span {
  padding: 2px 8px;
  border-radius: 3px;
  background: #fff;
  display: inline-block;
  color: #000;
}

.smalltext {
  padding-top: 5px;
  font-size: 12px;
}

.sale-offer-box {
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

.sale-offer-box h2 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.sale-offer-box h3 {
  font-size: 24px;
  padding: 0 30px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.sale-offer-box p {
  font-size: 20px;
}

.sale-offer-box .price {
  font-size: 48px;
  font-weight: 600;
}

.btn-course, .btn-call, .btn-reviews {
  background: #26a1cb;
  color: #fff;
  padding: 12px 20px;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-guide {
  background: #fff;
  color: #000;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 15px;
}

.offer-btns {
  margin: 30px 0 20px;
}

.offer-btns a {
  margin: 0 10px;
}

.pad-70 {
  padding: 70px 0;
}

.why-points {
  text-align: center;
}

.why-points img {
  margin: 0 auto;
}

.why-points h2 {
  font-size: 24px;
  text-transform: uppercase;
  width: 80%;
  margin: 12px auto;
  line-height: 30px;
  min-height: 60px;
}

.grey-bg {
  background: #f7f5f5;
}

.fa-questions .btn.btn-more {
  margin: 5em auto 0;
  text-align: center;
  display: table;
}

.mar-b-2 {
  margin-bottom: 2em;
}

.mar-b-3 {
  margin-bottom: 3em;
}

.mar-b-20 {
  margin-bottom: 20px;
}

.mar-b-30 {
  margin-bottom: 30px;
}

.sub-heading {
  color: #888;
  text-transform: uppercase;
}

.session h1, .enroll h1, .satisfaction h1 {
  color: #26a1cb;
  font-weight: 700;
  font-size: 50px;
}

.session p, .enroll p, .satisfaction p {
  color: #333;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 16px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 10px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tcb-product-slider .carousel-control {
  width: 5%;
  background: none;
}

.tcb-product-item a {
  color: #147196;
}

.tcb-product-item a:hover {
  text-decoration: none;
}

.tcb-product-item .tcb-hline {
  margin: 10px 0;
  height: 1px;
  background: #ccc;
}

.tcb-product-info {
  padding: 15px;
}

.tcb-product-info h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 17px;
  margin-top: 15px;
}

.tcb-product-info p {
  color: #888;
  letter-spacing: 1px;
  font-size: 14px;
}

.star-rating i {
  margin: 0 3px;
  font-size: 18px;
  color: #26a1cb;
}

.video1, .video2 {
  position: relative;
}

.video1 img {
  position: absolute;
  top: -4em;
  left: -5em;
  z-index: -1;
}

.video2 img {
  position: absolute;
  bottom: -4em;
  right: -5em;
  z-index: -1;
}

.video1 iframe, .video2 iframe {
  width: 100%;
}

.mobile-carousel {
  display: none;
}

.btn-more-videos, #contact-submit {
  background: #26a1cb;
  color: #fff;
  text-transform: uppercase;
  margin-top: 5em;
}

.faq {
  background: #26a1cb;
}

.faq h1, .faq h5 {
  color: #fff;
}

.faq-bg {
  background-image: url('../../images/faq.jpg');
  background-repeat: repeat;
  background-size: auto;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.layer {
  background-color: rgba(38, 161, 203, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.faq-right {
  padding: 0 6em 0 2em;
}

.faq-right .main-heading {
  text-align: left;
  margin-bottom: 1em;
  width: 100%;
}

#accordion iframe {
  width: 100%;
  margin-top: 20px;
}

.faq h4:first-child:first-letter {
  float: left;
  color: #428BCA;
  font-size: 25px;
  line-height: 15px;
  padding-top: 0px;
  padding-right: 12px;
  padding-left: 3px;
}

blockquote {
  font-size: 16px;
  padding: 10px;
  margin: 0;
}

.pad-50 {
  padding: 50px 0;
}

#accordion .panel-default > .panel-heading {
  color: #333333;
  background-color: #e2f7fe;
  cursor: pointer;
}

#accordion .panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
  border-color: #a3dff3;
}

#accordion .panel-default > .panel-heading {
  border-color: #a3dff3;
}

.accreditations-sec p {
  padding: 3em 0 2em;
}

.brand-logo img {
  margin: 0 auto;
}

.brand-logo {
  padding: 0 0 30px 0;
}

.trusted-us {
  padding: 20px;
}

.trusted-us li {
  display: inline-block;
  padding: 15px 5px;
}

footer {
  background: #0d0d0d;
}

.footer-top img {
  margin: 0 auto;
}

.footer-menu li {
  display: inline-block;
  padding: 20px;
}

.footer-menu a {
  color: #fff;
}

.footer-menu a:hover {
  color: #26a1cb;
  text-decoration: none;
}

.footer-social-icons .social-icons i {
  color: #0d0d0d;
  font-size: 25px;
  background: #fff;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  padding: 8px 0;
  border-radius: 50px;
}

.footer-social-icons .social-icons i:hover {
  color: #fff;
  background: #26a1cb;
}

.footer-copyright {
  background: #000;
  padding: 15px 0;
}

.footer-copyright p {
  color: #fff;
  margin: 0;
  font-size: 13px;
}

.footer-top {
  padding: 50px 0 30px;
}

.footer-menu ul, .trusted-us ul {
  padding: 0;
}

.tcb-product-slider .carousel-control {
  top: 53%;
}

.course-info {
  background: #f7f5f5 url('../../images/bg-ab.jpg') no-repeat;
  padding: 30px 0;
  position: relative;
  background-position: center center;
  background-size: cover;
  box-shadow: 0px 0px 3px #999;
}

.vid iframe {
  width: 100%;
  min-height: 200px;
}

.vid::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.vid {
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.video-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  background: rgba(0, 0, 0, .7);
  cursor: pointer;
  display: none !important;
}

.video-popup.show-video {
  display: flex !important;
}

.iframe-wrapper {
  position: relative;
}

.iframe-wrapper .close-video {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: -20px;
  right: 0;
  background: url(https://image.flaticon.com/icons/svg/149/149690.svg) #fff;
  border-radius: 50%;
  background-size: cover;
}

.course-info-left h1 {
  font-size: 36px;
  line-height: 41px;
  font-weight: 700;
  /*text-shadow:0px 0px 5px #494c4c;*/
  color: #000;
  margin-bottom: 15px;
}

.fast-track {
  font-size: 36px;
  line-height: 41px;
  font-weight: 300;
  margin-bottom: 30px;
}

course-fee strike {
  font-size: 14px;
  color: #777;
}

.course-info-left .btn-book {
  background: #1f84a6;
}

.course-duration, .course-fee, .f-online {
  font-size: 22px;
  /*text-shadow: 0px 0px 5px #2e2f30;*/
}

.btn-space {
  margin: 30px 0;
}

.course-highlights #clockdiv > div {
  padding: 0px 5px;
  border-radius: 3px;
  background: none;
  display: inline-block;
}

#clockdivmob > div {
  padding: 0px 5px;
  border-radius: 3px;
  background: none;
  display: inline-block;
}

.course-highlights {
  padding: 0;
  /*--background: #fff;
  box-shadow: 0 5px 5px 1px #ccc;--*/
}

/*--.course-highlights #clockdiv div > span {
    padding: 2px 8px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
    color: #000;
    font-size: 20px;
}
#clockdivmob div > span {
    padding: 2px 8px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
    color: #000;
    font-size: 20px;
}--*/
.course-highlights #clockdiv {
  top: 200px;
  position: absolute;
  padding: 5px 0 8px;
}

#clockdivmob {
  top: 200px;
  position: absolute;
  padding: 5px 0 8px;
}

.course-highlights #clockdiv p {
  font-size: 15px;
  text-align: center;
  margin: 0;
}

#clockdivmob p {
  font-size: 15px;
  text-align: center;
  margin: 0;
}

.course-h-fee {
  margin-top: 8em;
  padding: 10px 20px;
  text-align: center;
}

.course-h-fee span {
  font-size: 36px;
  letter-spacing: -2px;
  margin-right: 8px;
}

.course-h-fee del {
  color: #6c757d;
}

.btn-book a {
  color: #fff;
}

.btn-space a {
  display: inline-block;
  margin-right: 15px;
}

.money-back {
  font-size: 13px;
}

.include-points {
  padding: 0 20px;
}

.include-points ul {
  padding-left: 15px;
}

.include-points p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.include-points ul li {
  line-height: 2;
}

.col-padding {
  padding-right: 50px !important;
}

.courses-left .main-heading {
  width: 100%;
  margin-bottom: 45px;
}

.course-breakdown .videos .circle-img {
  position: absolute;
  top: -2em;
  left: -4em;
  z-index: -1;
  width: 30%;
}

.course-breakdown .videos .square-img {
  position: absolute;
  right: 0px;
  bottom: -40px;
  z-index: -1;
}

#accordion2 .panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  outline: none;

}

#accordion2 .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #fff;
  border-bottom: 2px solid #6ccae9;
}

#accordion2 .panel.panel-default {
  border: none;
}

#accordion2 .panel-title {
  font-size: 16px;
}

#accordion2 .panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
}

#accordion2 .more-less {
  float: right;
  color: #26a1cb;
}

#accordion2 .panel-default > .panel-heading + .panel-collapse > .panel-body {
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
}

small {
  font-size: 75%;
}

.pricing-sec .main-heading, .fa-questions .main-heading, .benefits .main-heading {
  width: 100%;
  text-align: center;
}

.pricing-table {
  color: #7a90ff;
  min-height: 100vh;
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin-top: -115px;
}

.completion-receive {
  padding: 10px;
  min-height: 130px;
}

.mar-b-40 {
  margin-bottom: 40px;
}

.blue-text {
  color: #1f84a6;
}

.red-text {
  color: #8b0303;
}

.pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;
}

.pricing-item {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  -webkit-flex: 0 1 330px;
  flex: 0 1 330px;
}

.pricing-action {
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

.pricing-action:focus {
  outline: none;
}

.pricing-feature-list {
  margin-top: -90px !important;
  z-index: 1;
}

.pricing-palden .pricing-item {
  cursor: default;
  color: #000;
  background: #fff;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  border-radius: 20px 20px 10px 10px;
  margin: 1em;
  font-size: 16px;
}

@media screen and (min-width: 66.25em) {
  .pricing-palden .pricing-item {
    margin: 1em -0.5em;
  }

  .pricing-palden .pricing__item--featured {
    margin: 0;
    z-index: 10;
    box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
  }
}

.pricing-palden .pricing-deco {
  border-radius: 10px 10px 0 0;
  background: linear-gradient(135deg, #4097f9, #0af0c7);
  padding: 4em 0 9em;
  position: relative;
}

.pricing-palden .pricing-deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.pricing-palden .pricing-title {
  font-size: 0.75em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}

.pricing-palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.pricing-palden .pricing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}

.pricing-palden .pricing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.pricing-palden .icon {
  font-size: 2.5em;
}

.pricing-deco span {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  left: -67px;
  right: 0;
  top: 19px;
}

.pricing-name {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
}

.pricing-palden .pricing-price {
  font-size: 4em;
  font-weight: bold;
  padding: 0;
  color: #fff;
  margin: 0;
  line-height: 0.75;
}

.old-price {
  color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.old-price {
  position: relative;
  white-space: nowrap;
}

.old-price::after {
  border-top: 1px solid #fff;
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  left: 0;
  width: 20%;
  margin: 0 auto;
}

pricing-feature:nth-child(odd) {
  background: red;
}

.pricing-palden .pricing-currency {
  font-size: 0.15em;
  vertical-align: top;
}

.pricing-feature-list li:nth-child(2n) {
  background-color: #D3F4FF !important;
}

.pricing-palden .pricing-period {
  font-size: 0.15em;
  padding: 0 0 0 0.5em;
  font-style: italic;
}

.pricing-palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
}

.pricing-palden .pricing-feature-list {
  margin: 0;
  padding: 0.25em 0 .5em;
  list-style: none;
  text-align: center;
}

.pricing-palden .pricing-feature {
  padding: .8em 0;
  border-bottom: 1px solid #b3dbe8;
}

.listing-badges {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 0;
  overflow: hidden;
  height: 100px;
}

.tooltip {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-bottom: 1px dotted $blue;
  opacity: 1;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.tooltip .tooltip__content {
  background-color: #fff;
  border-radius: 4px;
  bottom: 100%;
  color: #000;
  left: 0;
  opacity: 0;
  padding: 1rem 0.5rem;
  position: absolute;
  text-align: center;
  transition: opacity 0.5s;
  visibility: hidden;
  width: 250px;
  z-index: 1;
  box-shadow: 0px 0px 10px 5px #b3dbe8;
  margin-left: 40px;
  /*display:none;*/
}

.tooltip .tooltip__content::after {
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
}

.tooltip:hover .tooltip__content {
  opacity: 1;
  visibility: visible;
}

.featured {
  float: left;
  transform: rotate(-45deg);
  left: -67px;
  top: 17px;
  position: relative;
  text-align: center;
  width: 200px;
  font-size: 13px;
  margin: 0;
  padding: 7px 10px;
  font-weight: 500;
  color: #fff;
}

.featured {
  background: #f0151f;
}

.pricing-details {
  padding: .8em 2em;
  border: 1px solid;
  margin: auto 3em 1em 3em;
  border-width: 5px;
  background: #fff;
  border: 2px solid;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-slice: 1;
  border-image-source: linear-gradient(135deg, #fd7d57, #f55d59);
  text-transform: uppercase;
}

.accreditations-sec .col-sm-2 {
  width: 20%;
  float: left;
}

.pricing-palden .pricing-action {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  background: linear-gradient(135deg, #4097f9, #0af0c7);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-transform: uppercase;
  font-weight: normal;
}

.pricing-palden .pricing-action:hover,
.pricing-palden .pricing-action:focus {
  background: linear-gradient(135deg, #fd7d57, #f55d59);
}

.pricing-palden .pricing-item--featured .pricing-deco {
  padding: 5em 0 8.885em 0;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 25px;
  color: #26a1cb;
}

.popup .popuptext {
  visibility: hidden;
  width: 250px;
  background-color: #fff;
  color: #888;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 34%;
  margin-left: -80px;
  box-shadow: 0 5px 15px 3px #ccc;
}

.popup li {
  line-height: 2.5;
  list-style-type: none;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.benefits .fa {
  font-size: 36px;
  background: -webkit-linear-gradient(#fe5555, #d22727);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-column {
  color: #000;
}

.benefits-row1 {
  margin-bottom: 25px;
}

.benefits .red-text {
  color: #e23737;
  font-weight: 500;
}

.people-videos iframe {
  width: 100%;
  margin-top: 30px;
}

.people-videos .carousel-control.left {
  background-image: none;
  top: 40%;
  position: absolute;
  left: -4em;
  color: #888;
}

.people-videos .carousel-control.right {
  background-image: none;
  top: 40%;
  position: absolute;
  right: -4em;
  color: #888;
}

.people-videos .tcb-product-info {
  padding: 50px 0 20px;
  text-align: center;
}

.people-videos a {
  margin: 0 auto;
  display: table;
}

.people-videos .btn.btn-reviews {
  margin-bottom: 70px;
}

.people-videos .owl-carousel .owl-dots.disabled, .people-videos .owl-carousel .owl-nav.disabled {
  display: block !important;
}

.review-videos .owl-carousel .owl-dots.disabled, .review-videos .owl-carousel .owl-nav.disabled {
  display: block !important;
}

.owl-next {
  position: absolute;
  top: 0;
  bottom: 9em;
  right: -26px;
  outline: none;
}

.owl-prev {
  position: absolute;
  top: 0;
  bottom: 9em;
  left: -26px;
  outline: none;
}

.owl-nav span {
  font-size: 5em;
}

.question:hover {
  color: #C21814;
}

.fa-questions .content {
  margin: 40px auto 0;
}

.fa-questions .btn-more.black-bg {
  margin: 50px auto 0;
  display: table;
}

.fa-questions .centerplease {
  margin: 0 auto;
  width: 100vw;
  font-size: 150%;
  text-align: center;
  margin-top: 3em;
  padding: 5px;
}

.fa-questions .question {
  position: relative;
  background: #ffffff;
  margin: 0;
  padding: 15px 10px 15px 50px;
  display: block;
  width: 100%;
  cursor: pointer;
  color: #000;
  box-shadow: 0 5px 15px 3px #ccc;
}

.fa-questions .answers {
  background: #fff;
  padding: 0px 15px;
  margin-bottom: 10px;
  height: 0;
  overflow: hidden;
  z-index: 15;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

.fa-questions .questions:checked ~ .answers {
  height: auto;
  opacity: 1;
  padding: 15px;
}

.fa-questions .plus {
  position: absolute;
  color: #000;
  margin-left: 10px;
  z-index: 15;
  font-size: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.fa-questions .questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fa-questions .questions {
  display: none;
}

faq-box {
  box-shadow: 0px 10px 20px #dedcdc;
  margin-bottom: 15px;
}

.pricing-sec {
  background: url('../../images/uni-bg.jpg');
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-position: top center;
  color: #fff;
}

.pricing-sec h1 {
  color: #fff;
}

.pricing-sec h4 {
  margin-bottom: 5em;
}

.show-desktop {
  display: block;
}

.hide-desktop {
  display: none;
}

.diploma-img, .certi-img {
  position: relative;
}

.diploma-img .circle {
  position: absolute;
  top: -40px;
  width: 35%;
  left: -60px;
  z-index: 111;
}

.certi-img .square {
  position: absolute;
  bottom: -40px;
  width: 35%;
  right: -15px;
  z-index: 111;
}

.diploma-img img:first-child, .certi-img img:first-child {
  z-index: 222;
  position: relative;
}

.acc-content p:last-child {
  margin-bottom: 4em;
}

.Moneris-img img {
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.Moneris-content {
  padding: 1.5em 5em 1.5em 2em;
}

.paypal-content {
  padding: 1.5em 2em 1.5em 5em;
}

.Moneris-content h1 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}

.paypal-content h1 {
  color: #000;
  font-weight: 600;
  margin-bottom: 20px;
}

.Moneris-content p {
  color: #fff;
  line-height: 1.5;
}

.paypal-content p {
  color: #000;
  line-height: 1.5;
}

.solution-sec {
  background: #d22727;
}

.show-tab {
  display: none;
}

.hide-tab {
  display: hide;
}

.acc-content p {
  line-height: 1.6;
}

.acc-logo img, .m-scholarship-img img, .t-scholarship-img img {
  width: 100%;
}

.eligible-pts ul {
  padding-left: 15px;
}

.eligible-pts ul li {
  line-height: 2;
}

.eligible-pts p {
  margin: 0;
}

.scholarship-app-form {
  background: url('../../images/app-bg.jpg');
  padding: 2em 0;
}

.t-scholarship-app-form {
  background: url('../../images/app-bg1.jpg');
  padding: 2em 0;
}

.custom-animated {
  display: inline-block;
  vertical-align: middle;
}

.scholarship-app-form a, .t-scholarship-app-form a {
  margin-left: 15px;
  font-size: 30px;
  color: #fff;
}

.custom-animated__angle {
  color: #fff;
  font-size: 5rem;
  line-height: 2rem;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
  transform: rotate(-90deg);
  margin-right: -15px !important;
}

.custom-animated__angle--1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.custom-animated__angle--2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.custom-animated__angle--3 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.t-links {
  background: #fff;
  padding: 15px;
  text-align: center;
  transition: all 0.3s ease;
  border: 3px solid transparent;
  box-shadow: 0 0 16px 0 rgba(39, 48, 75, 0.15);
  border-radius: 6px;
  min-height: 390px;
}

.t-links img {
  max-width: 100%;
}

.t-links .name {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0;
  display: block;
}

.Agencies .t-links {
  min-height: 436px;
}

.t-links .name:hover {
  color: #26a1cb;
  text-decoration: none;
}

.contact-section {
  margin-bottom: 40px;
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e9e8;
}

.contact-section .contact-icon {
  float: left;
  margin-bottom: 20px;
  display: inline-block;
  padding-right: 20px;
  position: initial;
  vertical-align: middle;
  display: flex;
  font-size: 30px;
  background: -webkit-linear-gradient(#fe5555, #d22727);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-section .contact-info {
  font-weight: 500;
  font-size: 17px;
}

.courses-list {
  padding: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.courses-list h3 {
  text-align: center;
  margin-top: 0;
  font-weight: 600;
  color: #26a1cb;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}

.courses-list h3:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  bottom: 0;
  left: 35%;
  border-bottom: 2px solid #f95050;
}

.courses-list em {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-style: normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.2);
}

.course-name h4 {
  margin: 0;
}

.course-details {
  display: inline-block;
  width: 100%;
  padding: 2.5em 1em;
  border-bottom: 1px solid #ddd;
}

.course-details:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.course-buttons a:first-child {
  background: #045b78;
  padding: 11px 15px;
  color: #fff;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 15px;
}

.course-buttons a:last-child {
  background: #26a1cb;
  padding: 11px 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}

.course-buttons a:first-child:hover, .course-buttons a:last-child:hover {
  background: #18d4cf;
  text-decoration: none;
}

.course-name a {
  color: #26a1cb;
  text-decoration: none;
}

.schema-faq-section {
  margin-bottom: 15px;
  border-radius: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-bottom: 1px solid #ddd;
}

.schema-faq-question {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 15px 65px 15px 15px;
  font-weight: 600;
}

.schema-faq-question:after {
  position: absolute;
  content: "+";
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  border-radius: 50%;
  font-size: 20px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schema-faq-section.active .schema-faq-question:after {
  content: "-";
  align-items: normal;
  line-height: 17px;
  border-color: #fff;
}

.schema-faq-question:hover, .schema-faq-section.active .schema-faq-question {
  background: #26a1cb;
  color: #fff;
}

.schema-faq-answer {
  display: none;
  margin: 20px 0 20px;
  padding: 0 20px;
}

.schema-faq-answer iframe {
  width: 100%;
}

.free-guide input {
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
  padding: 10px 15px;
  border: 2px solid #b3dbe8;
  background: #f9fcfd;
}

.checkbox input {
  width: auto;
  padding: 0;
  margin: -13px;
  font-size: 13px;
}

.guide-form {
  background: #fff;
  display: inline-block;
  padding: 25px 10px;
}

#contact-submit {
  padding: 12px 30px;
  margin-top: 15px;
  display: inline-block;
}

.checkbox label {
  font-size: 14px;
}

.people-videos.grey-bg.pad-70 {
  padding-bottom: 10px;
}

#timer div {
  display: inline-block;
  line-height: 1;
  font-size: 18px;
  color: #000;
}

#timer #days span {
  font-size: 12px;
  vertical-align: middle;
}

#timer span {
  display: inline-block;
  font-size: 20px;
  color: #000;
  margin: 0 0 0 3px;
}

#timer {
  /*background: #fe5555;
  padding: 0 15px 10px;*/
  margin-left: 10px;
  text-align: center;
  display: inline;
  background: -webkit-linear-gradient(#fe5555, #d22727);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

#timer p {

  color: #000;
  text-align: center;
  font-size: 13px;
  margin-bottom: 0;
}

.course-fee {
  float: left;
}

.left-time {
  font-size: 12px !important;
  vertical-align: middle;
}

.rectangle-list ol {
  counter-reset: li; /* Initiate a counter */
  margin-left: 0; /* Remove the default left margin */
  padding-left: 0; /* Remove the default left padding */
}

/* item  */
.rectangle-list ol > li {
  position: relative;
  list-style: none; /* Disable the normal item numbering */
}

.rectangle-list strong {
  margin-bottom: -15px;
  display: block;

}

/* item hover */
.rectangle-list p {
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: #fff;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

/* item hover */
.rectangle-list p:hover {
  background: #26a1cb;
  color: #fff !important;
}

.rectangle-list {
  width: 100%;
  color: #000;
}

/* number  */
.rectangle-list p:before {
  content: counter(li);
  counter-increment: li;

  position: absolute;
  left: -.5em;
  top: 50%;
  margin-top: -1em;
  color: #fff;
  background: #26a1cb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

/* number hover */
.rectangle-list p:after {
  position: absolute;
  left: -1em;
  top: 50%;
  margin-top: -.5em;

  content: '';
  border: .5em solid transparent;

  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.rectangle-list p:hover:after {
  left: 1.5em;
  border-left-color: #26a1cb;
}


/*-----------------MEDIA QUERY-----------------*/

@media all and (max-width: 300px) {
  body {
    font-size: 14px;
  }
}

@media all and (max-width: 500px) {
  .banner h1 {
    font-size: 45px;
  }

  .banner h2 {
    font-size: 20px;
  }

  .banner {
    padding: 7em 0 4em;
  }

  .banner h2 {
    width: 100%;

  }

  h1 {
    font-size: 28px !important;
  }
}

@media only screen and (min-width: 992px) {
  #accordion-button-1 {
    padding-top: 0;
  }

  .course-name h4 {
    text-align: left;
  }

  .banner_sticky .vid-slider, .banner_sticky .money-back {
    display: none !important;
  }

  .banner_sticky {
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 80px;
    z-index: 100;
    height: 175px;
    padding: 10px 0 !important;
  }

  .banner_sticky h1 {
    font-size: 30px !important;
    line-height: 10px !important;
    font-weight: 600 !important;
    margin-top: 10px !important;
    margin-bottom: 15px;
    /*text-shadow: 0px 0px 5px #2e2f30;*/
  }

  .banner_sticky .fast-track {
    font-size: 22px !important;
    line-height: 30px !important;
    margin-bottom: 15px;
    display: none;
  }

  .banner_sticky .btn-space {
    margin: 10px 0 0 0 !important;
  }

  .banner_sticky .course-duration, .banner_sticky .course-fee, .banner_sticky .f-online {
    font-size: 16px !important;
  }

  .banner_sticky #clockdiv {
    top: 12px !important;
  }

  .banner_sticky #timer {
    margin-top: 30px !important;
  }
}

@media screen and (max-width: 991px) {
  .icon-column {
    margin-bottom: 10px;
    color: #000;
  }

  .faq-left-img img {
    display: none;
  }

  .course-name a {
    margin-bottom: 10px;
    display: block;
  }

  .course-buttons {
    margin-top: 18px;
  }

  .course-name a {
    text-align: center;
  }

  .Moneris-content, .paypal-content {
    padding: 3em 3em 5em;
  }

  .show-tab {
    display: block;
  }

  .hide-tab {
    display: none;
  }

  .benefits-row1 {
    margin-bottom: 0;
  }

  .content_sticky {
    margin-top: 0;
  }

  .banner_sticky .vid-slider, .banner_sticky .money-back {
    display: block !important;
  }

  .banner_sticky {
    height: auto;
    padding: 25px 0 !important;
  }

  .pricing-palden .pricing-action {
    padding: 1em;
  }

  .pricing-palden .pricing-price {
    font-size: 4em;
  }

  .contact_info {
    font-size: 14px;
  }

  .banner_sticky, .content_sticky {
    position: relative !important;
  }

  .banner_sticky .vid-slider, .banner_sticky .money-back {
    position: relative;
  }

  .course-info-left h1, .fast-track {
    font-size: 28px;
  }

  .fast-track {
    margin-bottom: 5px;
  }

  .course-breakdown iframe {
    width: 100%;
  }

  .course-duration, .course-fee {
    font-size: 20px;
  }

  .banner-left-sec {
    width: 100%;
    padding: 2em 0;
  }

  .banner {
    padding: 2em 0;
  }

  .banner h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .sale-offer-box h3 {
    font-size: 15px;
    padding: 0 10px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 5px;
  }

  .sale-offer-box .price {
    font-size: 30px;
    font-weight: 600;
  }

  #clockdiv, #clockdivmob {
    font-size: 16px;
    padding: 10px 0;
  }

  .smalltext {
    font-size: 10px;
  }

  .btn-course, .btn-guide, .btn-reg {
    padding: 8px 10px;
  }

  .offer-btns a {
    margin: 0 3px;
  }

  .offer-btns {
    margin: 25px 0 15px;
  }

  .btn {
    font-size: 12px;
  }

  #clockdiv div > span, #clockdivmob div > span {
    padding: 0px 3px;
  }

  .pad-70 {
    padding: 35px 0;
  }

  .session h1, .enroll h1, .satisfaction h1 {
    font-size: 36px;
  }

  .session p, .enroll p, .satisfaction p {
    font-size: 13px;
  }

  .pad-50 {
    padding: 30px 0;
  }

  .panel-heading {
    padding: 10px 10px;
  }
}

@media only screen and (max-width: 1200px) {
}

@media all and (max-width: 768px) {
  .tcb-product-item {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .course-info-left {
    margin-top: 6em;
  }

  .Agencies .t-links {
    min-height: auto;
    background: none;
  }

  .t-links img {
    width: 60%;
    margin: 0 auto;
  }

  .t-links {
    min-height: auto;
    margin-bottom: 15px;
    box-shadow: none;
    padding: 0 15px;
  }

  .acc-logo img, .m-scholarship-img img, .t-scholarship-img img {
    margin-bottom: 20px;
  }

  .scholarship-app-form a, .t-scholarship-app-form a {
    font-size: 25px;
  }

  .diploma-img img:first-child, .certi-img img:first-child {
    margin: 0 auto;
  }

  .Accreditation {
    margin-bottom: 25px;
  }

  .owl-next {
    position: absolute;
    top: 0;
    bottom: 11em;
    right: -26px;
  }

  .owl-prev {
    position: absolute;
    top: 0;
    bottom: 11em;
    left: -26px;
  }

  .owl-nav span {
    font-size: 4em;
  }

  .benefit-pt {
    margin-bottom: 20px;
  }

  .benefits-row1 {
    margin-bottom: 0;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .show-desktop {
    display: none;
  }

  .hide-desktop {
    display: block;
  }

  .navbar-brand {
    padding: 20px 15px;
  }

  .navbar-brand > img {
    width: 100%;
  }

  .navbar-nav > li > a {
    color: #000;
    padding: 10px 15px;
  }

  .menu-img, .banner-left-sec span, .banner-sub-txt {
    display: none;
  }

  .mega-dropdown-menu > li > ul > li > a {
    color: #333;
    padding: 0px 5px;
    text-align: center;
  }

  .banner-left-sec {
    padding: 0em 0;
    text-align: center;
  }

  .banner h1 {
    font-size: 25px;
    margin-bottom: 0;
    text-align: center;
  }

  .btn-reg {
    margin: 20px 0;
  }

  .main-heading {
    font-size: 28px;
  }

  .navbar-nav {
    float: none;
    text-align: center;

  }

  .contact_info {
    text-align: center;
  }

  .top-right {
    float: none;
    text-align: center;
    margin-top: 10px;
  }

  .why-points h2 {
    font-size: 20px;
    text-transform: uppercase;
    width: 80%;
    margin: 10px auto;
    line-height: 30px;
    min-height: auto;
  }

  .btn-more-videos {
    margin-top: 2em;
  }

  .faq-bg {
    display: none;
  }

  .faq-right {
    padding: 0 2em;
  }

  .faq h5, .faq-right .main-heading {
    text-align: center;
  }

  .video-part iframe {
    margin-bottom: 15px;
  }

  .video-part img {
    display: none;
  }

  .tcb-product-slider .carousel-control {
    top: 4.5em;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {

}

@media screen and (max-width: 991px) and (min-width: 768px) {
  #timer div {
    font-size: 27px;
  }

  .t-links {
    min-height: 347px;
  }

  .benefit-pt {
    min-height: 206px;

  }

  .navbar-brand > img {
    width: 65%;
  }

  .navbar-nav > li > a {
    font-size: 12px;
    padding: 20px 5px;
  }

  .header-top p {
    font-size: 13px;
  }

  .banner h2 {
    font-size: 25px;
  }

  .main-heading {
    font-size: 30px;
  }

  .navbar-brand {
    padding: 11px 0;
  }

  .dropdown-menu {
    font-size: 13px;
  }

  .mega-dropdown-menu {
    width: 82%;
    padding: 10px 5px;
  }

  .why-points h2 {
    font-size: 17px;
    line-height: 22px;
    min-height: 44px;
  }

  .tcb-product-item {
    margin-bottom: 0;
  }

  .faq-right {
    padding: 0 2em 0 2em;
  }

  .faq-right .main-heading {
    font-size: 24px;
  }
}

@media only screen and (max-width: 479px) {
  .navbar-brand {
    width: auto;
    padding: 13px 15px;
  }

  .navbar-toggle {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .footer-menu li {
    display: inline-block;
    padding: 12px 5px 0px;
  }

  .contact-mail, .contact-phn {
    font-size: 12px;
  }

  .tcb-product-slider .carousel-control {
    top: 3em;
  }

  .Moneris-content, .paypal-content {
    padding: 1em 1em 2em;
  }

  .scholarship-app-form a, .t-scholarship-app-form a {
    font-size: 20px;
  }

  .custom-animated__angle {
    font-size: 3.5rem;
  }

  .course-buttons a:first-child {
    padding: 11px 10px;
    font-size: 14px;
  }

  .course-details {
    padding: 1em 0 2em;
  }
}
