//@import '../../../node_modules/swiper/swiper';
//@import '~swiper/swiper.scss';
//@import '../../../node_modules/swiper/swiper-bundle.css';

$themeColor: var(--cl-cl-gray) !default;
$colors: (
  'white': #ffffff,
  'black': clr('gray'),
) !default;

@import '../../../node_modules/swiper/swiper';
@import '../../../node_modules/swiper/components/navigation/navigation';

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: #{rem(37)};

  z-index: 1;

  border: none;
  outline: none;
  background: transparent;

  transition: all .3s linear;

  @include only-mouse {
    &:hover {
      color: $cl-primary
    }

    &:active {
      transform: scale(1.2);
    }
  }

  @include max-wide(phones) {
    --swiper-navigation-size: #{rem(24)};
  }
}

.swiper-button-prev {
  &:after {
    @include insert-fa-icons(var(--swiper-navigation-size), $fa-chevron-left);
  }
}

.swiper-button-next {
  &:after {
    @include insert-fa-icons(var(--swiper-navigation-size), $fa-chevron-right);
  }
}
