
.bg-white {
  background-color: var(--cl-white)
}


.fa-angle-down {
  padding-left: rem(10);
}

.fa-icon {
  font-size: rem(30);
  color: var(--cl-white);
  background-color: pink;
  margin: rem(2) rem(10) rem(5) 0;
  border-radius: rem(10);
  width: rem(50);
  height: 50px
}

.tab {
  margin-bottom: rem(20);
  width: rem(230);
}

.tab:hover {
  color: #E91E63 !important
}

.content_sticky {
  margin-top: 15em;
}

.top-nav {
  background: $cl-primary;
  padding: 8px 0;
  color: var(--cl-white);
}

.top-right {
  float: right;
  line-height: 0;
}

.contact-phn img, .contact-mail img {
  display: inline;
  margin-right: 5px;
}

.contact-phn {
  margin-right: rem(15);
  vertical-align: middle;
}

.contact-mail {
  vertical-align: middle;
}


.menu-img {
  padding: rem(20);
}

.black-bg {
  background: var(--cl-black);
}


.btn-reg:hover, .btn-more:hover, .btn-book:hover {
  background: $cl-primary !important;
}

.btn-book:hover, .btn-call:hover {
  background: $cl-secondary !important;
}

.btn.btn-course:hover, .btn-more-videos:hover, .btn-reviews:hover, .btn-book:hover, #contact-submit:hover {
  background: $cl-primary-dark;
  text-decoration: none;
}

.btn.btn-guide:hover {
  background: $cl-secondary;
}

.pink-bg-text {
  color: var(--cl-white);
  text-align: left;
  background: $cl-secondary;
  padding: 8px rem(12);
}

.btn-reg, .btn-more {
  color: var(--cl-white);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: rem(30);
  padding: 12px rem(15);
  border-radius: 0;
  background: $cl-primary-dark;
}

.btn-book {
  color: var(--cl-white);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 12px rem(15);
  border-radius: 0;
}

.button {
  border-radius: 0px;
  padding: 12px rem(20);
}

.btn:active, .btn.active {
  background-image: linear-gradient(to right, rgba(247, 46, 41, 1), rgba(201, 4, 4, 1));
}

.btn:hover, .btn:focus, .btn.focus {
  color: var(--cl-white);
}

.main-heading {
  color: var(--cl-black);
  font-weight: 600;
  font-size: 39px;
  margin: 0 auto;
  width: 80%;
}


#clockdiv, #clockdivmob {
  font-family: sans-serif;
  color: var(--cl-white);
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: rem(30);
  background: $cl-secondary;
  width: 100%;
  padding: 15px 0;
}

#clockdiv > div, #clockdivmob > div {
  padding: rem(10);
  border-radius: 3px;
  background: rgba(255, 255, 255, .4);
  display: inline-block;
}

#clockdiv div > span, #clockdivmob div > span {
  padding: 2px 8px;
  border-radius: 3px;
  background: var(--cl-white);
  display: inline-block;
  color: var(--cl-black);
}

.smalltext {
  padding-top: 5px;
  font-size: rem(12);
}

.btn-course, .btn-call, .btn-reviews {
  background: $cl-primary;
  color: var(--cl-white);
  padding: 12px rem(20);
  text-transform: uppercase;
  border-radius: 0;
}

.btn-guide {
  background: var(--cl-white);
  color: var(--cl-black);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px rem(15);
}

.offer-btns {
  margin: 30px 0 rem(20);
}

.offer-btns a {
  margin: 0 rem(10);
}

.grey-bg {
  background: #f7f5f5;
}

.fa-questions .btn.btn-more {
  margin: 5em auto 0;
  text-align: center;
  display: table;
}

.mar-b-2 {
  margin-bottom: 2em;
}

.mar-b-3 {
  margin-bottom: 3em;
}

.mar-b-20 {
  margin-bottom: rem(20);
}

.mar-b-30 {
  margin-bottom: rem(30);
}

.sub-heading {
  color: var(--cl-gray);
  text-transform: uppercase;
}

.session h1, .enroll h1, .satisfaction h1 {
  color: $cl-primary;
  font-weight: 700;
  font-size: rem(50);
}

.session p, .enroll p, .satisfaction p {
  color: $text-normal;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: rem(16);
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: rem(10);
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tcb-product-slider .carousel-control {
  width: 5%;
  background: none;
}

.tcb-product-item a {
  color: #147196;
}

.tcb-product-item a:hover {
  text-decoration: none;
}

.tcb-product-item .tcb-hline {
  margin: 10px 0;
  height: 1px;
  background: #ccc;
}

.tcb-product-info {
  padding: rem(15);
}

.tcb-product-info h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: rem(17);
  margin-top: rem(15);
}

.tcb-product-info p {
  color: var(--cl-gray);
  letter-spacing: 1px;
  font-size: rem(14);
}

.star-rating i {
  margin: 0 3px;
  font-size: rem(18);
  color: $cl-primary;
}

.video1, .video2 {
  position: relative;
}

.video1 img {
  position: absolute;
  top: -4em;
  left: -5em;
  z-index: -1;
}

.video2 img {
  position: absolute;
  bottom: -4em;
  right: -5em;
  z-index: -1;
}

.video1 iframe, .video2 iframe {
  width: 100%;
}

.mobile-carousel {
  display: none;
}

.btn-more-videos, #contact-submit {
  background: $cl-primary;
  color: var(--cl-white) !important;
  text-transform: uppercase;
  margin-top: 5em;
}

.faq {
  background: $cl-primary;
}

.faq h1, .faq h5 {
  color: var(--cl-white);
}

.faq-bg {
  min-height: 600px;
  width: 100%;
  background: url("../../images/faq.jpg") no-repeat;
  background-size: cover;
}

.layer {
  background-color: rgba(38, 161, 203, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.faq-right {
  padding: 0 6em 0 2em;
}

.faq-right .main-heading {
  text-align: left;
  margin-bottom: 1em;
  width: 100%;
}

.faq h4:first-child:first-letter {
  float: left;
  color: #428BCA;
  font-size: 25px;
  line-height: rem(15);
  padding-top: 0px;
  padding-right: rem(12);
  padding-left: 3px;
}

.pad-50 {
  padding: 50px 0;
}

#accordion .panel-default > .panel-heading {
  color: #333333;
  background-color: #e2f7fe;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 10px rem(15);
  margin: 2px 0;
  border-radius: 3px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: rem(16);
  color: inherit;
}

#accordion .panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
  border-color: #a3dff3;
}

#accordion .panel-default > .panel-heading {
  border-color: #a3dff3;
}

.accreditations-sec p {
  padding: 3em 0 2em;
}

.trusted-us {
  padding: rem(20);
}

.trusted-us li {
  display: inline-block;
  padding: 15px 5px;
}


.tcb-product-slider .carousel-control {
  top: 53%;
}

.vid iframe {
  width: 100%;
  min-height: 200px;
}

.vid::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.vid {
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.video-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  background: rgba(0, 0, 0, .7);
  cursor: pointer;
  display: none !important;
}

.video-popup.show-video {
  display: flex !important;
}

.iframe-wrapper {
  position: relative;
}

.iframe-wrapper .close-video {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: -20px;
  right: 0;
  background: url(https://image.flaticon.com/icons/svg/149/149690.svg) var(--cl-white);
  border-radius: 50%;
  background-size: cover;
}


.fast-track {
  font-size: 36px;
  line-height: 41px;
  font-weight: 300;
  margin-bottom: rem(30);
}

.course-duration, .course-fee, .f-online {
  font-size: 22px;
}

.btn-space {
  margin: 30px 0;
}

.course-highlights #clockdiv > div {
  padding: 0 5px;
  border-radius: 3px;
  background: none;
  display: inline-block;
}

#clockdivmob > div {
  padding: 0 5px;
  border-radius: 3px;
  background: none;
  display: inline-block;
}

.course-highlights {
  padding: 0;
  /*--background: var(--cl-white);
  box-shadow: 0 5px 5px 1px #ccc;--*/
}

.course-highlights #clockdiv p {
  font-size: rem(15);
  text-align: center;
  margin: 0;
}

.course-h-fee {
  margin-top: 8em;
  padding: 10px rem(20);
  text-align: center;
}

.course-h-fee span {
  font-size: 36px;
  letter-spacing: -2px;
  margin-right: 8px;
}

.course-h-fee del {
  color: #6c757d;
}

.btn-book a {
  color: var(--cl-white);
}

.btn-space a {
  display: inline-block;
  margin-right: rem(15);
}

.money-back {
  font-size: rem(13);
}

.include-points {
  padding: 0 rem(20);
}

.include-points ul {
  padding-left: rem(15);
}

.include-points p {
  font-size: rem(20);
  font-weight: 600;
  margin-top: rem(20);
}

.include-points ul li {
  line-height: 2;
}

.col-padding {
  padding-right: 50px !important;
}

#accordion2 .panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  outline: none;

}

#accordion2 .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: var(--cl-white);
  border-bottom: 2px solid #6ccae9;
}

.panel-body {
  padding: rem(15);
}

#accordion2 .panel.panel-default {
  border: none;
}

.panel-collapse.collapse {
  background: var(--cl-white);
  margin: -4px 0 2px;
  border-radius: 0 0 3px 3px;
}

#accordion2 .panel-title {
  font-size: rem(16);
}

#accordion2 .panel-title > a {
  display: block;
  padding: rem(15);
  text-decoration: none;
  color: var(--cl-black);
}


#accordion2 .more-less {
  float: right;
  color: $cl-primary;
}

#accordion2 .panel-default > .panel-heading + .panel-collapse > .panel-body {
  background: var(--cl-white);
  line-height: 1.5;
  font-size: rem(16);
  color: $text-normal;
}

small {
  font-size: 75%;
}

.fa-questions .main-heading, {
  width: 100%;
  text-align: center;
}


.completion-receive {
  padding: rem(10);
  min-height: 130px;
}

.mar-b-40 {
  margin-bottom: 40px;
}

.blue-text {
  color: $cl-primary-dark;
}


.listing-badges {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  width: 100%;
  display: block;
  font-size: rem(15);
  padding: 0;
  overflow: hidden;
  height: 100px;
}

.featured {
  float: left;
  transform: rotate(-45deg);
  left: -67px;
  top: rem(17);
  position: relative;
  text-align: center;
  width: 200px;
  font-size: rem(13);
  margin: 0;
  padding: 7px rem(10);
  font-weight: 500;
  color: var(--cl-white);
}

.featured {
  background: #f0151f;
}

.accreditations-sec .col-sm-2 {
  width: 20%;
  float: left;
}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 25px;
  color: $cl-primary;
}

.popup .popuptext {
  visibility: hidden;
  width: 250px;
  background-color: var(--cl-white);
  color: var(--cl-gray);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 34%;
  margin-left: -80px;
  box-shadow: 0 5px 15px 3px #ccc;
}

.popup li {
  line-height: 2.5;
  list-style-type: none;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--cl-white) transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.icon-column {
  color: var(--cl-black);
}

.review-videos .owl-carousel .owl-dots.disabled, .review-videos .owl-carousel .owl-nav.disabled {
  display: block !important;
}

.owl-next {
  position: absolute;
  top: 0;
  bottom: 9em;
  right: -26px;
  outline: none;
}

.owl-prev {
  position: absolute;
  top: 0;
  bottom: 9em;
  left: -26px;
  outline: none;
}

.owl-nav span {
  font-size: 5em;
}

.question:hover {
  color: #C21814;
}

.fa-questions .content {
  margin: 40px auto 0;
}

.fa-questions .btn-more.black-bg {
  margin: 50px auto 0;
  display: table;
}

.fa-questions .centerplease {
  margin: 0 auto;
  width: 100vw;
  font-size: 150%;
  text-align: center;
  margin-top: 3em;
  padding: 5px;
}

.fa-questions .question {
  position: relative;
  background: var(--cl-white);
  margin: 0;
  padding: 15px 10px 15px rem(50);
  display: block;
  width: 100%;
  cursor: pointer;
  color: var(--cl-black);
  box-shadow: 0 5px 15px 3px #ccc;
}

.fa-questions .answers {

  position: relative;
  z-index: 15;

  padding: 0 rem(15);
  margin-bottom: rem(10);
  height: 0;


  background: var(--cl-white);
  opacity: 0;
  transition: .7s ease;

  overflow: hidden;
}

.fa-questions .questions:checked ~ .answers {
  height: auto;
  opacity: 1;
  padding: rem(15);
}

.fa-questions .plus {
  position: absolute;
  color: var(--cl-black);
  margin-left: rem(10);
  z-index: 15;
  font-size: 2em;

  user-select: none;

  transition: .3s ease;
}

.fa-questions .questions:checked ~ .plus {
  transform: rotate(45deg);
}

.fa-questions .questions {
  display: none;
}

.show-desktop {
  display: block;
}

.hide-desktop {
  display: none;
}

.diploma-img .circle {
  position: absolute;
  top: -40px;
  width: 35%;
  left: -60px;
  z-index: 111;
}

.certi-img .square {
  position: absolute;
  bottom: -40px;
  width: 35%;
  right: -15px;
  z-index: 111;
}

.diploma-img img:first-child, .certi-img img:first-child {
  z-index: 222;
  position: relative;
}



.moneris-img img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.moneris-content {
  padding: 1.5em 5em 1.5em 2em;
}

.paypal-content {
  padding: 1.5em 2em 1.5em 5em;
}

.solution-sec {
  background: $cl-secondary-dark;
}

.show-tab {
  display: none;
}

.hide-tab {
  display: hide;
}

.eligible-pts ul {
  padding-left: rem(15);
}

.eligible-pts ul li {
  line-height: 2;
}

.eligible-pts p {
  margin: 0;
}

.scholarship-app-form {
  background: url('../../images/app-bg.jpg');
  padding: 2em 0;
}

.t-scholarship-app-form {
  background: url('../../images/app-bg1.jpg');
  padding: 2em 0;
}

.custom-animated {
  display: inline-block;
  vertical-align: middle;
}

.scholarship-app-form a, .t-scholarship-app-form a {
  margin-left: rem(15);
  font-size: rem(30);
  color: var(--cl-white) !important;
}

.custom-animated__angle {
  color: var(--cl-white);
  font-size: 5rem;
  line-height: 2rem;

  animation: blink 1s infinite;
  transform: rotate(-90deg);
  margin-right: -15px !important;
}

.custom-animated__angle--1 {

  animation-delay: 0.1s;
}

.custom-animated__angle--2 {

  animation-delay: 0.2s;
}

.custom-animated__angle--3 {
  animation-delay: 0.3s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.t-links {
  background: var(--cl-white);
  padding: rem(15);
  text-align: center;
  transition: all 0.3s ease;
  border: 3px solid transparent;
  box-shadow: 0 0 16px 0 rgba(39, 48, 75, 0.15);
  border-radius: 6px;
  min-height: 390px;
}

.t-links img {
  max-width: 100%;
}

.t-links .name {
  color: var(--cl-black);
  font-size: rem(20);
  font-weight: 600;
  margin: 15px 0;
  display: block;
}

.agencies .t-links {
  min-height: 436px;
}

.t-links .name:hover {
  color: $cl-primary;
  text-decoration: none;
}

.contact-section {
  margin-bottom: 40px;
  margin-top: 40px;
  padding-bottom: rem(30);
  border-bottom: 1px solid #e4e9e8;
}

.contact-section .contact-icon {
  float: left;
  margin-bottom: rem(20);
  padding-right: rem(20);
  position: initial;
  vertical-align: middle;
  display: flex;
  font-size: rem(30);
  background: -webkit-linear-gradient($cl-secondary, $cl-secondary-dark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-section .contact-info {
  font-weight: 500;
  font-size: rem(17);
}

.courses-list {
  padding: rem(20);
  display: inline-block;
  width: 100%;
  text-align: center;
}

.courses-list h3 {
  text-align: center;
  margin-top: 0;
  font-weight: 600;
  color: $cl-primary;
  display: inline-block;
  padding-bottom: rem(10);
  position: relative;
}

.courses-list h3:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  bottom: 0;
  left: 35%;
  border-bottom: 2px solid #f95050;
}

.courses-list em {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-style: normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.2);
}

.course-name h4 {
  margin: 0;
}

.course-details {
  display: inline-block;
  width: 100%;
  padding: 2.5em 1em;
  border-bottom: 1px solid #ddd;
}

.course-details:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.course-buttons a:first-child {
  background: #045b78;
  padding: 11px rem(15);
  color: var(--cl-white);
  text-transform: uppercase;
  margin-right: rem(10);
  font-size: rem(15);
}

.course-buttons a:last-child {
  background: $cl-primary;
  padding: 11px rem(15);
  color: var(--cl-white);
  text-transform: uppercase;
  font-size: rem(15);
}

.course-buttons a:first-child:hover, .course-buttons a:last-child:hover {
  background: #18d4cf;
  text-decoration: none;
}

.course-name a {
  color: $cl-primary;
  text-decoration: none;
}

.checkbox input {
  width: auto;
  padding: 0;
  margin: -13px 4px;
  font-size: rem(13);
  float: left;
}

#contact-submit {
  padding: 12px rem(30);
  margin-top: rem(15);
  display: inline-block;
}

.checkbox label {
  font-size: rem(14);
}


#timer div {
  display: inline-block;
  line-height: 1;
  font-size: rem(18);
  color: var(--cl-black);
}

#timer #days span {
  font-size: rem(12);
  vertical-align: middle;
}

#timer span {
  display: inline-block;
  font-size: rem(20);
  color: var(--cl-black);
  margin: 0 0 0 3px;
}

#timer {
  margin-left: rem(10);
  text-align: center;
  display: inline;
  background: -webkit-linear-gradient($cl-secondary, $cl-secondary-dark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

#timer p {

  color: var(--cl-black);
  text-align: center;
  font-size: rem(13);
  margin-bottom: 0;
}

.course-fee {
  float: left;
}

.left-time {
  font-size: 12px !important;
  vertical-align: middle;
}

.rectangle-list ol {
  counter-reset: li; /* Initiate a counter */
  margin-left: 0; /* Remove the default left margin */
  padding-left: 0; /* Remove the default left padding */
}

/* item  */
.rectangle-list ol > li {
  position: relative;
  list-style: none; /* Disable the normal item numbering */
}

.rectangle-list strong {
  margin-bottom: -15px;
  display: block;

}

/* item hover */
.rectangle-list p {
  display: block;
  padding: .4em .4em .4em .8em;

  margin: .5em 0 .5em 2.5em;
  background: var(--cl-white);
  text-decoration: none;

  transition: all .3s ease-out;
}

/* item hover */
.rectangle-list p:hover {
  background: $cl-primary;
  color: var(--cl-white) !important;
}

.rectangle-list {
  width: 100%;
  color: var(--cl-black);
}

/* number  */
.rectangle-list p:before {
  content: counter(li);
  counter-increment: li;

  position: absolute;
  left: -.5em;
  top: 50%;
  margin-top: -1em;
  color: var(--cl-white);
  background: $cl-primary;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

/* number hover */
.rectangle-list p:after {
  position: absolute;
  left: -1em;
  top: 50%;
  margin-top: -.5em;

  content: '';
  border: .5em solid transparent;

  transition: all .3s ease-out;
}

.rectangle-list p:hover:after {
  left: 1.5em;
  border-left-color: $cl-primary;
}

/*-----------------MEDIA QUERY-----------------*/

@media all and (max-width: 300px) {
  body {
    font-size: rem(14);
  }
}

@media only screen and (min-width: 992px) {
  #accordion-button-1 {
    padding-top: 0;
  }
  .course-name h4 {
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .icon-column {
    margin-bottom: rem(10);
    color: var(--cl-black);
  }
  .faq-left-img img {
    display: none;
  }
  .course-name a {
    margin-bottom: rem(10);
    display: block;
  }
  .course-buttons {
    margin-top: rem(18);
  }
  .course-name a {
    text-align: center;
  }
  .moneris-content, .paypal-content {
    padding: 3em 3em 5em;
  }
  .show-tab {
    display: block;
  }
  .hide-tab {
    display: none;
  }
  .content_sticky {
    margin-top: 0;
  }
  .contact_info {
    font-size: rem(14);
  }
 .content_sticky {
    position: relative !important;
  }
  .fast-track {
    margin-bottom: 5px;
  }

  .course-duration, .course-fee {
    font-size: rem(20);
  }


  #clockdiv, #clockdivmob {
    font-size: rem(16);
    padding: 10px 0;
  }
  .smalltext {
    font-size: rem(10);
  }
  .btn-course, .btn-guide, .btn-reg {
    padding: 8px rem(10);
  }
  .offer-btns a {
    margin: 0 3px;
  }
  .offer-btns {
    margin: 25px 0 rem(15);
  }

  #clockdiv div > span, #clockdivmob div > span {
    padding: 0 3px;
  }
  .pad-70 {
    padding: 35px 0;
  }
  .session h1, .enroll h1, .satisfaction h1 {
    font-size: 36px;
  }
  .session p, .enroll p, .satisfaction p {
    font-size: rem(13);
  }
  .pad-50 {
    padding: 30px 0;
  }
  .panel-heading {
    padding: 10px rem(10);
  }
}

@media only screen and (max-width: 1200px) {
}

@media all and (max-width: 768px) {
  .tcb-product-item {
    margin-bottom: rem(30);
  }
}

@media only screen and (max-width: 767px) {

  .agencies .t-links {
    min-height: auto;
    background: none;
  }
  .t-links img {
    width: 60%;
    margin: 0 auto;
  }
  .t-links {
    min-height: auto;
    margin-bottom: rem(15);
    box-shadow: none;
    padding: 0 rem(15);
  }
  .m-scholarship-img img, .t-scholarship-img img {
    margin-bottom: rem(20);
  }
  .scholarship-app-form a, .t-scholarship-app-form a {
    font-size: 25px;
  }
  .diploma-img img:first-child, .certi-img img:first-child {
    margin: 0 auto;
  }

  .owl-next {
    position: absolute;
    top: 0;
    bottom: 11em;
    right: -26px;
  }
  .owl-prev {
    position: absolute;
    top: 0;
    bottom: 11em;
    left: -26px;
  }
  .owl-nav span {
    font-size: 4em;
  }

  .show-desktop {
    display: none;
  }
  .hide-desktop {
    display: block;
  }

  .btn-reg {
    margin: 20px 0;
  }
  .main-heading {
    font-size: 28px;
  }

  .contact_info {
    text-align: center;
  }
  .top-right {
    float: none;
    text-align: center;
    margin-top: rem(10);
  }

  .btn-more-videos {
    margin-top: 2em;
  }
  .faq-bg {
    display: none;
  }
  .faq-right {
    padding: 0 2em;
  }
  .faq h5, .faq-right .main-heading {
    text-align: center;
  }
  .video-part iframe {
    margin-bottom: rem(15);
  }
  .video-part img {
    display: none;
  }
  .tcb-product-slider .carousel-control {
    top: 4.5em;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  #timer div {
    font-size: 27px;
  }
  .t-links {
    min-height: 347px;
  }

  .header-top p {
    font-size: rem(13);
  }

  .main-heading {
    font-size: rem(30);
  }

  .tcb-product-item {
    margin-bottom: 0;
  }
  .faq-right {
    padding: 0 2em 0 2em;
  }
  .faq-right .main-heading {
    font-size: 24px;
  }
}

@media only screen and (max-width: 479px) {
  .contact-mail, .contact-phn {
    font-size: rem(12);
  }
  .tcb-product-slider .carousel-control {
    top: 3em;
  }
  .moneris-content, .paypal-content {
    padding: 1em 1em 2em;
  }
  .scholarship-app-form a, .t-scholarship-app-form a {
    font-size: rem(20);
  }
  .custom-animated__angle {
    font-size: 3.5rem;
  }
  .course-buttons a:first-child {
    padding: 11px rem(10);
    font-size: rem(14);
  }
  .course-details {
    padding: 1em 0 2em;
  }
}

.btn.button.btn-course {
  color: var(--cl-white) !important;
}


.btn.btn-guide {
  color: #333 !important;
}

.btn.btn-guide:hover {
  color: var(--cl-white) !important;
}

.video-part {
  float: left;
  width: 100%;
}

.btn.button.btn-more-videos {
  color: var(--cl-white) !important;
}

.footer-menu a {
  color: var(--cl-white) !important;
}

.footer-menu a:hover {
  color: $cl-primary !important;
}

.img-responsive.circle, .img-responsive.square {
  width: auto;
  z-index: 1;
}

.course-name a {
  color: $cl-primary;
  text-decoration: none;
}

.course-name h4 {
  font-size: rem(18);
}

.course-buttons.text-center a {
  color: var(--cl-white) !important;
}

.contact-left .img-responsive {
  width: 100%;
}

.panel.panel-default a i.fa.fa-plus {
  float: right;
  font-weight: 500;
  font-size: rem(10);
  color: #2eacd8;
}
