/*
 *! Welcome to this project.
 * This file contains your main styles and all the imports of external styles
 * Developer(html/css coder):
 * >>>>>  Justtwic:
 * >>>>>>> tl:  @justtwic
 * >>>>>>> up:  https://www.upwork.com/freelancers/~01a55c9104e7bb7210)
 * >>>>>>> web: justtwic.art
 * >>>>>>> habr: https://career.habr.com/illyadeveloper
*/
//

//*------------------------------------------- core*
@import "core/functions";
@import "core/mixins";
@import 'core/var';
//*------------------------------------------- libs*
@import "libs/bootstrap";
@import "libs/swiper";
//*------------------------------------------- end libs*
@import 'core/global-extends';
@import 'core/root';
@import "core/base";
@import 'core/global-modificators';
@import "core/fonts";
//@import "core/icons";
//@import 'core/normalize';
@import 'core/scrolls';
@import 'core/animations';
//!*------------------------------------------- layout*
@import "layout/header";
@import "layout/footer";
//@import "layout/main";
//@import "layout/sections";
//*------------------------------------------- ui*
@import "ui/buttons";
@import "ui/forms";
@import "ui/loader-round";
@import "ui/tooltip";
//@import "ui/";
//@import "ui/";
//@import "ui/";

//*------------------------------------------- components*
@import "css-before";
@import "components/heading";
@import "components/button-menu";
@import "components/subscribe-card";
@import "components/rating";
@import "components/timer";
@import "components/sale-offer-box";
@import "components/first-offer";
@import "components/collapses-box";
@import "components/review-video-card";

@import "components/why-us";
@import "components/faq-about-us";
@import "components/faq-about-course";
@import "components/reason-videos";
@import "components/review-videos";
@import "components/accreditations";

@import "components/info-card";
@import "components/plan-card";
@import "components/sticker";
@import "components/course-info";
@import "components/courses-detail";
@import "components/benefits";
@import "components/course-content";
@import "components/pricing";
@import "components/download-guide";
@import "components/sticky-down-menu";

@import "components/useful-links";
//@import "components/";
//@import "components/";
//@import "components/";
//@import "components/";

/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
*/
