<section class="accreditations">
  <div class="container text-center">

    <article class="heading">
      <h1 class="heading__capt">Videos About Our Courses</h1>
      <p class="heading__text">
        We are proud to be accredited by ACCREDITAT, a leading TESOL & TEFL course accreditor.
      </p>
    </article>

    <article class="accreditations__logos align-items-center justify-content-center">
      <img src="/images/accreditations/1.png" alt="">
      <img src="/images/accreditations/2.png" alt="">
      <img src="/images/accreditations/3.png" alt="">
      <img src="/images/accreditations/4.jpg" alt="">
      <img src="/images/accreditations/5.png" alt="">
      <img src="/images/accreditations/6.svg" alt="">
      <img src="/images/accreditations/7.svg" alt="">
    </article>
  </div>
</section>
