<section class="benefits">
  <div class="container">
    <article class="heading">
      <h1 class="heading__capt">Benefits of UNI-Prep's Online TESOL Certificate</h1>
    </article>

    <article class="benefits__content justify-content-center">
      <div class="benefits__item">
        <i class="fa fa-language"></i>
        <p class="benefits__text mb-0">
          <span class="red-text">Bonus!</span>
          Free <a href="">Teach English Online</a> specialization course for a limited time.
        </p>
      </div>

      <div class="benefits__item">
        <i class="fa fa-thumbs-o-up"></i>
        <p class="benefits__text mb-0">No set schedule, study at your own pace.</p>
      </div>

      <div class="benefits__item">
        <i class="fa fa-clock-o"></i>
        <p class="benefits__text mb-0">Electronic certificate issued immediately and free shipping
          internationally.</p>
      </div>

      <div class="benefits__item">
        <i class="fa fa-life-ring"></i>
        <p class="benefits__text mb-0">99% course completion and pass rate.</p>
      </div>

      <div class="benefits__item">
        <i class="fa fa-map-signs"></i>
        <p class="benefits__text mb-0">Online course, can be done from anywhere.</p>
      </div>

      <div class="benefits__item">
        <i class="fa fa-certificate"></i>
        <p class="benefits__text mb-0">Accredited and internationally recognized course.</p>
      </div>

      <div class="benefits__item">
        <i class="fa fa-puzzle-piece"></i>
        <p class="benefits__text mb-0">Course includes videos and readings, no final exam.</p>
      </div>

      <div class="benefits__item">
        <i class="fa fa-search"></i>
        <p class="benefits__text mb-0">Tutor support and lifetime job search support.</p>
      </div>
    </article>
  </div>
</section>
