<section class="courses-detail overflow-hidden">
  <div class="container position-relative">
    <article class="heading">
      <h1 class="heading__capt">Course Details</h1>
    </article>

    <div class="row">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ClWZYrj-97I"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen="" width="560" height="300" frameborder="0"></iframe>
        </div>


        <h4 class="courses-detail__capt">Why Choose UNI-Prep for TESOL?</h4>
      </div>
      <div class="col-md-6 position-relative">
        <div class="courses-detail__accordions">
          @@include('../collapses/_collapses-in-course-detail.html')
        </div>

      </div>
    </div>
  </div>
</section>
