<section class="course-content">
  <div class="container">
    <article class="heading">
      <h1 class="heading__capt">Course Content</h1>
    </article>

    <article class="d-flex flex-column justify-content-center align-items-center">
      <div class="course-content__table w-100 text-center">

        <header class="course-content__table-head align-items-center">
          <mark class="course-content__table-col">General Teaching Subject Areas</mark>
          <mark class="course-content__table-col">Teaching ESL Subject Areas</mark>
        </header>

        <article class="course-content__table-item align-items-center">
          <mark class="course-content__table-col">Classroom Management</mark>
          <mark class="course-content__table-col">Spoken English</mark>
        </article>

        <article class="course-content__table-item align-items-center">
          <mark class="course-content__table-col">Assessments</mark>
          <mark class="course-content__table-col">Techniques & Strategies</mark>
        </article>

        <article class="course-content__table-item align-items-center">
          <mark class="course-content__table-col">Classroom Testing</mark>
          <mark class="course-content__table-col">Phonetics</mark>
        </article>

        <article class="course-content__table-item align-items-center">
          <mark class="course-content__table-col">Proficiency Testing</mark>
          <mark class="course-content__table-col">Written English</mark>
        </article>

        <article class="course-content__table-item align-items-center">
          <mark class="course-content__table-col">Curriculum Planning</mark>
          <mark class="course-content__table-col">Reading in English</mark>
        </article>

        <article class="course-content__table-item align-items-center">
          <mark class="course-content__table-col">Lesson Planning</mark>
          <mark class="course-content__table-col">Writing in English</mark>
        </article>

        <article class="course-content__table-item align-items-center">
          <mark class="course-content__table-col">Teaching Activities</mark>
          <mark class="course-content__table-col">English Vocabulary</mark>
        </article>
        <!--
              <article class="course-content__table-item">
                <mark class="course-content__table-col"></mark>
                <mark class="course-content__table-col"></mark>
              </article>-->
      </div>

      <button class="btn btn-primary" type="button">MORE INFORMATION</button>
    </article>

  </div>
</section>


