<section class="course-info">
  <div class="container">

    <div class="course-info__wrap">
      <article class="course-info__content">
        <h1 class="course-info__capt">Online TESOL / TEFL Certification</h1>
        <div class="course-info__type d-flex align-items-center">
          <mark class="course-info__type-item align-items-center">Online</mark>
          <mark class="course-info__type-item align-items-center">120 Hours</mark>
        </div>

        <p class="course-info__detail m-0">
          Teach English Abroad - Are you interested in working as an English language teacher around the world?
          UNI-Prep's online TESOL & TEFL Certificate program qualifies an individual to work as an English and ESL/EFL
          teacher internationally...
        </p>
      </article>

      <aside class="course-info__aside">
        @@include('../_info-card.html', {"infoCardType": ''})
        <span class="course-info__substrate"></span>
      </aside>
    </div>
  </div>
</section>
