<section class="download-guide position-relative overflow-hidden">
  <div class="download-guide__content container position-relative gm-z-index-step">

    <div class="row">
      <div class="download-guide__top d-flex flex-column col-md-7">
        <h1 class="download-guide__capt">Download a free Ultimate TEFL Guide</h1>
        <p class="download-guide__text">
          Learn how to conduct in-depth audits of your marketing performance with our
          step-by-step guide.
        </p>
      </div>

      <form class="download-guide__form col-md-5">
        <div class="form-group mb-0">
          <input type="email" class="form-control"
                 placeholder="First name">
        </div>

        <div class="form-group mb-0">
          <input type="text" class="form-control"
                 placeholder="Last name">
        </div>

        <div class="form-group mb-0">
          <input type="email" class="form-control"
                 placeholder="Email Address">
        </div>
        <div class="form-group mb-0">
          <input type="email" class="form-control"
                 placeholder="Phone number">
        </div>

        <div class="form-check mb-0">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

          <mark class="form-check-mark"></mark>

          <label class="form-check-label" for="defaultCheck1">
            I agree to terms and conditions.
          </label>
        </div>

        <button class="btn btn-primary mt-3" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
