<section class="faq-about-us position-relative">
  <div class="container position-relative">
    <div class="heading ml-0">
      <h1 class="heading__capt text-md-left">Frequently Asked Questions</h1>
    </div>
    <div class="faq-about-us__left">
      @@include('../collapses/_collapses-in-home.html')
    </div>
  </div>
</section>
