<section class="faq-about-course position-relative overflow-hidden">
  <div class="container position-relative d-flex flex-column align-items-center justify-content-center">
    <div class="heading ml-0">
      <h1 class="heading__capt">Frequently Asked Questions</h1>
    </div>
    <div class="faq-about-course__content w-100">
      @@include('../collapses/_collapses-in-plan.html')

      <div class="faq-about-course__bottom d-flex justify-content-center">
        <button class="btn btn-primary" type="button">More questions</button>
      </div>
    </div>
  </div>
</section>
