<section class="first-offer position-relative d-flex flex-column overflow-hidden">
  <div class="container d-flex flex-column flex-fill position-relative gm-z-index-step">
    <div class="row h-100 flex-fill ">
      <div class="first-offer__left col-md-7 my-auto text-center text-md-left">
        <h1 class="first-offer__capt">Get Certified to<br>Teach English<br>Abroad & Online</h1>
        <p class="first-offer__text">UNI-Prep is a world leader in TESOL & TEFL, Business & Management Courses</p>
        <button class="btn btn-primary">View Courses</button>
      </div>

      <div class="col-md-5 ">
        <div class="sale-offer-box d-flex flex-column justify-content-center h-100 text-center">
          <h1 class="sale-offer-box__first align-self-md-end">Big Sale!</h1>
          <h4 class="sale-offer-box__second align-self-md-end text-md-right">Get uoto 70% off TEFL Courses!</h4>
          <p
            class="sale-offer-box__third text-right text-uppercase d-flex align-items-center align-self-center align-self-md-end">
            <span>Courses <br>from</span>
            <span class="sale-offer-box__price">$199</span>
          </p>

          <div class="align-self-center">
            <mark class="sale-offer-box__end position-relative align-items-center justify-content-center text-nowrap">
              SALE ENDS IN
            </mark>

            @@include('../_timer.html')
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
