<section class="pricing overflow-hidden">
  <div class="container position-relative">
    <article class="heading">
      <h1 class="heading__capt">TESOL Comparison Table</h1>
      <p class="heading__text">Online TEFL Courses - 100% online and available 24/7 - 99% pass rate</p>
    </article>

    <article class="pricing__table">
      <div class="pricing__item">
        @@include('../plan-cards/_plan-card.html')
      </div>

      <div class="pricing__item">
        @@include('../plan-cards/_plan-card--most-popular.html')
      </div>

      <div class="pricing__item">
        @@include('../plan-cards/_plan-card--big.html')
      </div>
    </article>
  </div>
</section>
