<section class="reason-videos overflow-hidden">
  <div class="container">
    <div class="heading">
      <h1 class="heading__capt">Videos About Our Courses</h1>
    </div>

    <div class="reason-videos__videos">

      <div class="d-flex flex-column">
        <figure class="embed-responsive embed-responsive-16by9 position-relative">
          @@include('../_loader-round.html', { "class":'--s48 gm-abs-center' })

          <iframe class="embed-responsive-item"
                  src="https://www.youtube.com/embed/ClWZYrj-97I"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </figure>

        <h4 class="reason-videos__item-capt">Why Choose UNI-Prep for TESOL?</h4>
      </div>
      <div class="d-flex flex-column">
        <figure class="embed-responsive embed-responsive-16by9 position-relative">
          @@include('../_loader-round.html', { "class":'--s48 gm-abs-center' })

          <iframe class="embed-responsive-item"
                  src="https://www.youtube.com/embed/j02Ocub3eBM"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </figure>

        <h4 class="reason-videos__item-capt">Why Become an English / ESL Teacher</h4>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center">
      <a href="" class="btn btn-primary">View More videos</a>
    </div>
  </div>
</section>
