<section class="review-videos overflow-hidden @@classReviewVideos">
  <div class="container">

    <article class="heading">
      <h1 class="heading__capt">UNI-Prep features excellent teachers who help you master teaching strategies.</h1>
    </article>

    <article class="position-relative">
      <div id="reviewsSlider" class="swiper-container">
        <div class="swiper-wrapper">
          <article class="swiper-slide">
            <div class="review-video-card">
              <div class="review-video-card__video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3fqgDS8alH0"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>

              <div class="review-video-card__info d-flex flex-column py-3">
                <div class="review-video-card__top align-items-center text-nowrap">
                  <img class="review-video-card__avatar" src="images/ava_1.png" alt="">

                  <mark class="review-video-card__capt">Leilanie Lee</mark>

                  @@include('../_rating.html')
                </div>

                <p class="review-video-card__text d-inline-flex  position-relative">I have learned just how valuable this training
                  is and I am delighted to recommend them.</p>
              </div>
            </div>
          </article>

          <article class="swiper-slide">
            <div class="review-video-card">
              <div class="review-video-card__video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5U803xt2bw8"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>

              <div class="review-video-card__info d-flex flex-column py-3">
                <div class="review-video-card__top align-items-center text-nowrap">
                  <img class="review-video-card__avatar" src="images/ava_1.png" alt="">

                  <mark class="review-video-card__capt">Jasmin Buruno</mark>

                  @@include('../_rating.html')
                </div>

                <p class="review-video-card__text d-inline-flex  d-inline-flex position-relative">
                  Lorem ipsum dolor
                </p>
              </div>
            </div>
          </article>

          <article class="swiper-slide">
            <div class="review-video-card">
              <div class="review-video-card__video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zg9NuVmWabo"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>

              <div class="review-video-card__info d-flex flex-column py-3">
                <div class="review-video-card__top align-items-center text-nowrap">
                  <img class="review-video-card__avatar" src="images/ava_1.png" alt="">

                  <mark class="review-video-card__capt">Jacky Black</mark>

                  @@include('../_rating.html')
                </div>

                <p class="review-video-card__text d-inline-flex  position-relative">
                  Lorem ipsum dolor
                </p>
              </div>
            </div>
          </article>

          <article class="swiper-slide">
            <div class="review-video-card">
              <div class="review-video-card__video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3fqgDS8alH0"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>

              <div class="review-video-card__info d-flex flex-column py-3">
                <div class="review-video-card__top align-items-center text-nowrap">
                  <img class="review-video-card__avatar" src="images/ava_1.png" alt="">

                  <mark class="review-video-card__capt">Harry Wood</mark>

                  @@include('../_rating.html')
                </div>

                <p class="review-video-card__text d-inline-flex  position-relative">
                  Lorem ipsum dolor
                </p>
              </div>
            </div>
          </article>

          <article class="swiper-slide">
            <div class="review-video-card">
              <div class="review-video-card__video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5U803xt2bw8"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>

              <div class="review-video-card__info d-flex flex-column py-3">
                <div class="review-video-card__top align-items-center text-nowrap">
                  <img class="review-video-card__avatar" src="images/ava_1.png" alt="">

                  <mark class="review-video-card__capt">Mark Dev</mark>

                  @@include('../_rating.html')
                </div>

                <p class="review-video-card__text d-inline-flex  position-relative">
                  Lorem ipsum dolor
                </p>
              </div>
            </div>
          </article>

          <article class="swiper-slide">
            <div class="review-video-card">
              <div class="review-video-card__video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zg9NuVmWabo"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>

              <div class="review-video-card__info d-flex flex-column py-3">
                <div class="review-video-card__top align-items-center text-nowrap">
                  <img class="review-video-card__avatar" src="images/ava_1.png" alt="">

                  <mark class="review-video-card__capt">Nancy Drew</mark>

                  @@include('../_rating.html')
                </div>

                <p class="review-video-card__text d-inline-flex  position-relative">
                  Lorem ipsum dolor
                </p>
              </div>
            </div>
          </article>

          <article class="swiper-slide">
            <div class="review-video-card">
              <div class="review-video-card__video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3fqgDS8alH0"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>

              <div class="review-video-card__info d-flex flex-column py-3">
                <div class="review-video-card__top align-items-center text-nowrap">
                  <img class="review-video-card__avatar" src="images/ava_1.png" alt="">

                  <mark class="review-video-card__capt">Sam fox</mark>

                  @@include('../_rating.html')
                </div>

                <p class="review-video-card__text d-inline-flex  position-relative">
                  Lorem ipsum dolor
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>

      <button class="swiper-button-next d-inline-flex"></button>
      <button class="swiper-button-prev d-inline-flex"></button>
    </article>
  </div>
</section>
