<section class="why-us overflow-hidden">
  <div class="container">
    <div class="heading">
      <h1 class="heading__capt">Why UNI-Prep?</h1>
      <p class="heading__text">
        UNI-Prep has trained professionals at all levels in their careers in North America and around the
        world. UNI-Prep's head offices are located in San Diego, California in USA, though it has agents and partners
        worldwide.
      </p>
    </div>

    <div class="why-us__list text-center">
      <div class="why-us__item align-items-center align-content-center mx-auto">
        <img src="../images/accredited.svg" alt="" class="img-responsive">
        <h4 class="why-us__item-capt">ACCREDITED</h4>
        <p class="why-us__item-text mb-0">Our TESOL/TEFL courses are accredited and internationally recognized</p>
      </div>

      <div class="why-us__item align-items-center align-content-center mx-auto">
        <img src="../images/quality.svg" alt="" class="img-responsive">
        <h4 class="why-us__item-capt">Online & Self Paced</h4>
        <p class="why-us__item-text mb-0">Study at your own pace from anywhere in the world</p>
      </div>

      <div class="why-us__item align-items-center align-content-center mx-auto">
        <img src="../images/tutor.svg" alt="" class="img-responsive">
        <h4 class="why-us__item-capt">Videos & Tutor Support</h4>
        <p class="why-us__item-text mb-0">99% pass rate with most students finishing in 2 weeks</p>
      </div>

      <div class="why-us__item align-items-center align-content-center mx-auto">
        <img src="../images/money.svg" alt="" class="img-responsive">
        <h4 class="why-us__item-capt">MONEY BACK GUARANTEE</h4>
        <p class="why-us__item-text mb-0">Our certificates can be notarized and authenticated worldwide - guaranteed!</p>
      </div>

      <div class="why-us__item align-items-center align-content-center mx-auto">
        <img src="../images/lifetime-job.svg" alt="" class="img-responsive">
        <h4 class="why-us__item-capt">Lifetime Job Assistance</h4>
        <p class="why-us__item-text mb-0">Whether your goal is to teach English abroad or online, we are here to help</p>
      </div>

      <div class="why-us__item align-items-center align-content-center mx-auto">
        <img src="../images/free-shipping.svg" alt="" class="img-responsive">
        <h4 class="why-us__item-capt">Free International Shipping</h4>
        <p class="why-us__item-text mb-0">Our TESOL/TEFL courses are accredited and internationally recognized.</p>
      </div>
    </div>
  </div>
</section>
